<template>
    <div>
        <div style="margin-top: 20px; justify-content: center; align-items: center; display: flex">
            <el-row>
                <el-col>
                    <el-button size="mini" type="primary" class="btn-action" @click="addOwner"> <i class="fa-solid fa-plus" style="padding-right:5px"></i> Add owner </el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="editOwner"> <i class="fa-solid fa-pen" style="padding-right:5px"></i> Edit owner</el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="changeOwner"> <i class="fa-solid fa-user-gear" style="padding-right:5px"></i> Change owner </el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="deleteOwner"> <i class="fa-solid fa-xmark" style="padding-right:5px"></i> Delete owner</el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="removeOwner"> <i class="fa-solid fa-eraser" style="padding-right:5px"></i>Remove owner</el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="getAllOwner"> <i class="fa-solid fa-rotate-right" style="padding-right:5px"></i> Refresh</el-button>
                    <el-button @click="backPageOwner" v-if="historyOwnerPage.length != 1" size="mini" type="primary"><i class="fa-solid fa-arrow-left-long" style="margin-right: 10px"></i>Back</el-button>       
                </el-col>
            </el-row>
        </div>
        <div id="ownerDiv" style="margin-top: 20px; height: 75vh; overflow-y: auto">
            <div style="width: 98%; margin-left: 1%; margin-right: 1%;">
                <table id="ownerTable" class="styled-table" style="width: 100%;">
                    <thead class="header" style="white-space: nowrap;">
                        <th>STT</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Mode</th>
                        <th>Phone no.</th>
                        <th>Email</th>
                        <th>Is delete</th>
                        <th>Option
                            <i @click="openSearchOwner" v-if="searchingOwner.option == false" class="fa-solid fa-arrow-down"></i>
                            <i @click="openSearchOwner" v-else class="fa-solid fa-arrow-up"></i>
                        </th>
                    </thead>
                    <tbody>
                        <tr v-if="searchingOwner.option">
                            <td>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-input size="mini" type="primary" v-model="searchingOwner.name"></el-input>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-input size="mini" type="primary" v-model="searchingOwner.address"></el-input>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-input size="mini" type="primary" v-model="searchingOwner.city"></el-input>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-select size="mini" v-model="searchingOwner.mode">
                                    <el-option label="< Select >" value=""> </el-option>
                                    <el-option label="OWNER1" value="OWNER1"> </el-option>
                                    <el-option label="OWNER2" value="OWNER2"> </el-option>
                                    <el-option label="OWNER3" value="OWNER3"> </el-option>
                                    <el-option label="OWNER4" value="OWNER4"> </el-option>
                                    <el-option label="OWNER5" value="OWNER5"> </el-option>
                                    <el-option label="USER" value="USER"> </el-option>
                                </el-select>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-input size="mini" type="primary" v-model="searchingOwner.phone_no"></el-input>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-input size="mini" type="primary" v-model="searchingOwner.email"></el-input>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-select size="mini" v-model="searchingOwner.delete">
                                    <el-option label="< Select >" value="null"> </el-option>
                                    <el-option label="False" value="false"> </el-option>
                                    <el-option label="True" value="true"> </el-option>
                                </el-select>
                            </td>
                        </tr>
                        <tr @dblclick="getOwnerChild(index)" @click="selectRowOwner(index)" class="active-row" v-for="(item, index) in ownerList" :key="index" ref="tableOwner">
                            <td>
                                {{ indexUser + index + 1}}
                            </td>
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.address}}
                            </td>
                            <td>
                                {{item.city}}
                            </td>
                            <td>
                                {{item.mode}}
                            </td>
                            <td>
                                {{item.phone_no}}
                            </td>
                            <td>
                                {{item.email}}
                            </td>
                            <td style="text-transform: capitalize;">
                                {{item.isDeleted}}
                            </td>
                            <td @click="selectedOwnerInfo($event, index)" style="cursor: pointer;">
                                <i class="fa-solid fa-window-maximize"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <PageAlign 
                    ref="OwnerPageAlign" 
                    :page-user="this.pageOwner" 
                    :display-page-user="this.displayPageOwner" 
                    :page-user-instance="this.pageOwnerInstance" 
                    :current-page="this.currentPageOwner" 
                    title="OwnerPageAlign"
                    :option.sync="this.optionOwner"
                    @update-page="updateOwnerPage">
                </PageAlign>
            </div>
        </div>
        <el-dialog
            :visible.sync="signOwnerList"
            :title="title"
            width="35%"
            align-center
            :before-close="handleCloseOwnerList"
            draggable
        >
            <el-form label-width="100px" label-position="left" size="small">
                <el-form-item label="Type">
                    <el-select :disabled = "disableType" style="width:100%" v-model="owner.mode">
                        <el-option v-if="roleInformation != 'OWNER2' && roleInformation != 'OWNER2' && roleInformation != 'OWNER3' && roleInformation != 'OWNER4' && roleInformation != 'OWNER5'" label="OWNER1" value="OWNER1"> </el-option>
                        <el-option v-if="roleInformation != 'OWNER3' && roleInformation != 'OWNER4' && roleInformation != 'OWNER5'" label="OWNER2" value="OWNER2"> </el-option>
                        <el-option v-if="roleInformation != 'OWNER4' && roleInformation != 'OWNER5'" label="OWNER3" value="OWNER3"> </el-option>
                        <el-option v-if="roleInformation != 'OWNER5'" label="OWNER4" value="OWNER4"> </el-option>
                        <el-option label="OWNER5" value="OWNER5"> </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Ref-owner">
                    <el-select :disabled ="disableRef" style="width:100%" v-model="owner.ref_id">
                        <el-option v-for="(item, index) in ownerNameList" :key="index" :label="item.name" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Name">
                    <el-input v-model="owner.name"></el-input>
                </el-form-item>
                <el-form-item label="Full name">
                    <el-input v-model="owner.full_name"></el-input>
                </el-form-item>
                <el-form-item label="Tax code">
                    <el-input v-model="owner.tax_code"></el-input>
                </el-form-item>
                <el-form-item label="Address">
                    <el-input v-model="owner.address"></el-input>
                </el-form-item>
                <el-form-item label="City">
                    <el-input v-model="owner.city"></el-input>
                </el-form-item>
                <el-form-item label="Country">
                    <el-input v-model="owner.country"></el-input>
                </el-form-item>
                <el-form-item label="Phone no.">
                    <el-input v-model="owner.phone_no"></el-input>
                </el-form-item>
                <el-form-item label="email">
                    <el-input v-model="owner.email"></el-input>
                </el-form-item>
                <el-form-item label="Is Delete">
                    <el-select style="width:100%" v-model="owner.isDeleted">
                        <el-option label="True" :value = true> </el-option>
                        <el-option label="False" :value = false> </el-option>
                    </el-select>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button type="danger" @click="handleCloseOwnerList()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleConfirm()" size="small">Confirm</el-button>
            </span>

        </el-dialog>
        <el-dialog
            :visible.sync="signUserList"
            title="List Owner"
            align-center
            :before-close="handleCloseUserList"
            draggable
            width="1050px"
        >
            <userView :owner-current="this.ownerChosen" @update-user-owner="upedateUserChosen"></userView>
            <span slot="footer" class="dialog-footer">
                <el-button type="danger" @click="handleCloseUserList()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleUserListConfirm()" size="small">Confirm</el-button>
            </span>
        </el-dialog>
        <el-dialog
            :visible.sync="signShowOwner"
            title="Edit Owner"
            align-center
            :before-close="handleCloseOwner"
            custom-class="location-class"
            draggable
        >
            <location-view ref="locationView" @update-data="updateData" :ownerData.sync="this.ownerList[this.rowCurrent]" style="width: 100%;"></location-view>
            <span slot="footer" class="dialog-footer">
                <el-button type="danger" @click="handleCloseOwner()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleOwnerConfirm()" size="small">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
    
</template>

<script>
/* eslint-disable */
import * as ownerAPI from '@/api/ownerAPI/ownerAPI.js'
import PageAlign from '../pageAlign/PageAlign.vue'
import userView from '../UserView/userView.vue'
import locationView from '../LocationView/index.vue'

export default {
    name : 'ownerView',
    components: {
        PageAlign,
        userView,
        locationView
    },
    data() {
        return {
            ownerList : [],
            signShowOwner : false,
            attachment : [],
            sl : 5,
            indexUser : 0,
            groupUserList : [],
            userList : [],
            userChosen : '',
            signOwnerList : false,
            signUserList : false,
            title : "Add Owner",
            roleInformation : '',
            selectedCheckedIndex: [],
            rowCurrent : '',
            disableRef : true,
            disableType : true,
            ownerSelectList : [],
            ownerNameList : [],
            ownerChosen : {},
            signMode : 'first',
            currentId : '',
            owner : {
                ref_id : '',
                name : '',
                address : '',
                full_name : '',
                tax_code : '',
                city : '', 
                state : '',
                country : '',
                phone_no : '',
                fax : '',
                email : '',
                mode : '',
                pre : "",
                isDeleted : false
            },
            countOwner : '',
            optionOwner : {
                mode : ''
            },
            searchingOwner : {
                option : '',
                name : '',
                address : '',
                city : '',
                mode : '',
                phone_no : '',
                email : '',
                isDeleted : ''
            },
            pageOwner : {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            },
            displayPageOwner : {
                second : true,
                third : true,
                dot : true,
                end : true
            },
            pageOwnerInstance : {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            },
            currentPageOwner : {
                nextP : '',
                previousP : '',
                current : 1,
            },
            historyOwnerPage : [],
        }
    },
    async beforeMount() {
        this.roleInformation = localStorage.getItem('role')
    },
    watch: {
        "owner.mode" : async function(newValue) {
            if(this.title == "Add Owner") {
                if(newValue == "OWNER1") {
                    this.disableRef = true;
                    this.owner.ref_id = "root"
                } else if(newValue == "OWNER2") {
                    this.ownerNameList = await ownerAPI.findParent(newValue)
                    this.disableRef = false
                } else if(newValue == "OWNER3") {
                    this.disableRef = false
                    this.ownerNameList = await ownerAPI.findParent(newValue)
                } else if(newValue == "OWNER4") {
                    this.disableRef = false
                    this.ownerNameList = await ownerAPI.findParent(newValue)
                } else if(newValue == "OWNER5") {
                    this.disableRef = false
                    this.ownerNameList = await ownerAPI.findParent(newValue)
                }
            } else {
                if(newValue == "OWNER1") {
                    this.disableRef = true
                    this.ownerNameList = [{
                        id : this.owner.ref_id,
                        mrid : this.owner.ref_id,
                        name : "root"
                    }]
                } else if(newValue == "OWNER2") {
                    this.disableRef = true
                    this.ownerNameList = await ownerAPI.findParent(newValue)
                    if(!this.ownerNameList.map(x => x.id).includes(this.owner.ref_id)) {
                        this.disableRef = false
                    }
                } else if(newValue == "OWNER3") {
                    this.disableRef = true
                    this.ownerNameList = await ownerAPI.findParent(newValue)
                    if(!this.ownerNameList.map(x => x.id).includes(this.owner.ref_id)) {
                        this.disableRef = false
                    }
                } else if(newValue == "OWNER4") {
                    this.disableRef = true
                    this.ownerNameList = await ownerAPI.findParent(newValue)
                    if(!this.ownerNameList.map(x => x.id).includes(this.owner.ref_id)) {
                        this.disableRef = false
                    }
                } else if(newValue == "OWNER5") {
                    this.disableRef = true
                    this.ownerNameList = await ownerAPI.findParent(newValue)
                    if(!this.ownerNameList.map(x => x.id).includes(this.owner.ref_id)) {
                        this.disableRef = false
                    }
                }
            } 
        }
    },
    methods : {
        async addOwner() {
            this.signOwnerList = true
            this.title = 'Add Owner'
            this.disableType = false
        },
        async editOwner() {
            if(this.rowCurrent !== '') {
                this.signOwnerList = true
                this.title = 'Edit Owner'
                this.disableType = true
                this.owner = JSON.parse(JSON.stringify(this.ownerList[this.rowCurrent]))

            } else {
                this.$message.error("Row must be chosen")
            }
        },
        async roleToInt(data) {
            if(data == "ADMIN") {
                return 1
            } else if(data == "OWNER1") {
                return 2
            } else if(data == "OWNER2") {
                return 3
            } else if(data == "OWNER3") {
                return 4
            } else if(data == "OWNER4") {
                return 5
            } else if(data == "OWNER5") {
                return 6
            } else if(data == "USER") {
                return 7
            }
        },
        async selectChecked(index) {
            if (this.selectedCheckedIndex.includes(index)) {
                this.selectedCheckedIndex = this.selectedCheckedIndex.filter(item => item !== index); // Bỏ chọn hàng nếu đã được chọn trước đó
            } else {
                this.selectedCheckedIndex = [index]; // Chọn hàng mới
            }
        },
        async changeOwner() {
            if(this.rowCurrent !== '') {
                this.signUserList = true
            } else {
                this.$message.error("Row must be chosen")
            }
        },
        async deleteOwner() {
            try {
                if(this.rowCurrent !== "") {
                    const rs = ownerAPI.deleteOwner(this.ownerList[this.rowCurrent], true)
                    this.$message.success("Successful")

                } else {
                    this.$message.error("Row must be chosen")
                }
            } catch(err) {
                this.$message.error("Delete failed")
            }
            
        },
        async removeOwner() {
            const rs = await ownerAPI.removeOwner(this.ownerList[this.rowCurrent])
            this.$message.success("Successful")
        },
        async getAllOwner() {
            // this.ownerSelectList = await ownerAPI.getAllOwnerAndParent()
            // this.ownerNameList = this.ownerSelectList.map(x => x.name)
            try {
                this.countOwner = await ownerAPI.countByCreatedAndPre()
                this.pageOwner = {
                    first : 1,
                    second : 2,
                    third : 3,
                    dot : "...",
                    end : 10,
                }
                this.displayPageOwner = {
                    second : true,
                    third : true,
                    dot : true,
                    end : true
                }

                this.pageOwnerInstance = {
                    first : "",
                    second : "",
                    third : "",
                    dot : "",
                    end : "",
                }

                this.currentPageOwner = {
                    nextP : '',
                    previousP : '',
                    current : 1
                }
                let sumOfPage = Math.floor(parseInt(this.countOwner) / this.sl)
                let remainder = parseInt(this.countOwner) % this.sl
                if(remainder == 0) {
                    if(sumOfPage < 4) {
                        this.displayPageOwner.dot = false
                        this.displayPageOwner.end = false
                        this.pageOwner.end = sumOfPage
                        if(sumOfPage <3) {
                            this.displayPageOwner.third = false
                        }
                        if(sumOfPage <2) {
                            this.displayPageOwner.second = false
                        }
                    } else if(sumOfPage == 4) {
                        this.displayPageOwner.dot = false
                        this.pageOwner.end = sumOfPage
                    } else {
                        this.pageOwner.end = sumOfPage
                    }
                } else {
                    if(sumOfPage < 3) {
                        if(sumOfPage <2) {
                            this.displayPageOwner.third = false
                        }
                        if(sumOfPage <1) {
                            this.displayPageOwner.second = false
                        }
                        this.displayPageOwner.dot = false
                        this.displayPageOwner.end = false
                        this.pageOwner.end = sumOfPage + 1
                    } else if(sumOfPage == 3) {
                        this.displayPageOwner.dot = false
                        this.pageOwner.end = sumOfPage + 1
                    } else {
                        this.pageOwner.end = sumOfPage + 1
                    }
                }
                this.ownerList = await ownerAPI.findByCreatedAndPre(1, this.sl, "1")
                this.optionOwner.mode = 'update'
                if(this.$refs['tableOwner'] != undefined) {
                    this.$refs['tableOwner'].forEach((element) => {
                        element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                        element.style.color = 'black'
                    })
                }
                this.$refs.OwnerPageAlign.firstUserPage();
                this.historyOwnerPage = []
                this.signMode = 'first'
                this.currentId = JSON.parse(JSON.stringify(this.$store.state.user.user_id))
                this.historyOwnerPage.push({
                    currentId : JSON.parse(JSON.stringify(this.$store.state.user.user_id)),
                    signMode : JSON.parse(JSON.stringify(this.signMode)),
                })
            } catch(e) {
                this.$message.error("Cannot load owner data")
            }
        },
        async getOwnerChild(index) {
            this.rowCurrent = index
            let ref_id = this.ownerList[index].id
            this.countOwner = await ownerAPI.countByRefId(ref_id)
            let ownerTemp = await ownerAPI.findByRef(ref_id, 1, this.sl)
            if(ownerTemp == null) {
                this.ownerList = []
            } else {
                this.ownerList = ownerTemp
            }
            this.currentId = ref_id
            this.signMode = "noFirst"
            this.historyOwnerPage.push({
                pageOwner : JSON.parse(JSON.stringify(this.pageOwner)),
                pageOwnerInstance : JSON.parse(JSON.stringify(this.pageOwnerInstance)),
                displayPageOwner : JSON.parse(JSON.stringify(this.displayPageOwner)),
                currentPageOwner : JSON.parse(JSON.stringify(this.currentPageOwner)),
                signMode : JSON.parse(JSON.stringify(this.signMode)),
                currentId : JSON.parse(JSON.stringify(this.currentId)),
            })
            this.pageOwner = {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            }
            this.displayPageOwner = {
                second : true,
                third : true,
                dot : true,
                end : true
            }

            this.pageOwnerInstance = {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            }
            await this.pageAlignCalc(this.countOwner, this.pageOwner, this.displayPageOwner)
            if(this.optionOwner.mode == 'update') {
                this.$refs.OwnerPageAlign.firstUserPageNoMode()
            } else if(this.optionOwner.mode == 'search') {
                this.$refs.OwnerPageAlign.firstUserPageNoSearch()
            }
            this.indexUser = 0
        },
        async pageAlignCalc(count, pageUser, displayPageUser ) {
            let sumOfPage = Math.floor(parseInt(count) / this.sl)
            let remainder = parseInt(count) % this.sl
            if(remainder == 0) {
                if(sumOfPage < 4) {
                    displayPageUser.dot = false
                    displayPageUser.end = false
                    pageUser.end = sumOfPage
                    if(sumOfPage <3) {
                        displayPageUser.third = false
                    }
                    if(sumOfPage <2) {
                        displayPageUser.second = false
                    }
                } else if(sumOfPage == 4) {
                    displayPageUser.dot = false
                    pageUser.end = sumOfPage
                } else {
                    pageUser.end = sumOfPage
                }
            } else {
                if(sumOfPage < 3) {
                    if(sumOfPage <2) {
                        displayPageUser.third = false
                    }
                    if(sumOfPage <1) {
                        displayPageUser.second = false
                    }
                    displayPageUser.dot = false
                    displayPageUser.end = false
                    pageUser.end = sumOfPage + 1
                } else if(sumOfPage == 3) {
                    displayPageUser.dot = false
                    pageUser.end = sumOfPage + 1
                } else {
                    pageUser.end = sumOfPage + 1
                }
            }
        },
        async handleCloseOwnerList() {
            this.signOwnerList = false
        },
        async handleCloseUserList() {
            this.signUserList = false
        },
        async handleUserListConfirm() {
            let dataOwner = JSON.parse(JSON.stringify(this.ownerList[this.rowCurrent]))
            if(this.userChosen === '') {
                this.$message.error("Row must be chosen")
            } else {
                await ownerAPI.changeOwner(this.userChosen.id, dataOwner.id)
                this.signUserList = false
                this.$message.success("Successful")
            }
        },
        async handleConfirm() {
            if(this.owner.name != '' && this.owner.type != '' && this.owner.ref_id != '') {
                if(this.title == "Add Owner") {
                    if(this.owner.ref_id == "root") {
                        this.owner.ref_id = ''
                    }
                    const rs = await ownerAPI.createOwner([this.owner])
                    if(rs == null) {
                        this.$message.error("Create failed")
                    } else {
                        this.$message.success("Successful")
                        this.signOwnerList = false
                        for(let i in Object.keys(this.owner)) {
                            this.owner[Object.keys(this.owner)[i]] = ''
                        }
                    }
                } else if(this.title == "Edit Owner") {
                    const rs = await ownerAPI.updateOwner(this.owner)
                    if(rs == null) {
                        this.$message.error("Update failed")
                    } else {
                        this.$message.success("Successful")
                        this.signOwnerList = false
                    }
                }
            } else {
                this.$message.error("Type, name cannot be null or empty")
            }
        },
        async selectRowOwner(x) {
            if(x != undefined) {
                var ref = this.$refs['tableOwner'][x]
                var myDivObjBgColor = JSON.parse(JSON.stringify(window.getComputedStyle(ref).backgroundColor))
                for(let i in this.$refs['tableOwner']) {
                    this.$refs['tableOwner'][i].style.backgroundColor = 'rgba(0, 0, 0, 0)'
                    this.$refs['tableOwner'][i].style.color = 'black'
                }
                if(myDivObjBgColor.toString() === 'rgba(0, 0, 0, 0)' || myDivObjBgColor.toString() === 'rgb(243, 243, 243)') {
                    ref.style.backgroundColor = '#012596',
                    ref.style.color = 'white'
                    this.rowCurrent = x
                    this.ownerChosen = this.ownerList[x]
                } else {
                    ref.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    ref.style.color = 'black',
                    this.rowCurrent = ''
                }
            } else {
                if(this.$refs['tableOwner'] != undefined) {
                    for(let i in this.$refs['tableOwner']) {
                        this.$refs['tableOwner'][i].style.backgroundColor = 'rgba(0, 0, 0, 0)'
                        this.$refs['tableOwner'][i].style.color = 'black'
                    }
                }
                this.rowCurrent = ''
            }

            this.$emit('changeLocationList', this.ownerList[this.rowCurrent])
            
        },
        async updateOwnerPage(pageStt) {
            if(this.optionOwner.mode == 'update') {
                if(this.signMode == "first") {
                    this.ownerList = await ownerAPI.findByCreatedAndPre(parseInt(pageStt), this.sl, "1")
                } else {
                    this.ownerList = await ownerAPI.findByRef(this.currentId, pageStt, this.sl)
                }
                this.indexUser = (pageStt -1) * this.sl
            } else if(this.optionOwner.mode == 'search') {
                if(this.signMode == 'first') {
                    this.ownerList = await ownerAPI.getDataByIncludes(this.searchingOwner, pageStt, this.sl)
                } else {
                    this.ownerList = await ownerAPI.findByRef(this.currentId, pageStt, this.sl)
                }
                this.indexUser = (pageStt - 1) * this.sl
            }

            this.$nextTick(async () => {
                const ownerDiv = document.getElementById('ownerDiv');
                const ownerTable = document.getElementById('ownerTable');
                const ownerDivStyle = ownerDiv.style
                const divWidth = ownerDiv.offsetWidth;
                const tableWidth = ownerTable.offsetWidth;
                if(tableWidth <= divWidth) {
                    if(ownerDivStyle.justifyContent == '') {
                        ownerDivStyle.justifyContent = 'center'
                    }
                } else {
                    ownerDivStyle.justifyContent = ''
                }
                this.selectRowOwner(undefined)
            })
        },
        async selectedOwnerInfo(event, index) {
            event.stopPropagation();
            if(this.rowCurrent === '' || this.rowCurrent != index) {
                await this.selectRowOwner(index)
            }
            this.signShowOwner = true
            this.$nextTick(async () => {
                await this.$refs.locationView.loadData()
            })
        },
        async backPageOwner() {
            if(this.optionOwner.mode == 'noSearch') {
                this.optionOwner.mode = 'search'
            } else if(this.optionOwner.mode == 'update') {
                this.optionOwner.mode = 'mode'
            }
            if(this.optionOwner.mode == 'mode') {
                let historyData = JSON.parse(JSON.stringify(this.historyOwnerPage[this.historyOwnerPage.length - 1]))
                let historyDataUser = JSON.parse(JSON.stringify(this.historyOwnerPage[this.historyOwnerPage.length - 2]))
                if(this.historyOwnerPage.length == 2) {
                    this.ownerList = await ownerAPI.findByCreatedAndPre(historyData.currentPageOwner.current, this.sl, "1")
                    this.countOwner = await ownerAPI.countByCreated(historyDataUser.currentId)
                } else if(this.historyOwnerPage.length > 2) {
                    this.ownerList = await ownerAPI.findByRef(historyDataUser.currentId, historyData.currentPageOwner.current, this.sl)
                    this.countOwner = await ownerAPI.countByRefId(historyDataUser.currentId)
                }
                
                this.pageOwner = JSON.parse(JSON.stringify(historyData.pageOwner))
                this.displayPageOwner = JSON.parse(JSON.stringify(historyData.displayPageOwner))
                this.pageOwnerInstance = JSON.parse(JSON.stringify(historyData.pageOwnerInstance))
                this.currentPageOwner = JSON.parse(JSON.stringify(historyData.currentPageOwner))
                this.currentId = JSON.parse(JSON.stringify(historyDataUser.currentId))
                this.signMode = JSON.parse(JSON.stringify(historyDataUser.signMode))
                this.historyOwnerPage.pop()

                await this.pageAlignCalc(this.countOwner, this.pageOwner, this.displayPageOwner)
                if(this.currentPageOwner.nextP == 'second') {
                    this.$refs.OwnerPageAlign.firstUserPage()
                } else if(this.currentPageOwner.nextP == 'third') {
                    this.$refs.OwnerPageAlign.secondUser()
                } else if(this.currentPageOwner.nextP == 'dot') {
                    this.$refs.OwnerPageAlign.thirdUser()
                } else if(this.currentPageOwner.nextP == '') {
                    this.$refs.OwnerPageAlign.endUser()
                }

                this.$refs['tableOwner'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
                this.rowCurrent = ''
            } else {
                let historyData = JSON.parse(JSON.stringify(this.historyOwnerPage[this.historyOwnerPage.length - 1]))
                let historyDataUser = JSON.parse(JSON.stringify(this.historyOwnerPage[this.historyOwnerPage.length - 2]))

                if(this.historyOwnerPage.length == 2) {
                    this.ownerList = await ownerAPI.getDataByIncludes(historyDataUser.currentId, historyData.currentPageOwner.current, this.sl)
                    this.countOwner = await ownerAPI.countDataByIncludes(historyDataUser.currentId)
                } else if(this.historyOwnerPage.length > 2) {
                    this.ownerList = await ownerAPI.findByRef(historyDataUser.currentId, historyData.currentPageOwner.current, this.sl)
                    this.countOwner = await ownerAPI.countByRefId(historyDataUser.currentId)
                }

                this.pageOwner = JSON.parse(JSON.stringify(historyData.pageOwner))
                this.displayPageOwner = JSON.parse(JSON.stringify(historyData.displayPageOwner))
                this.pageOwnerInstance = JSON.parse(JSON.stringify(historyData.pageOwnerInstance))
                this.currentPageOwner = JSON.parse(JSON.stringify(historyData.currentPageOwner))
                this.currentId = JSON.parse(JSON.stringify(historyDataUser.currentId))
                this.signMode = JSON.parse(JSON.stringify(historyDataUser.signMode))
                this.historyOwnerPage.pop()

                await this.pageAlignCalc(this.countOwner, this.pageOwner, this.displayPageOwner)
                if(this.currentPageOwner.nextP == 'second') {
                    this.$refs.OwnerPageAlign.firstUserPage()
                } else if(this.currentPageOwner.nextP == 'third') {
                    this.$refs.OwnerPageAlign.secondUser()
                } else if(this.currentPageOwner.nextP == 'dot') {
                    this.$refs.OwnerPageAlign.thirdUser()
                } else if(this.currentPageOwner.nextP == '') {
                    this.$refs.OwnerPageAlign.endUser()
                }

                this.$refs['tableOwner'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
                this.rowCurrent = ''
            }
        },
        async upedateUserChosen(data) {
            this.userChosen = data
        },
        async searchingOwnerData() {
            this.currentPageOwner = {
                nextP : '',
                previousP : '',
                current : 1
            }
            this.countOwner = await ownerAPI.countDataByIncludes(this.searchingOwner)
            this.ownerList = await ownerAPI.getDataByIncludes(this.searchingOwner, 1, this.sl)
            this.optionOwner.mode = 'search'
            this.pageOwner = {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            },
            this.displayPageOwner = {
                second : true,
                third : true,
                dot : true,
                end : true
            },
            this.pageOwnerInstance = {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            }
            await this.pageAlignCalc(this.countOwner, this.pageOwner, this.displayPageOwner)
            if(this.$refs['tableOwner'] != undefined) {
                this.$refs['tableOwner'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
            }
            this.$refs.OwnerPageAlign.firstUserPage();
            this.historyOwnerPage = []
            this.signMode = 'first'
            this.currentId = JSON.parse(JSON.stringify(this.$store.state.user.user_id))
            this.historyOwnerPage.push({
                currentId : JSON.parse(JSON.stringify(this.searchingOwner)),
                signMode : JSON.parse(JSON.stringify(this.signMode)),
            })
        },
        async openSearchOwner() {
            if(this.searchingOwner.option == false) {
                this.searchingOwner.option = true
            } else {
                this.searchingOwner.option = false
            }
        },
        async handleCloseOwner() {
            this.signShowOwner = false
        },
        async handleOwnerConfirm() {
            this.$refs.locationView.saveData()
            this.signShowOwner = false
        },
        async updateData(data) {
            this.ownerList[this.rowCurrent] = data
        }
    }
}
</script>
<style>
.location-class {
    min-width: 1200px;
}
</style>
