<template>
    <div>
        <div style="margin-bottom: 20px; display: flex">
            <el-row>
                <el-col>
                    <el-button size="mini" type="primary" class="btn-action" @click="getAllOwner"> <i class="fa-solid fa-rotate-right" style="padding-right:5px"></i> Refresh</el-button>
                    <el-button @click="backPageOwner" v-if="historyOwnerPage.length != 1" size="mini" type="primary"><i class="fa-solid fa-arrow-left-long" style="margin-right: 10px"></i>Back</el-button>       
                </el-col>
            </el-row>
        </div>
        <div style="overflow: auto; height: calc(100vh - 150px - 38px - 60px - 38px - 10px); display: flex">
            <div>
                <table class="styled-table" style="width: 1000px;">
                    <thead class="header" style="white-space: nowrap;">
                        <th>STT</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Mode</th>
                        <th>Phone no.</th>
                        <th>Email</th>
                        <th>Is delete
                            <i @click="openSearchOwner" v-if="searchingOwner.option == false" class="fa-solid fa-arrow-down"></i>
                            <i @click="openSearchOwner" v-else class="fa-solid fa-arrow-up"></i>
                        </th>
                    </thead>
                    <tbody>
                        <tr v-if="searchingOwner.option">
                            <td>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-input size="mini" type="primary" v-model="searchingOwner.name"></el-input>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-input size="mini" type="primary" v-model="searchingOwner.address"></el-input>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-input size="mini" type="primary" v-model="searchingOwner.city"></el-input>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-select size="mini" v-model="searchingOwner.mode">
                                    <el-option label="< Select >" value=""> </el-option>
                                    <el-option label="OWNER1" value="OWNER1"> </el-option>
                                    <el-option label="OWNER2" value="OWNER2"> </el-option>
                                    <el-option label="OWNER3" value="OWNER3"> </el-option>
                                    <el-option label="OWNER4" value="OWNER4"> </el-option>
                                    <el-option label="OWNER5" value="OWNER5"> </el-option>
                                    <el-option label="USER" value="USER"> </el-option>
                                </el-select>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-input size="mini" type="primary" v-model="searchingOwner.phone_no"></el-input>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-input size="mini" type="primary" v-model="searchingOwner.email"></el-input>
                            </td>
                            <td @keyup.enter="searchingOwnerData()">
                                <el-select size="mini" v-model="searchingOwner.delete">
                                    <el-option label="< Select >" value="null"> </el-option>
                                    <el-option label="False" value="false"> </el-option>
                                    <el-option label="True" value="true"> </el-option>
                                </el-select>
                            </td>
                        </tr>
                        <tr @dblclick="getOwnerChild()" @click="selectRowOwner(index)" class="active-row" v-for="(item, index) in ownerList" :key="index" ref="tableOwner">
                            <td>
                                {{ indexUser + index + 1}}
                            </td>
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.address}}
                            </td>
                            <td>
                                {{item.city}}
                            </td>
                            <td>
                                {{item.mode}}
                            </td>
                            <td>
                                {{item.phone_no}}
                            </td>
                            <td>
                                {{item.email}}
                            </td>
                            <td style="text-transform: capitalize;">
                                {{item.isDeleted}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <PageAlign 
                    ref="OwnerPageAlign" 
                    :page-user="this.pageOwner" 
                    :display-page-user="this.displayPageOwner" 
                    :page-user-instance="this.pageOwnerInstance" 
                    :current-page="this.currentPageOwner" 
                    title="OwnerPageAlign"
                    :option.sync="this.optionOwner"
                    @update-page="updateOwnerPage">
                </PageAlign>
            </div>
        </div>
        <div v-if="this.titleData == 'Edit Location'" style="overflow: auto; height: calc(100vh - 150px - 38px - 60px - 38px - 10px); display: flex">
            <div>
                <table class="styled-table" style="width: 1000px;">
                    <thead class="header" style="white-space: nowrap;">
                        <th>STT</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Mode</th>
                        <th>Phone no.</th>
                        <th>Email</th>
                        <th>Is delete</th>
                    </thead>
                    <tbody style="font-weight: bold;">
                        <td>
                            1
                        </td>
                        <td>
                            {{currentOwnerData.name}}
                        </td>
                        <td>
                            {{currentOwnerData.address}}
                        </td>
                        <td>
                            {{currentOwnerData.city}}
                        </td>
                        <td>
                            {{currentOwnerData.mode}}
                        </td>
                        <td>
                            {{currentOwnerData.phone_no}}
                        </td>
                        <td>
                            {{currentOwnerData.email}}
                        </td>
                        <td style="text-transform: capitalize;">
                            {{currentOwnerData.isDeleted}}
                        </td>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    
</template>

<script>
/* eslint-disable */
import * as ownerAPI from '@/api/ownerAPI/ownerAPI.js'
import PageAlign from '../pageAlign/PageAlign.vue'
import userView from '../UserView/userView.vue'
import locationView from '../LocationView/index.vue'

export default {
    name : 'ownerViewList',
    components: {
        PageAlign,
        userView,
        locationView
    },
    props: {
        titleData : {
            type : String,
            require : true
        },
        parentId : {
        }
    },
    data() {
        return {
            ownerList : [],
            currentOwnerData : {},
            sl : 4,
            indexUser : 0,
            roleInformation : '',
            selectedCheckedIndex: [],
            rowCurrent : '',
            ownerChosen : {},
            signMode : 'first',
            currentId : '',
            owner : {
                ref_id : '',
                name : '',
                address : '',
                full_name : '',
                tax_code : '',
                city : '', 
                state : '',
                country : '',
                phone_no : '',
                fax : '',
                email : '',
                mode : '',
                pre : "",
                isDelete : false
            },
            countOwner : '',
            optionOwner : {
                mode : ''
            },
            searchingOwner : {
                option : '',
                name : '',
                address : '',
                city : '',
                mode : '',
                phone_no : '',
                email : '',
                isDeleted : ''
            },
            pageOwner : {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            },
            displayPageOwner : {
                second : true,
                third : true,
                dot : true,
                end : true
            },
            pageOwnerInstance : {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            },
            currentPageOwner : {
                nextP : '',
                previousP : '',
                current : 1,
            },
            historyOwnerPage : [],
        }
    },
    async beforeMount() {
        this.roleInformation = localStorage.getItem('role')
    },
    watch: {
    },
    methods : {
        async getAllOwner() {
            this.countOwner = await ownerAPI.countByCreatedAndPre()
            this.pageOwner = {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            }
            this.displayPageOwner = {
                second : true,
                third : true,
                dot : true,
                end : true
            }

            this.pageOwnerInstance = {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            }

            this.currentPageOwner = {
                nextP : '',
                previousP : '',
                current : 1
            }
            let sumOfPage = Math.floor(parseInt(this.countOwner) / this.sl)
            let remainder = parseInt(this.countOwner) % this.sl
            if(remainder == 0) {
                if(sumOfPage < 4) {
                    this.displayPageOwner.dot = false
                    this.displayPageOwner.end = false
                    this.pageOwner.end = sumOfPage
                    if(sumOfPage <3) {
                        this.displayPageOwner.third = false
                    }
                    if(sumOfPage <2) {
                        this.displayPageOwner.second = false
                    }
                } else if(sumOfPage == 4) {
                    this.displayPageOwner.dot = false
                    this.pageOwner.end = sumOfPage
                } else {
                    this.pageOwner.end = sumOfPage
                }
            } else {
                if(sumOfPage < 3) {
                    if(sumOfPage <2) {
                        this.displayPageOwner.third = false
                    }
                    if(sumOfPage <1) {
                        this.displayPageOwner.second = false
                    }
                    this.displayPageOwner.dot = false
                    this.displayPageOwner.end = false
                    this.pageOwner.end = sumOfPage + 1
                } else if(sumOfPage == 3) {
                    this.displayPageOwner.dot = false
                    this.pageOwner.end = sumOfPage + 1
                } else {
                    this.pageOwner.end = sumOfPage + 1
                }
            }
            this.ownerList = await ownerAPI.findByCreatedAndPre(1, this.sl, "1")
            this.optionOwner.mode = 'update'
            if(this.$refs['tableOwner'] != undefined) {
                this.$refs['tableOwner'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
            }
            this.$refs.OwnerPageAlign.firstUserPage();
            this.historyOwnerPage = []
            this.signMode = 'first'
            this.currentId = JSON.parse(JSON.stringify(this.$store.state.user.user_id))
            this.historyOwnerPage.push({
                currentId : JSON.parse(JSON.stringify(this.$store.state.user.user_id)),
                signMode : JSON.parse(JSON.stringify(this.signMode)),
            })
        },
        async getCurrentOwner() {
            try {
                const rs = await ownerAPI.findById(this.parentId)
                if(rs != null && rs != undefined) {
                    this.currentOwnerData = JSON.parse(JSON.stringify(rs))
                }
            } catch(e) {
                this.$message.error("Cannot load parent owner")
            }
        },
        async getOwnerChild() {
            let ref_id = this.ownerList[this.rowCurrent].id
            this.countOwner = await ownerAPI.countByRefId(ref_id)
            this.ownerList = await ownerAPI.findByRef(ref_id, 1, this.sl)
            this.currentId = ref_id
            this.signMode = "noFirst"
            this.historyOwnerPage.push({
                pageOwner : JSON.parse(JSON.stringify(this.pageOwner)),
                pageOwnerInstance : JSON.parse(JSON.stringify(this.pageOwnerInstance)),
                displayPageOwner : JSON.parse(JSON.stringify(this.displayPageOwner)),
                currentPageOwner : JSON.parse(JSON.stringify(this.currentPageOwner)),
                signMode : JSON.parse(JSON.stringify(this.signMode)),
                currentId : JSON.parse(JSON.stringify(this.currentId)),
            })
            this.pageOwner = {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            }
            this.displayPageOwner = {
                second : true,
                third : true,
                dot : true,
                end : true
            }

            this.pageOwnerInstance = {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            }
            await this.pageAlignCalc(this.countOwner, this.pageOwner, this.displayPageOwner)
            if(this.optionOwner.mode == 'update') {
                this.$refs.OwnerPageAlign.firstUserPageNoMode()
            } else if(this.optionOwner.mode == 'search') {
                this.$refs.OwnerPageAlign.firstUserPageNoSearch()
            }
        },
        async pageAlignCalc(count, pageUser, displayPageUser ) {
            let sumOfPage = Math.floor(parseInt(count) / this.sl)
            let remainder = parseInt(count) % this.sl
            if(remainder == 0) {
                if(sumOfPage < 4) {
                    displayPageUser.dot = false
                    displayPageUser.end = false
                    pageUser.end = sumOfPage
                    if(sumOfPage <3) {
                        displayPageUser.third = false
                    }
                    if(sumOfPage <2) {
                        displayPageUser.second = false
                    }
                } else if(sumOfPage == 4) {
                    displayPageUser.dot = false
                    pageUser.end = sumOfPage
                } else {
                    pageUser.end = sumOfPage
                }
            } else {
                if(sumOfPage < 3) {
                    if(sumOfPage <2) {
                        displayPageUser.third = false
                    }
                    if(sumOfPage <1) {
                        displayPageUser.second = false
                    }
                    displayPageUser.dot = false
                    displayPageUser.end = false
                    pageUser.end = sumOfPage + 1
                } else if(sumOfPage == 3) {
                    displayPageUser.dot = false
                    pageUser.end = sumOfPage + 1
                } else {
                    pageUser.end = sumOfPage + 1
                }
            }
        },
        async selectRowOwner(x) {
            if(x != undefined) {
                var ref = this.$refs['tableOwner'][x]
                var myDivObjBgColor = JSON.parse(JSON.stringify(window.getComputedStyle(ref).backgroundColor))
                this.$refs['tableOwner'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
                if(myDivObjBgColor.toString() === 'rgba(0, 0, 0, 0)' || myDivObjBgColor.toString() === 'rgb(243, 243, 243)') {
                    ref.style.backgroundColor = '#012596',
                    ref.style.color = 'white'
                    this.rowCurrent = x
                    this.ownerChosen = this.ownerList[x]
                } else {
                    ref.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    ref.style.color = 'black',
                    this.rowCurrent = ''
                }

                this.$emit('changeLocationList', this.ownerList[this.rowCurrent])
            } else {
                if(this.$refs['tableOwner'] != undefined) {
                    this.$refs['tableOwner'].forEach((element) => {
                        element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                        element.style.color = 'black'
                    })
                }
                this.rowCurrent = ''
            }
            
        },
        async updateOwnerPage(pageStt) {
            if(this.optionOwner.mode == 'update') {
                if(this.signMode == "first") {
                    this.ownerList = await ownerAPI.findByCreatedAndPre(parseInt(pageStt), this.sl, "1")
                } else {
                    this.ownerList = await ownerAPI.findByRef(this.currentId, pageStt, this.sl)
                }
            } else if(this.optionOwner.mode == 'search') {
                if(this.signMode == 'first') {
                    this.ownerList = await ownerAPI.getDataByIncludes(this.searchingOwner, pageStt, this.sl)
                } else {
                    this.ownerList = await ownerAPI.findByRef(this.currentId, pageStt, this.sl)
                }
            }
            await this.selectRowOwner()
        },
        async backPageOwner() {
            if(this.optionOwner.mode == 'noSearch') {
                this.optionOwner.mode = 'search'
            } else if(this.optionOwner.mode == 'update') {
                this.optionOwner.mode = 'mode'
            }
            if(this.optionOwner.mode == 'mode') {
                let historyData = JSON.parse(JSON.stringify(this.historyOwnerPage[this.historyOwnerPage.length - 1]))
                let historyDataUser = JSON.parse(JSON.stringify(this.historyOwnerPage[this.historyOwnerPage.length - 2]))
                if(this.historyOwnerPage.length == 2) {
                    this.ownerList = await ownerAPI.findByCreatedAndPre(historyData.currentPageOwner.current, this.sl, "1")
                    this.countOwner = await ownerAPI.countByCreated(historyDataUser.currentId)
                } else if(this.historyOwnerPage.length > 2) {
                    this.ownerList = await ownerAPI.findByRef(historyDataUser.currentId, historyData.currentPageOwner.current, this.sl)
                    this.countOwner = await ownerAPI.countByRefId(historyDataUser.currentId)
                }
                
                this.pageOwner = JSON.parse(JSON.stringify(historyData.pageOwner))
                this.displayPageOwner = JSON.parse(JSON.stringify(historyData.displayPageOwner))
                this.pageOwnerInstance = JSON.parse(JSON.stringify(historyData.pageOwnerInstance))
                this.currentPageOwner = JSON.parse(JSON.stringify(historyData.currentPageOwner))
                this.currentId = JSON.parse(JSON.stringify(historyDataUser.currentId))
                this.signMode = JSON.parse(JSON.stringify(historyDataUser.signMode))
                this.historyOwnerPage.pop()

                await this.pageAlignCalc(this.countOwner, this.pageOwner, this.displayPageOwner)
                if(this.currentPageOwner.nextP == 'second') {
                    this.$refs.OwnerPageAlign.firstUserPage()
                } else if(this.currentPageOwner.nextP == 'third') {
                    this.$refs.OwnerPageAlign.secondUser()
                } else if(this.currentPageOwner.nextP == 'dot') {
                    this.$refs.OwnerPageAlign.thirdUser()
                } else if(this.currentPageOwner.nextP == '') {
                    this.$refs.OwnerPageAlign.endUser()
                }

                this.$refs['tableOwner'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
                this.rowCurrent = ''
            } else {
                let historyData = JSON.parse(JSON.stringify(this.historyOwnerPage[this.historyOwnerPage.length - 1]))
                let historyDataUser = JSON.parse(JSON.stringify(this.historyOwnerPage[this.historyOwnerPage.length - 2]))

                if(this.historyOwnerPage.length == 2) {
                    this.ownerList = await ownerAPI.getDataByIncludes(historyDataUser.currentId, historyData.currentPageOwner.current, this.sl)
                    this.countOwner = await ownerAPI.countDataByIncludes(historyDataUser.currentId)
                } else if(this.historyOwnerPage.length > 2) {
                    this.ownerList = await ownerAPI.findByRef(historyDataUser.currentId, historyData.currentPageOwner.current, this.sl)
                    this.countOwner = await ownerAPI.countByRefId(historyDataUser.currentId)
                }

                this.pageOwner = JSON.parse(JSON.stringify(historyData.pageOwner))
                this.displayPageOwner = JSON.parse(JSON.stringify(historyData.displayPageOwner))
                this.pageOwnerInstance = JSON.parse(JSON.stringify(historyData.pageOwnerInstance))
                this.currentPageOwner = JSON.parse(JSON.stringify(historyData.currentPageOwner))
                this.currentId = JSON.parse(JSON.stringify(historyDataUser.currentId))
                this.signMode = JSON.parse(JSON.stringify(historyDataUser.signMode))
                this.historyOwnerPage.pop()

                await this.pageAlignCalc(this.countOwner, this.pageOwner, this.displayPageOwner)
                if(this.currentPageOwner.nextP == 'second') {
                    this.$refs.OwnerPageAlign.firstUserPage()
                } else if(this.currentPageOwner.nextP == 'third') {
                    this.$refs.OwnerPageAlign.secondUser()
                } else if(this.currentPageOwner.nextP == 'dot') {
                    this.$refs.OwnerPageAlign.thirdUser()
                } else if(this.currentPageOwner.nextP == '') {
                    this.$refs.OwnerPageAlign.endUser()
                }

                this.$refs['tableOwner'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
                this.rowCurrent = ''
            }
        },
        async searchingOwnerData() {
            this.currentPageOwner = {
                nextP : '',
                previousP : '',
                current : 1
            }
            this.countOwner = await ownerAPI.countDataByIncludes(this.searchingOwner)
            this.ownerList = await ownerAPI.getDataByIncludes(this.searchingOwner, 1, this.sl)
            this.optionOwner.mode = 'search'
            this.pageOwner = {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            },
            this.displayPageOwner = {
                second : true,
                third : true,
                dot : true,
                end : true
            },
            this.pageOwnerInstance = {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            }
            await this.pageAlignCalc(this.countOwner, this.pageOwner, this.displayPageOwner)
            if(this.$refs['tableOwner'] != undefined) {
                this.$refs['tableOwner'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
            }
            this.$refs.OwnerPageAlign.firstUserPage();
            this.historyOwnerPage = []
            this.signMode = 'first'
            this.currentId = JSON.parse(JSON.stringify(this.$store.state.user.user_id))
            this.historyOwnerPage.push({
                currentId : JSON.parse(JSON.stringify(this.searchingOwner)),
                signMode : JSON.parse(JSON.stringify(this.signMode)),
            })
        },
        async openSearchOwner() {
            if(this.searchingOwner.option == false) {
                this.searchingOwner.option = true
            } else {
                this.searchingOwner.option = false
            }
        },
        async updateData(data) {
            this.ownerList[this.rowCurrent] = data
        }
    }
}
</script>
<style>
.location-class {
    min-width: 1200px;
}
</style>
