<template>
    <div id="ratings" class="mgy-5">
        <el-row style="margin-top: 20px; margin-bottom: 10px;">
            <el-col :span="24">
                <div style="font-weight: bold" class="header-toggle pointer" @click="openRatings = !openRatings">
                    <i v-if="openRatings" class="fa-solid fa-caret-up"></i>
                    <i v-else class="fa-solid fa-caret-down"></i>
                    Ratings
                </div>
            </el-col>
        </el-row>
        <div class="content-toggle" v-if="openRatings">
            <el-row style="width: 100%;" class="content">
                <el-col :span="8" class="col-content">
                    <el-form :inline-message="true" :label-width="labelWidth" size="mini" label-position="left">
                        <el-form-item label="Rated voltage">
                            <el-col :span="24" class="pdr-0">
                                <el-input v-model="ratingsData.rated_voltage">
                                    <div style="width: 10px;" slot="append">kV</div>
                                </el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="Rated frequency">
                            <el-col :span="24" class="pdr-0">
                                <el-input v-model="ratingsData.rated_frequency">
                                    <div style="width: 10px;" slot="append">Hz</div>
                                </el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="Rated current">
                            <el-col :span="24" class="pdr-0">
                                <el-input v-model="ratingsData.rated_current">
                                    <div style="width: 10px;" slot="append">A</div>
                                </el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="Short time withstand current">
                            <el-col :span="24" class="pdr-0">
                                <el-input v-model="ratingsData.shorTime_current">
                                    <div style="width: 10px;" slot="append">kA</div>
                                </el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="Rated duration of short circuit">
                            <el-col :span="24" class="pdr-0">
                                <el-input v-model="ratingsData.ratedDuration_current">
                                    <div style="width: 10px;" slot="append">s</div>
                                </el-input>
                            </el-col>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
            <el-row style="margin-top: 20px; margin-bottom: 20px; width: 100%;" class="content">
                <div class="bolder">Power frequency withstand voltage</div>
            </el-row>
            <el-row style="width: 100%;" class="content">
                <el-col :span="8" class="col-content">
                    <el-form :inline-message="true" :label-width="labelWidth" size="mini" label-position="left">
                        <el-form-item label="- to earth and between poles ">
                            <el-col :span="24" class="pdr-0">
                                <el-input v-model="ratingsData.earth_poles">
                                    <div style="width: 10px;" slot="append">Kv</div>
                                </el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="- across the isolating distance">
                            <el-col :span="24" class="pdr-0">
                                <el-input v-model="ratingsData.across_isolating">
                                    <div style="width: 10px;" slot="append">Hz</div>
                                </el-input>
                            </el-col>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
export default {
    name : "ratings",
    props : {
        ratings : {
            type : Object,
            require : true,
        }
    },
    data() {
        return {
            openRatings : "true",
            labelWidth : `200px`,
        }
    },
    watch : {
    },
    computed: {
        ratingsData() {
            return this.ratings
        }
    }
}
</script>