<template>
    <div id="manage-user">
        <el-row id="top-bar">
            <el-col :span="24">
                <el-button style="float: right; text-align: right; width: fit-content; cursor: default">
                    <img src="@/assets/images/logo.png" style="max-height: 40px" />
                </el-button>
            </el-col>
        </el-row>
        <el-row :gutter="20" id="main-content">
            <h1 style="text-align: center;">USER INFORMATION</h1>

            <table id="user">
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>User name</td>
                <td>{{userObject.sub}}</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>{{userObject.role}}</td>
            </tr>
            <tr>
                <td>User id</td>
                <td>{{userObject.user_id}}</td>
            </tr>
            <tr v-if="userObject.role == 'ADMIN'">
                <td>Permissions</td>
                <td>ADMIN</td>
            </tr>
            <tr v-else>
                <td>Permissions</td>
                <td>{{userObject.permissions}}</td>
            </tr>
            <tr v-if="userObject.groups!= undefined && userObject.groups.length == 1 && userObject.groups[0] == ''">
                <td>Groups</td>
                <td></td>
            </tr>
            <tr v-else>
                <td>Groups</td>
                <td>{{userObject.groups}}</td>
            </tr>
            </table>
        </el-row>
    </div>
</template>

<script>
/* eslint-disable */
export default {
    name : "UserDetail",
    data() {
        return {
            token:'',
            userObject: []
        }
    },
    async created() {
        // await this.getUser()
        // console.log(this.userObject.groups)
    },
    methods: {
        async loadData() {
            await this.getUser()
        },
        async getUser() {
            this.token = localStorage.getItem('token');
            var base64Url = this.token.split('.')[1];
            var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));
            try{
                this.userObject = JSON.parse(jsonPayload);
            }catch(e){

            }
        }
    }
}
</script>
<style scoped>
    #manage-user {
        width: calc(100% - 20px);
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    #user {
    font-family: Arial, Helvetica, sans-serif !important;
    border-collapse: collapse;
    width: 100%;
    }

    #user td, #user th {
    border: 1px solid #ddd;
    padding: 8px;
    }

    #user tr:nth-child(even){background-color: #f2f2f2;}

    #user tr:hover {background-color: #ddd;}

    #user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    }
</style>