<template>
    <div>
        <nav id="top-windows">
            <div class="left-bar">
                <div @click="$router.push({name: 'manage'}).catch(() => {})" class="iconHover" style="width: 45px; height: 38px; background-color: inherit; display: flex; align-items: center; justify-content: center; border-bottom: 1px solid #aeb6bf;">
                    <i style="font-size: 19px; color: white;" class="fa-solid fa-house"></i>
                </div>
            </div>

            <div class="center-bar">
                <span class="title-window">{{ $route.meta.title }}</span>
            </div>

            <div class="right-bar">
                <div>
                    <el-dropdown @command="handleCommand" trigger="click">
                        <div class="iconHover" style="width: 45px; height: 38px; background-color: inherit; display: flex; align-items: center; justify-content: center; border-bottom: 1px solid #aeb6bf; padding-right: 10px;">
                            <i style="font-size: 19px; color: white;" class="fa-solid fa-gears"></i>
                        </div>
                        <el-dropdown-menu slot="dropdown">
                            <template v-if="user">
                                <el-dropdown-item command="manage_user">
                                    <i style="font-size: 19px;" class="fa-solid fa-user"></i> User Manager 
                                </el-dropdown-item>
                                <!-- <el-dropdown-item command="update_password">Change password</el-dropdown-item> -->
                                <el-dropdown-item command="notify">
                                    <i style="font-size: 19px;" class="fa-solid fa-bell"></i>
                                    Notification
                                </el-dropdown-item>
                                <el-dropdown-item command="chat">
                                    <i style="font-size: 19px;" class="fa-solid fa-message"></i>
                                    Messenger
                                </el-dropdown-item>
                                <el-dropdown-item command="config">
                                    <i style="font-size: 19px;" class="fa-solid fa-wrench"></i>
                                    Config Server
                                </el-dropdown-item>
                                <el-dropdown-item command="statistical">
                                    <i style="font-size: 19px;" class="fa-solid fa-chart-pie"></i>
                                    Statistical
                                </el-dropdown-item>
                                <el-divider></el-divider>
                                <el-dropdown-item command="log_out">
                                    <i style="font-size: 19px;" class="fa-solid fa-right-from-bracket"></i> Log out
                                </el-dropdown-item>
                            </template>
                            <template v-else>
                                <el-dropdown-item command="config">Config Server address</el-dropdown-item>
                            </template>
                        </el-dropdown-menu>
                    </el-dropdown>
                    
                </div>
            </div>
        </nav>

        <!-- Form change password -->
        <!-- <el-dialog title="Change password" :label-position="'left'" :visible.sync="dialogChangePw" width="600px">
            <el-form :model="formChangePass" :label-width="formLabelWidth" label-position="left" size="small">
                <el-form-item label="Current password">
                    <el-input type="password" v-model="formChangePass.oldPassword" show-password></el-input>
                </el-form-item>
                <el-form-item label="New password">
                    <el-input type="password" v-model="formChangePass.newPassword" show-password></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button size="small" @click="dialogChangePw = false">Cancel</el-button>
                <el-button size="small" type="primary" :loading="loading" @click="changePass">Save</el-button>
            </span>
        </el-dialog> -->

        <!-- Server address -->
        <el-dialog title="Config server address" :visible.sync="dialogConfig" :show-close="false" width="600px">
            <el-form :model="formConfig" :label-width="formLabelWidth" :label-position="'left'" size="small" :rules="configRules" ref="formConfig">
                <el-form-item label="Domain" prop="domain">
                    <el-input type="text" v-model="formConfig.domain" placeholder="https://domain.com/api/"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button size="small" @click="dialogConfig = false">Cancel</el-button>
                <el-button size="small" type="primary" @click="setServerAddr">Save</el-button>
            </span>
            <template #title>
                <div class="my-header">
                    <span class="title">Config server address</span>
                    <el-button type="danger" @click="dialogConfig = false">
                        <i class="el-icon-close"></i> Close
                    </el-button>
                </div>
            </template>
        </el-dialog>

        <el-dialog
            :visible.sync = 'userManagerSign'
            title="User Information"
            align-center
            :before-close="handleCloseUserInformation"
            :show-close="false"
            draggable
            width="1000px"
        >
            
            <template #title>
                <div class="my-header">
                <span class="title">User Infomation</span>
                <el-button type="danger" @click="handleCloseUserInformation">
                    <i class="el-icon-close"></i> Close
                </el-button>

                </div>
            </template>
            <user-detail ref="userDetail"></user-detail>
        </el-dialog>

        <el-dialog
            :visible.sync = 'chatSign'
            title="Chat list"
            align-center
            :before-close="handleClosechatInformation"
            draggable
            :show-close="false"
            width="1000px"
            custom-class="el-dialog-chat"
        >
            <template #title>
                <div class="my-header">
                <span class="title">Chat list</span>
                <el-button type="danger" @click="handleClosechatInformation">
                    <i class="el-icon-close"></i> Close
                </el-button>

                </div>
            </template>
            <chat-list ref="chatList"></chat-list>
        </el-dialog>

        <el-dialog
            :visible.sync="statisticalSign"
            title="Statistical List"
            align-center
            :before-close="handleCloseStatistical"
            draggable
            :show-close="false"
            width="1200px"
            custom-class="custom-dialog"
            >
            <template #title>
                <div class="my-header">
                <span class="title" >Statistical List</span>
                <el-button type="danger" @click="handleCloseStatistical">
                    <i class="el-icon-close"></i> Close
                </el-button>

                </div>
            </template>

            <statistical-list ref="statisticalList"></statistical-list>
        </el-dialog>


        <el-dialog
            :visible.sync="notifySign"
            :show-close="false"
            width="1000px"
            align-center
            draggable
            custom-class="el-dialog-chat"
            :before-close="handleCloseNotifySign"
            >
            <template #title>
                <div class="my-header">
                <span class="title">Notification</span>
                <el-button type="danger" @click="handleCloseNotifySign">
                    <i class="el-icon-close"></i> Close
                </el-button>
                </div>
            </template>
            
            <notify-list ref="notifyList"></notify-list>
        </el-dialog>

    </div>
</template>

<script>
/* eslint-disable */
import {mapState} from 'vuex'
import UserDetail from '@/views/userDetailView/UserDetailView.vue'
import ChatList from '@/views/common/Chat.vue'
import NotifyList from '@/views/common/Notify.vue'
import StatisticalList from '@/views/common/Statistical.vue'
import * as messageAPI from '@/api/messageAPI/messageAPI'


export default {
    name: 'TopBar',
    components : {
        UserDetail,
        ChatList,
        NotifyList,
        StatisticalList
    },
    props: {
        waitingChat : Array
    },
    watch: {
        $route(to, from) {
            if(to != null) {
                if(to.name != null) {
                    if(to.name == 'login') {
                        if(this.chatSign != null) {
                            if(this.$refs.chatList != null) {
                                this.$refs.chatList.resetData()
                            }
                            this.statisticalSign = false
                            this.chatSign = false
                        }
                    }
                }
            }
        },
        chatSign(newVal) {
            this.$emit("chatSign", newVal)
        }
    },
    data() {
        return {
            statisticalSign: false,
            dialogChangePw: false,
            dialogConfig: false,
            userManagerSign : false,
            chatSign : false,
            loading: false,
            notifySign : false,
            formChangePass: {
                oldPassword: '',
                newPassword: ''
            },
            formConfig: {
                domain: ''
            },
            formLabelWidth: '140px',
            configRules: {
                domain: [
                    {
                        required: true,
                        pattern: /^https?:\/\//,
                        message: 'Invalid domain',
                        trigger: 'change'
                    }
                ]
            }
        }
    },
    mounted() {
        this.formConfig.domain = this.serverAddr
    },
    computed: mapState(['user', 'serverAddr']),
    methods: {
        async handleCommand(command) {
            switch (command) {
                case 'log_out':
                    this.$helper.afterLogout()
                    this.$router.push({path: '/login'})
                    break
                case 'update_password':
                    this.dialogChangePw = true
                    break
                case 'manage_user':
                    await this.handleOpenUserInformation()
                    break
                case 'config':
                    this.dialogConfig = true
                    break
                case 'chat':
                    await this.openChatSign()
                    break
                case 'notify':
                    await this.handleOpenNotification()
                    break
                case 'statistical':
                    await this.statisticalHandle()
                    break
            }
        },
        // async changePass() {
        //     this.loading = true
        //     await this.$common.simulateLoading()

        //     userApi
        //         .changePass(this.formChangePass)
        //         .then(() => {
        //             this.$message.success('Changed password successfully')
        //             this.dialogChangePw = false
        //             this.formChangePass = {
        //                 oldPassword: '',
        //                 newPassword: ''
        //             }
        //         })
        //         .catch((error) => {
        //             console.log(error)
        //             this.$message.error(error.message)
        //         })
        // },
        setServerAddr() {
            this.$refs.formConfig.validate((valid) => {
                if (valid) {
                    this.$helper.setServerAddr(this.formConfig.domain)
                    this.dialogConfig = false
                    this.$message.success('Config successfully')
                    return
                }
            })
        },
        async handleCloseUserInformation() {
            this.userManagerSign = false
        },
        async handleClosechatInformation() {
            this.chatSign = false
        },
        async handleCloseNotifySign() {
            this.notifySign = false
        },
        async handleOpenUserInformation() {
            this.userManagerSign = true
            this.$nextTick(async () => {
                if(this.$refs.userDetail != null) {
                    await this.$refs.userDetail.loadData()
                }
            })
        },
        async openChatSign() {
            this.chatSign = true
            this.$nextTick(async () => {
                if(this.$refs.chatList != null) {
                    await this.$refs.chatList.loadData()
                }
                if(this.waitingChat != null && this.waitingChat.length != 0) {
                    let ids = this.waitingChat.map(e => e.id)
                    try {
                        await messageAPI.markAsReadArr(ids)
                    } catch(e) {

                    }
                }
            })
        },
        async reloadChat(data) {
            if(this.$refs.chatList != null) {
                await this.$refs.chatList.loadNewMessage(data)
            }
        },
        async handleOpenNotification() {
            this.notifySign = true
        },
        async statisticalHandle() {
            this.statisticalSign = true
        },
        async handleCloseStatistical() {
            this.statisticalSign = false
        },
    }
}
</script>

<style lang="scss">
.custom-dialog {
    height: 700px;
}
.my-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.custom-dialog .el-dialog__body {
    height: 500px;
}
nav {
    z-index: 10;
    background-color: #012596;
    height: 38px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-app-region: drag;
    box-sizing: border-box;
    border-bottom: 1px solid #aeb6bf;
}

.svg:hover {
    fill: #fff;
    background-color: #409eff;
    cursor: pointer;
}

.close-svg:hover {
    fill: white;
    background-color: #ed553b;
}

.svg {
    -webkit-app-region: no-drag;
    padding: 10px 14px;
    cursor: pointer;
    fill: #ccc;
}

.left-bar {
    display: flex;
}

.center-bar {
    display: flex;
}

.right-bar {
    display: flex;
    
}

.title-window {
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px;
}

.iconHover:hover{
    background-color: #409eff !important;
    cursor: pointer;
}
.title {
    font-size: 18px; 
    font-weight: 600;
    color: #ffffff;  
    text-align: center; 
    flex: 0,25; 
    padding: 5px 10px; 
    border: 2px solid #3498db;  
    border-radius: 5px; 
    background-color: #012596;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

</style>;