<template>
    <div id="location">
        <el-row style="height: fit-content; width: 100%;" :gutter="20">
            <el-col :span="8" class="col-content">
                <el-form ref="ruleForm" :rules="rules" :model="properties" :inline-message="true" :label-width="labelWidth" size="mini" label-position="left">
                    <span class="bolder">Properties</span>
                    <el-divider></el-divider>
                    <el-form-item label="Name" prop="name">
                        <el-input v-model="properties.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Type" prop="type">
                        <el-input v-model="properties.mode" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="Full name">
                        <el-input v-model="properties.full_name"></el-input>
                    </el-form-item>
                    <el-form-item label="Address">
                        <el-input v-model="properties.address"></el-input>
                    </el-form-item>
                    <el-form-item label="City">
                        <el-input v-model="properties.city"></el-input>
                    </el-form-item>
                    <el-form-item label="Tax code">
                        <el-input v-model="properties.tax_code"></el-input>
                    </el-form-item>
                    <el-form-item label="Country">
                        <el-select style="width: 100%;" filterable v-model="properties.country">
                            <el-option v-for="item in countryData" :key="item" :label="item" :value="item"> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Phone number">
                        <el-input v-model="properties.phone_no"></el-input>
                    </el-form-item>
                    <el-form-item label="Email">
                        <el-input v-model="properties.email"></el-input>
                    </el-form-item>
                </el-form>
                <el-form v-if="(mode =='edit' && properties.mode == 'voltage') || mode == 'voltageAdd'" ref="ruleForm" :rules="rules" :model="properties" :inline-message="true" :label-width="labelWidth" size="mini" label-position="left">
                    <span class="bolder">Location</span>
                    <el-divider></el-divider>
                    <el-form-item label="Name" prop="name">
                        <el-select style="width: 100%;" filterable allow-create v-model="properties.name">
                            <el-option v-for="item in voltageList" :key="item" :label="item" :value="item"> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Address">
                        <el-input v-model="properties.address"></el-input>
                    </el-form-item>
                    <el-form-item label="City">
                        <el-input v-model="properties.city"></el-input>
                    </el-form-item>
                    <el-form-item label="State/Province">
                        <el-input v-model="properties.state_province"></el-input>
                    </el-form-item>
                    <el-form-item label="Country">
                        <el-select style="width: 100%;" filterable v-model="properties.country">
                            <el-option v-for="item in countryData" :key="item" :label="item" :value="item"> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Geo coordinates">
                        <el-input v-model="properties.geo_coordinates"></el-input>
                    </el-form-item>
                    <el-form-item label="Location system code">
                        <el-input v-model="properties.location_system_code"></el-input>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="8" class="col-content">
                <el-form :label-width="labelWidth" size="mini" label-position="left">
                    <span class="bolder">Contact person</span>
                    <el-divider></el-divider>
                    <el-form-item label="Name">
                        <el-input v-model="properties.name_person"></el-input>
                    </el-form-item>
                    <el-form-item label="Phone no.1">
                        <el-input type="number" v-model="properties.phone1"></el-input>
                    </el-form-item>
                    <el-form-item label="Phone no.2">
                        <el-input type="number" v-model="properties.phone2"></el-input>
                    </el-form-item>
                    <el-form-item label="Fax no">
                        <el-input type="number" v-model="properties.fax_contact"></el-input>
                    </el-form-item>
                    <el-form-item label="Email">
                        <el-input v-model="properties.email_contact"></el-input>
                    </el-form-item>
                    <el-form-item label="Department">
                        <el-input v-model="properties.department"></el-input>
                    </el-form-item>
                    <el-form-item label="Position">
                        <el-input v-model="properties.position"></el-input>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="8" class="col-content">
                <el-form :label-width="labelWidth" size="mini" label-position="left">
                    <span class="bolder">Comment </span>
                    <el-divider></el-divider>
                    <el-input type="textarea" rows="5" v-model="properties.comment"></el-input>
                    <Attachment :dataParent="this.properties" :deleteList="deleteList" :attachment_="this.attachmentData" :fileUrl="this.fileUrl" title="location" height="120px" @data-attachment = "getDataAttachment"></Attachment>
                </el-form>
            </el-col>
        </el-row>
    </div>
</template>

<script>
/* eslint-disable */
import mixin from './mixin'
import Attachment from '@/views/common/Attachment.vue'
import * as fileAPI from '@/api/fileAPI/fileUpload.js'
import * as attachmentAPI from '@/api/attachmentAPI/attachmentAPI.js'
import {country} from '../ConstantAsset/index'
import * as ownerAPI from '@/api/ownerAPI/ownerAPI.js'

export default {
  components: { Attachment },
    name: 'LocationView',
    mixins: [mixin],
    props : {
        ownerData : {
            // type : Object,
            // required : true
        },
    },
    data() {
        return {
            message : "",
            mode: this.$constant.ADD,
            location_id: null,
            saved: false,
            labelWidth: `${200}px`,
            rules: {
                name: [{required: true, message: 'Please input location name', trigger: 'blur'}],
                mode: [{required: true, message: 'Please input location type', trigger: 'blur'}]
            },
            typeList : ["HV substation", "UHV substation", "Charging station", "Rooftop Solar", "Solar PP", "Wind PP", "Hydro PP", "Wind and solar PP", "Distribution substation",
                "Power Plant", "Cement Plant", "Steel Plant", "Contract number"],
            countryData : [],
            voltageList : ['500 kV', '220 kV', '110 kV', '35 kV', '26 kV', '22 kV', '21 kV', '15.75 kV', '13.8 kV', '10 kV', '6.6 kV', '0.4 kV'],
            deleteList : []
        }
    },
    async beforeMount() {
        await this.loadData()
    },
    mounted() {
        this.countryData = country.default
    },
    methods: {
        getDataAttachment(rowData) {
            this.attachmentData = rowData
        },
        async loadData() {
            if(this.ownerData != undefined) {
                this.properties = JSON.parse(JSON.stringify(this.ownerData))
                this.attachmentData = []
                this.dataLoadAttachment = await attachmentAPI.getDataAttachment(this.properties.id)
                if(this.dataLoadAttachment.length != 0) {
                    this.attachmentData = JSON.parse(this.dataLoadAttachment[0].name).map(element => ({name : element.path}))
                }
                this.fileUrl = new Array(this.attachmentData.length)
                this.fileUrl.fill(-1)
                this.deleteList = []
            }
        },
        async saveData() {
            this.$refs.ruleForm.validate(async (valid) => {
                if(valid) {
                    console.log("A")
                    try {

                        let addListData = this.attachmentData.filter(element => element.upload == 'new')
                        let deleteListData = this.deleteList.map(element => element.name)
                        let data = []
                        for(let i in this.attachmentData) {
                            data.push({
                                path : this.attachmentData[i].name
                            })
                        }
                        if(this.dataLoadAttachment.length != 0) {
                            this.dataLoadAttachment[0].name = JSON.stringify(data)
                        } 
                        else {
                            this.dataLoadAttachment.push( 
                                {
                                    id : this.$uuid.newUuid(),
                                    id_foreign : this.properties.id,
                                    name : JSON.stringify(data),
                                    path : null,
                                    type : 'owner'
                                }
                            )
                        }
                        let rs = await fileAPI.updateFile(deleteListData, addListData, this.properties.name, this.properties.id)
                        if(rs == true) {
                            let rt = await attachmentAPI.upload(this.dataLoadAttachment)
                            if(rt == true) {
                                let rx = await ownerAPI.updateOwner(this.properties)
                                this.$message.success("Update successful")
                                this.$emit('update-data', this.properties)
                            } else {
                                let rx = await ownerAPI.updateOwner(this.properties)
                                this.$message.success("Update successful without attachment")
                                this.$emit('update-data', this.properties)
                            }
                        } else {
                            let rx = await ownerAPI.updateOwner(this.properties)
                            this.$message.success("Update successful without attachment")
                            this.$emit('update-data', this.properties)
                        }
                    } catch(e) {
                        this.$message.error("Update failed")
                    }
                } else {
                    console.log('error submit!!')
                    return false
                }
            })
        }
    },
}
</script>

<style lang="scss" scoped>
#location {
    width: 100%;
    height: 100%;
}

.col-content {
    height: 100%;
}

.last-right-parent {
    position: relative;
    float: right;
}
.bolder {
    font-weight: bold;
}
</style>
