<template>
    <div>
        <div style="overflow: auto; height: calc(100vh - 150px - 38px - 60px - 38px - 10px); justify-content: center; display: flex">
            <div>
                <div>
                    <el-button size="mini" type="primary" class="btn-action" @click="getAllLocation"> <i class="fa-solid fa-rotate-right" style="padding-right:5px"></i> Refresh</el-button>
                    <el-button @click="backPageLocation" v-if="historyLocationPage.length != 1" size="mini" type="primary"><i class="fa-solid fa-arrow-left-long" style="margin-right: 10px"></i>Back</el-button>       
                </div>
                <table class="styled-table" style="max-width: 1000px;">
                    <thead class="header" style="white-space: nowrap;">
                        <th>STT</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State/Province</th>
                        <th>Mode</th>
                        <th>Phone no.</th>
                        <th>Email</th>
                        <th>Lock/Unlock</th>
                        <th>Option
                            <i @click="openSearchLocation" v-if="searchingLocation.option == false" class="fa-solid fa-arrow-down"></i>
                            <i @click="openSearchLocation" v-else class="fa-solid fa-arrow-up"></i>
                        </th>
                    </thead>
                    <tbody>
                        <tr v-if="searchingLocation.option">
                            <td>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-input size="mini" type="primary" v-model="searchingLocation.name"></el-input>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-input size="mini" type="primary" v-model="searchingLocation.address"></el-input>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-input size="mini" type="primary" v-model="searchingLocation.city"></el-input>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-input size="mini" type="primary" v-model="searchingLocation.state_province"></el-input>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-select size="mini" v-model="searchingLocation.mode">
                                    <el-option label="< Select >" value=""> </el-option>
                                    <el-option label="Location" value="location"> </el-option>
                                    <el-option label="Voltage" value="voltage"> </el-option>
                                    <el-option label="Feeder" value="feeder"> </el-option>
                                </el-select>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-input size="mini" type="primary" v-model="searchingLocation.person_phone_no1"></el-input>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-input size="mini" type="primary" v-model="searchingLocation.email"></el-input>
                            </td>
                        </tr>
                        <tr @dblclick="getLocationChild()" @click="selectRowLocation(index)" class="active-row" v-for="(item, index) in locationList" :key="index" ref="tableLocation">
                            <td>
                                {{ indexUser + index + 1}}
                            </td>
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.address}}
                            </td>
                            <td>
                                {{item.city}}
                            </td>
                            <td>
                                {{item.state_province}}
                            </td>
                            <td>
                                {{item.mode}}
                            </td>
                            <td>
                                {{item.person_phone_no1}}
                            </td>
                            <td>
                                {{item.person_email}}
                            </td>
                            <td v-if="item.locked">
                                <i style="color: red" class="fa-solid fa-lock"></i>
                            </td>
                            <td v-else>
                                <i style="color: green;" class="fa-solid fa-lock-open"></i>
                            </td>
                            <td>
                                <i class="fa-solid fa-window-maximize"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <PageAlign 
                    ref="LocationPageAlign" 
                    :page-user="this.pageLocation" 
                    :display-page-user="this.displayPageLocation" 
                    :page-user-instance="this.pageLocationInstance" 
                    :current-page="this.currentPageLocation" 
                    title="LocationPageAlign"
                    :option.sync="this.optionLocation"
                    @update-page="updateLocationPage">
                </PageAlign>
            </div>
        </div>
    </div>
    
</template>

<script>
/* eslint-disable */
import * as locationAPI from '@/api/locationAPI/locationAPI.js'
import PageAlign from '../pageAlign/PageAlign.vue'
import {country} from '../ConstantAsset/index'

export default {
    name : 'locationDataNoCrudView',
    components: {
        PageAlign,
    },
    data() {
        return {
            countryData : [],
            locationList : [],
            sl : 4,
            indexUser : 0,
            roleInformation : '',
            rowCurrent : '',
            locationChosen : {},
            signMode : 'first',
            currentId : '',
            locationChosen : {
                refId : '',
                parentName : '',
            },
            countLocation : '',
            optionLocation : {
                mode : ''
            },
            searchingLocation : {
                option : '',
                name : '',
                address : '',
                city : '',
                state_province : '',
                mode : '',
                phone_no : '',
                email : '',
            },
            pageLocation : {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            },
            displayPageLocation : {
                second : true,
                third : true,
                dot : true,
                end : true
            },
            pageLocationInstance : {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            },
            currentPageLocation : {
                nextP : '',
                previousP : '',
                current : 1,
            },
            historyLocationPage : [],
        }
    },
    async beforeMount() {
        this.roleInformation = localStorage.getItem('role')
        this.countryData = country.default
    },
    watch: {
    },
    methods : {
        async getAllLocation() {
            try {
                this.rowCurrent = ''
                this.countLocation = await locationAPI.countAllLocationByCreatedAndCollab("location")
                this.pageLocation = {
                    first : 1,
                    second : 2,
                    third : 3,
                    dot : "...",
                    end : 10,
                }
                this.displayPageLocation = {
                    second : true,
                    third : true,
                    dot : true,
                    end : true
                }

                this.pageLocationInstance = {
                    first : "",
                    second : "",
                    third : "",
                    dot : "",
                    end : "",
                }

                this.currentPageLocation = {
                    nextP : '',
                    previousP : '',
                    current : 1
                }
                let sumOfPage = Math.floor(parseInt(this.countLocation) / this.sl)
                let remainder = parseInt(this.countLocation) % this.sl
                if(remainder == 0) {
                    if(sumOfPage < 4) {
                        this.displayPageLocation.dot = false
                        this.displayPageLocation.end = false
                        this.pageLocation.end = sumOfPage
                        if(sumOfPage <3) {
                            this.displayPageLocation.third = false
                        }
                        if(sumOfPage <2) {
                            this.displayPageLocation.second = false
                        }
                    } else if(sumOfPage == 4) {
                        this.displayPageLocation.dot = false
                        this.pageLocation.end = sumOfPage
                    } else {
                        this.pageLocation.end = sumOfPage
                    }
                } else {
                    if(sumOfPage < 3) {
                        if(sumOfPage <2) {
                            this.displayPageLocation.third = false
                        }
                        if(sumOfPage <1) {
                            this.displayPageLocation.second = false
                        }
                        this.displayPageLocation.dot = false
                        this.displayPageLocation.end = false
                        this.pageLocation.end = sumOfPage + 1
                    } else if(sumOfPage == 3) {
                        this.displayPageLocation.dot = false
                        this.pageLocation.end = sumOfPage + 1
                    } else {
                        this.pageLocation.end = sumOfPage + 1
                    }
                }
                this.locationList = await locationAPI.findAllLocationByCreatedAndCollab("location", "1", this.sl)
                this.optionLocation.mode = 'update'
                if(this.$refs['tableLocation'] != undefined) {
                    this.$refs['tableLocation'].forEach((element) => {
                        element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                        element.style.color = 'black'
                    })
                }
                this.$refs.LocationPageAlign.firstUserPage();
                this.historyLocationPage = []
                this.signMode = 'first'
                this.currentId = JSON.parse(JSON.stringify(this.$store.state.user.user_id))
                this.historyLocationPage.push({
                    currentId : JSON.parse(JSON.stringify(this.$store.state.user.user_id)),
                    signMode : JSON.parse(JSON.stringify(this.signMode)),
                })
            } catch(e) {
                this.$message.error("Cannot load location data")
            }
        },
        async getLocationChild() {
            let ref_id = this.locationList[this.rowCurrent].id
            this.countLocation = await locationAPI.countLocationByRefId(ref_id)
            this.locationList = await locationAPI.findLocationByRefId(ref_id, 1, this.sl)
            this.currentId = ref_id
            this.signMode = "noFirst"
            this.historyLocationPage.push({
                pageLocation : JSON.parse(JSON.stringify(this.pageLocation)),
                pageLocationInstance : JSON.parse(JSON.stringify(this.pageLocationInstance)),
                displayPageLocation : JSON.parse(JSON.stringify(this.displayPageLocation)),
                currentPageLocation : JSON.parse(JSON.stringify(this.currentPageLocation)),
                signMode : JSON.parse(JSON.stringify(this.signMode)),
                currentId : JSON.parse(JSON.stringify(this.currentId)),
            })
            this.pageLocation = {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            }
            this.displayPageLocation = {
                second : true,
                third : true,
                dot : true,
                end : true
            }

            this.pageLocationInstance = {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            }
            await this.pageAlignCalc(this.countLocation, this.pageLocation, this.displayPageLocation)
            if(this.optionLocation.mode == 'update') {
                this.$refs.LocationPageAlign.firstUserPageNoMode()
            } else if(this.optionLocation.mode == 'search') {
                this.$refs.LocationPageAlign.firstUserPageNoSearch()
            }
        },
        async pageAlignCalc(count, pageUser, displayPageUser ) {
            let sumOfPage = Math.floor(parseInt(count) / this.sl)
            let remainder = parseInt(count) % this.sl
            if(remainder == 0) {
                if(sumOfPage < 4) {
                    displayPageUser.dot = false
                    displayPageUser.end = false
                    pageUser.end = sumOfPage
                    if(sumOfPage <3) {
                        displayPageUser.third = false
                    }
                    if(sumOfPage <2) {
                        displayPageUser.second = false
                    }
                } else if(sumOfPage == 4) {
                    displayPageUser.dot = false
                    pageUser.end = sumOfPage
                } else {
                    pageUser.end = sumOfPage
                }
            } else {
                if(sumOfPage < 3) {
                    if(sumOfPage <2) {
                        displayPageUser.third = false
                    }
                    if(sumOfPage <1) {
                        displayPageUser.second = false
                    }
                    displayPageUser.dot = false
                    displayPageUser.end = false
                    pageUser.end = sumOfPage + 1
                } else if(sumOfPage == 3) {
                    displayPageUser.dot = false
                    pageUser.end = sumOfPage + 1
                } else {
                    pageUser.end = sumOfPage + 1
                }
            }
        },
        async selectRowLocation(x) {
            this.$refs['tableLocation'].forEach((element) => {
                element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                element.style.color = 'black'
            })
            let ref = this.$refs['tableLocation'][x]
            let myDivObjBgColor = window.getComputedStyle(ref).backgroundColor;
            if(myDivObjBgColor.toString() === 'rgba(0, 0, 0, 0)') {
                ref.style.backgroundColor = '#012596',
                ref.style.color = 'white'
                this.rowCurrent = x
                this.locationChosen = this.locationList[x]
            } else {
                ref.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                ref.style.color = 'black',
                this.rowCurrent = ''
            }

            this.$emit('changeLocationList', this.locationList[this.rowCurrent])
            
        },
        async updateLocationPage(pageStt) {
            if(this.optionLocation.mode == 'update') {
                if(this.signMode == "first") {
                    this.locationList = await locationAPI.findAllLocationByCreatedAndCollab("location",parseInt(pageStt), this.sl,)
                } else {
                    this.locationList = await locationAPI.findLocationByRefId(this.currentId, pageStt, this.sl)
                }
            } else if(this.optionLocation.mode == 'search') {
                if(this.signMode == 'first') {
                    this.locationList = await locationAPI.findAllLocationByField(this.searchingLocation, pageStt, this.sl)
                } else {
                    this.locationList = await locationAPI.findLocationByRefId(this.currentId, pageStt, this.sl)
                }
            }
        },
        async backPageLocation() {
            if(this.optionLocation.mode == 'noSearch') {
                this.optionLocation.mode = 'search'
            } else if(this.optionLocation.mode == 'update') {
                this.optionLocation.mode = 'mode'
            }
            if(this.optionLocation.mode == 'mode') {
                let historyData = JSON.parse(JSON.stringify(this.historyLocationPage[this.historyLocationPage.length - 1]))
                let historyDataUser = JSON.parse(JSON.stringify(this.historyLocationPage[this.historyLocationPage.length - 2]))
                if(this.historyLocationPage.length == 2) {
                    this.locationList = await locationAPI.findAllLocationByCreatedAndCollab("location", historyData.currentPageLocation.current, this.sl)
                    this.countLocation = await locationAPI.countAllLocationByCreatedAndCollab("location")
                } else if(this.historyLocationPage.length > 2) {
                    this.locationList = await locationAPI.findLocationByRefId(historyDataUser.currentId, historyData.currentPageLocation.current, this.sl)
                    this.countLocation = await locationAPI.countLocationByRefId(historyDataUser.currentId)
                }
                
                this.pageLocation = JSON.parse(JSON.stringify(historyData.pageLocation))
                this.displayPageLocation = JSON.parse(JSON.stringify(historyData.displayPageLocation))
                this.pageLocationInstance = JSON.parse(JSON.stringify(historyData.pageLocationInstance))
                this.currentPageLocation = JSON.parse(JSON.stringify(historyData.currentPageLocation))
                this.currentId = JSON.parse(JSON.stringify(historyDataUser.currentId))
                this.signMode = JSON.parse(JSON.stringify(historyDataUser.signMode))
                this.historyLocationPage.pop()

                await this.pageAlignCalc(this.countLocation, this.pageLocation, this.displayPageLocation)
                if(this.currentPageLocation.nextP == 'second') {
                    this.$refs.LocationPageAlign.firstUserPage()
                } else if(this.currentPageLocation.nextP == 'third') {
                    this.$refs.LocationPageAlign.secondUser()
                } else if(this.currentPageLocation.nextP == 'dot') {
                    this.$refs.LocationPageAlign.thirdUser()
                } else if(this.currentPageLocation.nextP == '') {
                    this.$refs.LocationPageAlign.endUser()
                }

                this.$refs['tableLocation'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
                this.rowCurrent = ''
            } else {
                let historyData = JSON.parse(JSON.stringify(this.historyLocationPage[this.historyLocationPage.length - 1]))
                let historyDataUser = JSON.parse(JSON.stringify(this.historyLocationPage[this.historyLocationPage.length - 2]))

                if(this.historyLocationPage.length == 2) {
                    this.locationList = await locationAPI.findAllLocationByField(historyDataUser.currentId, historyData.currentPageLocation.current, this.sl)
                    this.countLocation = await locationAPI.countAllLocationByField(historyDataUser.currentId)
                } else if(this.historyLocationPage.length > 2) {
                    this.locationList = await locationAPI.findLocationByRefId(historyDataUser.currentId, historyData.currentPageLocation.current, this.sl)
                    this.countLocation = await locationAPI.countLocationByRefId(historyDataUser.currentId)
                }

                this.pageLocation = JSON.parse(JSON.stringify(historyData.pageLocation))
                this.displayPageLocation = JSON.parse(JSON.stringify(historyData.displayPageLocation))
                this.pageLocationInstance = JSON.parse(JSON.stringify(historyData.pageLocationInstance))
                this.currentPageLocation = JSON.parse(JSON.stringify(historyData.currentPageLocation))
                this.currentId = JSON.parse(JSON.stringify(historyDataUser.currentId))
                this.signMode = JSON.parse(JSON.stringify(historyDataUser.signMode))
                this.historyLocationPage.pop()

                await this.pageAlignCalc(this.countLocation, this.pageLocation, this.displayPageLocation)
                if(this.currentPageLocation.nextP == 'second') {
                    this.$refs.LocationPageAlign.firstUserPage()
                } else if(this.currentPageLocation.nextP == 'third') {
                    this.$refs.LocationPageAlign.secondUser()
                } else if(this.currentPageLocation.nextP == 'dot') {
                    this.$refs.LocationPageAlign.thirdUser()
                } else if(this.currentPageLocation.nextP == '') {
                    this.$refs.LocationPageAlign.endUser()
                }

                this.$refs['tableLocation'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
                this.rowCurrent = ''
            }
        },
        async searchingLocationData() {
            this.currentPageLocation = {
                nextP : '',
                previousP : '',
                current : 1
            }
            console.log(this.searchingLocation)
            this.countLocation = await locationAPI.countAllLocationByField(this.searchingLocation)
            this.locationList = await locationAPI.findAllLocationByField(this.searchingLocation, 1, this.sl)
            this.optionLocation.mode = 'search'
            this.pageLocation = {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            },
            this.displayPageLocation = {
                second : true,
                third : true,
                dot : true,
                end : true
            },
            this.pageLocationInstance = {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            }
            await this.pageAlignCalc(this.countLocation, this.pageLocation, this.displayPageLocation)
            if(this.$refs['tableLocation'] != undefined) {
                this.$refs['tableLocation'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
            }
            this.$refs.LocationPageAlign.firstUserPage();
            this.historyLocationPage = []
            this.signMode = 'first'
            this.currentId = JSON.parse(JSON.stringify(this.$store.state.user.user_id))
            this.historyLocationPage.push({
                currentId : JSON.parse(JSON.stringify(this.searchingLocation)),
                signMode : JSON.parse(JSON.stringify(this.signMode)),
            })
        },
        async openSearchLocation() {
            if(this.searchingLocation.option == false) {
                this.searchingLocation.option = true
            } else {
                this.searchingLocation.option = false
            }
        },
        async typeToInt(type) {
            if(type == "location") {
                return 1
            } else if(type == "voltage") {
                return 2
            } else if(type == "feeder") {
                return 3
            }
        },
    }
}
</script>
<style>
.location-class {
    min-width: 1200px;
}
</style>
