<template>
    <div>
        <div style="margin-bottom: 20px; justify-content: center; align-items: center; display: flex">
            <el-row>
                <el-col>
                    <el-button size="mini" type="primary" class="btn-action" @click="addLocation"> <i class="fa-solid fa-plus" style="padding-right:5px"></i> Add location </el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="editLocation"> <i class="fa-solid fa-pen" style="padding-right:5px"></i> Edit location</el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="changeLockLocation"> <i class="fa-solid fa-key" style="padding-right:5px"></i> Lock/Unlock </el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="deleteLocation"> <i class="fa-solid fa-eraser" style="padding-right:5px"></i>Remove location</el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="getAllLocation"> <i class="fa-solid fa-rotate-right" style="padding-right:5px"></i> Refresh</el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="settingCollab"> <i class="fa-solid fa-address-card" style="padding-right:5px"></i> Collab</el-button>
                    <el-button @click="backPageLocation" v-if="historyLocationPage.length != 1" size="mini" type="primary"><i class="fa-solid fa-arrow-left-long" style="margin-right: 10px"></i>Back</el-button>       
                </el-col>
            </el-row>
        </div>
        <div id="locationDiv" style="height: 73vh; overflow-y: auto; width: 100%;">
            <div style="width: 98%; margin-left: 1%; margin-right: 1%;">
                <table id="locationTable" class="styled-table" style="width: 100%;">
                    <thead class="header" style="white-space: nowrap;">
                        <th style="width: 30px;">STT</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State/Province</th>
                        <th>Mode</th>
                        <th>Phone no.</th>
                        <th>Email</th>
                        <th>Lock/Unlock</th>
                        <th>Option
                            <i @click="openSearchLocation" v-if="searchingLocation.option == false" class="fa-solid fa-arrow-down"></i>
                            <i @click="openSearchLocation" v-else class="fa-solid fa-arrow-up"></i>
                        </th>
                    </thead>
                    <tbody>
                        <tr v-if="searchingLocation.option">
                            <td>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-input size="mini" type="primary" v-model="searchingLocation.name"></el-input>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-input size="mini" type="primary" v-model="searchingLocation.address"></el-input>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-input size="mini" type="primary" v-model="searchingLocation.city"></el-input>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-input size="mini" type="primary" v-model="searchingLocation.state_province"></el-input>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-select size="mini" v-model="searchingLocation.mode">
                                    <el-option label="< Select >" value=""> </el-option>
                                    <el-option label="Location" value="location"> </el-option>
                                    <el-option label="Voltage" value="voltage"> </el-option>
                                    <el-option label="Feeder" value="feeder"> </el-option>
                                </el-select>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-input size="mini" type="primary" v-model="searchingLocation.person_phone_no1"></el-input>
                            </td>
                            <td @keyup.enter="searchingLocationData()">
                                <el-input size="mini" type="primary" v-model="searchingLocation.email"></el-input>
                            </td>
                        </tr>
                        <tr @dblclick="getLocationChild(index)" @click="selectRowLocation(index)" class="active-row" v-for="(item, index) in locationList" :key="index" ref="tableLocation">
                            <td>
                                {{ indexUser + index + 1}}
                            </td>
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.address}}
                            </td>
                            <td>
                                {{item.city}}
                            </td>
                            <td>
                                {{item.state_province}}
                            </td>
                            <td>
                                {{item.mode}}
                            </td>
                            <td>
                                {{item.person_phone_no1}}
                            </td>
                            <td>
                                {{item.person_email}}
                            </td>
                            <td v-if="item.locked">
                                <i style="color: red" class="fa-solid fa-lock"></i>
                            </td>
                            <td v-else>
                                <i style="color: green;" class="fa-solid fa-lock-open"></i>
                            </td>
                            <td @click="selectedLocationInfo(index, $event)" style="cursor: pointer;">
                                <i class="fa-solid fa-window-maximize"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <PageAlign 
                    ref="LocationPageAlign" 
                    :page-user="this.pageLocation" 
                    :display-page-user="this.displayPageLocation" 
                    :page-user-instance="this.pageLocationInstance" 
                    :current-page="this.currentPageLocation" 
                    title="LocationPageAlign"
                    :option.sync="this.optionLocation"
                    @update-page="updateLocationPage">
                </PageAlign>
            </div>
        </div>
        <el-dialog
            :visible.sync="signLocationList"
            :title="title"
            width="35%"
            align-center
            :before-close="handleCloseLocationList"
            draggable
        >
            <el-form label-width="100px" label-position="left" size="small">
                <el-form-item label="Type">
                    <el-select :disabled = "disableType" @change="changeLocationType" style="width:100%" v-model="location.mode">
                        <el-option label="Location" value="location"> </el-option>
                        <el-option label="Voltage" value="voltage"> </el-option>
                        <el-option label="Feeder" value="feeder"> </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Parent">
                    <el-button @click="openParentList" style="width: 100px;" type="primary">
                        Chosen <i class="el-icon-folder"></i>
                    </el-button>

                    <el-input :disabled="disableRef" v-model="location.parentName" style="width: calc(100% - 120px); padding-left: 20px" type="primary"></el-input>
                </el-form-item>
                <el-form-item label="Name">
                    <el-input v-model="location.name"></el-input>
                </el-form-item>
                <el-form-item label="Address">
                    <el-input v-model="location.address"></el-input>
                </el-form-item>
                <el-form-item label="State/Province">
                    <el-input v-model="location.state_province"></el-input>
                </el-form-item>
                <el-form-item label="City">
                    <el-input v-model="location.city"></el-input>
                </el-form-item>
                <el-form-item label="Country">
                    <el-select style="width: 100%;" filterable v-model="location.country">
                        <el-option v-for="item in countryData" :key="item" :label="item" :value="item"> </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Phone no.">
                    <el-input v-model="location.person_phone_no1"></el-input>
                </el-form-item>
                <el-form-item label="email">
                    <el-input v-model="location.person_email"></el-input>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button type="danger" @click="handleCloseLocationList()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleConfirm()" size="small">Confirm</el-button>
            </span>

        </el-dialog>
        <el-dialog
            :visible.sync="showOwnerData"
            :before-close="handleCloseOwnerList"
            align-center
            draggable
            title="Chosen Parent"
            width="1050px"
            
            >

            <owner-view-list :parentId="location.refId" :titleData="this.title" v-if="location.mode == 'location'" @changeLocationList="changeLocationList" ref="ownerList"></owner-view-list>
            <location-data-list-view :parentId="location.refId" :titleData="this.title" @changeLocationList="changeLocationList" :locationType.sync="this.location.mode" v-else ref="locationListData"></location-data-list-view>
            

            <span slot="footer" class="dialog-footer">
                <el-button type="danger" @click="handleCloseOwnerList()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleConfirmOwnerList()" size="small">Confirm</el-button>
            </span>

        </el-dialog>
        <el-dialog
            :visible.sync="signShowLocation"
            title="Edit Location"
            align-center
            :before-close="handleCloseLocation"
            custom-class="location-class"
            draggable
        >
            <location-view-data ref="locationView" @update-data="updateData" :ownerData.sync="this.locationList[this.rowCurrent]" style="width: 100%;"></location-view-data>
            <span slot="footer" class="dialog-footer">
                <el-button type="danger" @click="handleCloseLocation()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleLocationConfirm()" size="small">Confirm</el-button>
            </span>
        </el-dialog>
        <el-dialog
            :visible.sync="showCollab"
            title="Edit collabs"
            align-center
            :before-close="handleCloseCollab"
            custom-class="location-class"
            draggable
        >
            <user-view-collab-vue ref="collabView" @update-user-collab="updateDataCollab" :ownerData.sync="this.locationList[this.rowCurrent]" style="width: 100%;"></user-view-collab-vue>
            <span slot="footer" class="dialog-footer">
                <el-button type="danger" @click="handleCloseCollab()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleCollabConfirm()" size="small">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
    
</template>

<script>
/* eslint-disable */
import * as shareIdAPI from '@/api/shareId/shareIdAPI'
import * as ownerAPI from '@/api/ownerAPI/ownerAPI.js'
import * as locationAPI from '@/api/locationAPI/locationAPI.js'
import PageAlign from '../pageAlign/PageAlign.vue'
import userView from '../UserView/userView.vue'
import LocationViewData from '../LocationView/locationData.vue'
import ownerViewList from '@/views/ownerView/OwnerViewList.vue'
import locationDataListView from '@/views/LocationView/locationListData.vue'
import userViewCollabVue from '@/views/UserView/userViewCollab.vue'
import {country} from '../ConstantAsset/index'

export default {
    name : 'locationDataView',
    components: {
        PageAlign,
        userView,
        ownerViewList,
        locationDataListView,
        LocationViewData,
        userViewCollabVue
    },
    data() {
        return {
            countryData : [],
            showOwnerData : false,
            showCollab : false,
            collabData : '',
            locationList : [],
            signShowLocation : false,
            attachment : [],
            sl : 5,
            indexUser : 0,
            groupUserList : [],
            userList : [],
            userChosen : '',
            signLocationList : false,
            signUserList : false,
            title : "Add Location",
            roleInformation : '',
            selectedCheckedIndex: [],
            rowCurrent : '',
            disableRef : true,
            disableType : true,
            locationSelectList : [],
            locationNameList : [],
            locationChosen : {},
            signMode : 'first',
            currentId : '',
            location : {
                refId : '',
                parentName : '',
                name : '',
                address : '',
                city : '', 
                state : '',
                country : '',
                person_email : '',
                person_phone_no1 : '',
                user_id : '',
                mode : '',
            },
            locationChosen : {
                refId : '',
                parentName : '',
            },
            countLocation : '',
            optionLocation : {
                mode : ''
            },
            searchingLocation : {
                option : '',
                name : '',
                address : '',
                city : '',
                state_province : '',
                mode : '',
                phone_no : '',
                email : '',
            },
            pageLocation : {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            },
            displayPageLocation : {
                second : true,
                third : true,
                dot : true,
                end : true
            },
            pageLocationInstance : {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            },
            currentPageLocation : {
                nextP : '',
                previousP : '',
                current : 1,
            },
            historyLocationPage : [],
        }
    },
    async beforeMount() {
        this.roleInformation = localStorage.getItem('role')
        this.countryData = country.default
    },
    watch: {
    },
    methods : {
        async addLocation() {
            this.signLocationList = true
            this.title = 'Add Location'
            this.disableType = false
            this.disableRef = true
        },
        async editLocation() {
            if(this.rowCurrent !== '') {
                this.title = 'Edit Location'
                this.disableType = true
                this.location = JSON.parse(JSON.stringify(this.locationList[this.rowCurrent]))
                if(this.location.mode != 'location') {
                    try {
                        const rt = await locationAPI.getLocationById(this.location.refId)
                        if(rt != null) {
                            this.location.refId = rt.id
                            this.location.parentName = rt.name + " - " + rt.mode
                            this.signLocationList = true
                        }
                    } catch(e) {
                        this.$message.error("cannot load Parrent data")
                    }
                } else {
                    try {
                        const rt = await ownerAPI.findById(this.location.refId)
                        if(rt != null) {
                            this.location.refId = rt.id
                            this.location.parentName = rt.name + " - " + rt.mode
                            this.signLocationList = true
                        }
                    } catch(e) {
                        this.$message.error("cannot load Parrent data")
                    }
                }
            } else {
                this.$message.error("Row must be chosen")
            }
        },
        async selectChecked(index) {
            if (this.selectedCheckedIndex.includes(index)) {
                this.selectedCheckedIndex = this.selectedCheckedIndex.filter(item => item !== index); // Bỏ chọn hàng nếu đã được chọn trước đó
            } else {
                this.selectedCheckedIndex = [index]; // Chọn hàng mới
            }
        },
        async changeLocation() {
            if(this.rowCurrent !== '') {
                this.signUserList = true
            } else {
                this.$message.error("Row must be chosen")
            }
        },
        async changeLockLocation() {
            try {
                if(this.rowCurrent !== "") {
                    try {
                        if(this.locationList[this.rowCurrent].locked) {
                            const rs = await locationAPI.unlockLocation([this.locationList[this.rowCurrent].id])
                            console.log(rs)
                            if(rs == true) {
                                this.locationList[this.rowCurrent].locked = false
                                this.$message.success("Successful")
                            }
                        } else {
                            const rs = await locationAPI.lockLocation([this.locationList[this.rowCurrent].id])
                            console.log(rs)
                            if(rs == true) {
                                this.locationList[this.rowCurrent].locked = true
                                this.$message.success("Successful")
                            }
                        }
                    } catch (e) {
                        this.$message.error("Lock/Unlock failed")
                    }

                } else {
                    this.$message.error("Row must be chosen")
                }
            } catch(err) {
                this.$message.error("Lock/Unlock failed")
            }
        },
        async deleteLocation() {
            try {
                if(this.rowCurrent !== "") {
                    try {
                        const rs = await locationAPI.removeLocation(this.locationList[this.rowCurrent].id)
                        if(rs != null && rs != undefined) {
                            this.$message.success("Successful")
                        } else {
                            this.$message.error("Delete failed")
                        }
                    } catch (e) {
                        this.$message.error("Delete failed")
                    }
                } else {
                    this.$message.error("Row must be chosen")
                }
            } catch(err) {
                this.$message.error("Delete failed")
            }
            
        },
        async getAllLocation() {
            try {
                await shareIdAPI.generateShareId()
                this.rowCurrent = ''
                this.countLocation = await locationAPI.countAllLocationByCreatedAndCollab("location")
                this.pageLocation = {
                    first : 1,
                    second : 2,
                    third : 3,
                    dot : "...",
                    end : 10,
                }
                this.displayPageLocation = {
                    second : true,
                    third : true,
                    dot : true,
                    end : true
                }

                this.pageLocationInstance = {
                    first : "",
                    second : "",
                    third : "",
                    dot : "",
                    end : "",
                }

                this.currentPageLocation = {
                    nextP : '',
                    previousP : '',
                    current : 1
                }
                let sumOfPage = Math.floor(parseInt(this.countLocation) / this.sl)
                let remainder = parseInt(this.countLocation) % this.sl
                if(remainder == 0) {
                    if(sumOfPage < 4) {
                        this.displayPageLocation.dot = false
                        this.displayPageLocation.end = false
                        this.pageLocation.end = sumOfPage
                        if(sumOfPage <3) {
                            this.displayPageLocation.third = false
                        }
                        if(sumOfPage <2) {
                            this.displayPageLocation.second = false
                        }
                    } else if(sumOfPage == 4) {
                        this.displayPageLocation.dot = false
                        this.pageLocation.end = sumOfPage
                    } else {
                        this.pageLocation.end = sumOfPage
                    }
                } else {
                    if(sumOfPage < 3) {
                        if(sumOfPage <2) {
                            this.displayPageLocation.third = false
                        }
                        if(sumOfPage <1) {
                            this.displayPageLocation.second = false
                        }
                        this.displayPageLocation.dot = false
                        this.displayPageLocation.end = false
                        this.pageLocation.end = sumOfPage + 1
                    } else if(sumOfPage == 3) {
                        this.displayPageLocation.dot = false
                        this.pageLocation.end = sumOfPage + 1
                    } else {
                        this.pageLocation.end = sumOfPage + 1
                    }
                }
                this.locationList = await locationAPI.findAllLocationByCreatedAndCollab("location", "1", this.sl)
                this.optionLocation.mode = 'update'
                if(this.$refs['tableLocation'] != undefined) {
                    this.$refs['tableLocation'].forEach((element) => {
                        element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                        element.style.color = 'black'
                    })
                }
                this.$refs.LocationPageAlign.firstUserPage();
                this.historyLocationPage = []
                this.signMode = 'first'
                this.currentId = JSON.parse(JSON.stringify(this.$store.state.user.user_id))
                this.historyLocationPage.push({
                    currentId : JSON.parse(JSON.stringify(this.$store.state.user.user_id)),
                    signMode : JSON.parse(JSON.stringify(this.signMode)),
                })
            } catch(e) {
                this.$message.error("Cannot load location data")
            }
        },
        async getLocationChild(index) {
            this.rowCurrent = index
            let ref_id = this.locationList[index].id
            this.countLocation = await locationAPI.countLocationByRefId(ref_id)
            this.locationList = await locationAPI.findLocationByRefId(ref_id, 1, this.sl)
            this.currentId = ref_id
            this.signMode = "noFirst"
            this.historyLocationPage.push({
                pageLocation : JSON.parse(JSON.stringify(this.pageLocation)),
                pageLocationInstance : JSON.parse(JSON.stringify(this.pageLocationInstance)),
                displayPageLocation : JSON.parse(JSON.stringify(this.displayPageLocation)),
                currentPageLocation : JSON.parse(JSON.stringify(this.currentPageLocation)),
                signMode : JSON.parse(JSON.stringify(this.signMode)),
                currentId : JSON.parse(JSON.stringify(this.currentId)),
            })
            this.pageLocation = {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            }
            this.displayPageLocation = {
                second : true,
                third : true,
                dot : true,
                end : true
            }

            this.pageLocationInstance = {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            }
            await this.pageAlignCalc(this.countLocation, this.pageLocation, this.displayPageLocation)
            if(this.optionLocation.mode == 'update') {
                this.$refs.LocationPageAlign.firstUserPageNoMode()
            } else if(this.optionLocation.mode == 'search') {
                this.$refs.LocationPageAlign.firstUserPageNoSearch()
            }
            this.indexUser = 0
        },
        async pageAlignCalc(count, pageUser, displayPageUser ) {
            let sumOfPage = Math.floor(parseInt(count) / this.sl)
            let remainder = parseInt(count) % this.sl
            if(remainder == 0) {
                if(sumOfPage < 4) {
                    displayPageUser.dot = false
                    displayPageUser.end = false
                    pageUser.end = sumOfPage
                    if(sumOfPage <3) {
                        displayPageUser.third = false
                    }
                    if(sumOfPage <2) {
                        displayPageUser.second = false
                    }
                } else if(sumOfPage == 4) {
                    displayPageUser.dot = false
                    pageUser.end = sumOfPage
                } else {
                    pageUser.end = sumOfPage
                }
            } else {
                if(sumOfPage < 3) {
                    if(sumOfPage <2) {
                        displayPageUser.third = false
                    }
                    if(sumOfPage <1) {
                        displayPageUser.second = false
                    }
                    displayPageUser.dot = false
                    displayPageUser.end = false
                    pageUser.end = sumOfPage + 1
                } else if(sumOfPage == 3) {
                    displayPageUser.dot = false
                    pageUser.end = sumOfPage + 1
                } else {
                    pageUser.end = sumOfPage + 1
                }
            }
        },
        async handleCloseLocationList() {
            this.signLocationList = false
        },
        async handleCloseUserList() {
            this.signUserList = false
        },
        async handleUserListConfirm() {
            let dataLocation = JSON.parse(JSON.stringify(this.locationList[this.rowCurrent]))
            if(this.userChosen === '') {
                this.$message.error("Row must be chosen")
            } else {
                await ownerAPI.changeOwner(this.userChosen.id, dataLocation.id)
                this.signUserList = false
                this.$message.success("Successful")
            }
        },
        async handleConfirm() {
            if(this.location.name != '' && this.location.type != '' && this.location.refId != '') {
                if(this.title == "Add Location") {
                    this.location.user_id = this.$store.state.user.user_id
                    this.location.id = ''
                    try {
                        const rs = await locationAPI.createLocation(this.location)
                        if(rs == null) {
                            this.$message.error("Create failed")
                        } else {
                            this.$message.success("Successful")
                            this.signLocationList = false
                            for(let i in Object.keys(this.location)) {
                                this.location[Object.keys(this.location)[i]] = ''
                            }
                        }
                    } catch(e) {
                        this.$message.error("Create failed")
                    }
                } else if(this.title == "Edit Location") {
                    try {
                        if(this.location.mode == 'voltage' || this.location.mode == 'feeder') {
                            const rs = await locationAPI.updateLocationLite(this.location)
                            if(rs == null) {
                                this.$message.error("Update failed")
                            } else {
                                this.$message.success("Successful")
                                this.signLocationList = false
                            }
                        } else {
                            const rs = await locationAPI.updateLocationLite(this.location)
                            if(rs == null) {
                                this.$message.error("Update failed")
                            } else {
                                this.$message.success("Successful")
                                this.signLocationList = false
                            } 
                        }
                    } catch(e) {
                        this.$message.error("Update failed")
                    }
                }
            } else {
                this.$message.error("Type, name, parent cannot be null or empty")
            }
        },
        async selectRowLocation(x) {
            if(x != undefined) {
                let ref = this.$refs['tableLocation'][x]
                let myDivObjBgColor = JSON.parse(JSON.stringify(window.getComputedStyle(ref).backgroundColor))

                this.$refs['tableLocation'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
                
                if(myDivObjBgColor.toString() === 'rgba(0, 0, 0, 0)' || myDivObjBgColor.toString() === 'rgb(243, 243, 243)') {
                    ref.style.backgroundColor = '#012596',
                    ref.style.color = 'white'
                    this.rowCurrent = x
                    this.locationChosen = this.locationList[x]
                } else {
                    ref.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    ref.style.color = 'black',
                    this.rowCurrent = ''
                }

                this.$emit('changeLocationList', this.locationList[this.rowCurrent])
            } else {
                if(this.$refs['tableLocation'] != undefined){
                    this.$refs['tableLocation'].forEach((element) => {
                        element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                        element.style.color = 'black'
                    })
                }
                this.rowCurrent = ''
                this.$emit('changeLocationList', this.locationList[this.rowCurrent])
            }
            
        },
        async updateLocationPage(pageStt) {
            if(this.optionLocation.mode == 'update') {
                if(this.signMode == "first") {
                    this.locationList = await locationAPI.findAllLocationByCreatedAndCollab("location",parseInt(pageStt), this.sl,)
                } else {
                    this.locationList = await locationAPI.findLocationByRefId(this.currentId, pageStt, this.sl)
                }
            } else if(this.optionLocation.mode == 'search') {
                if(this.signMode == 'first') {
                    this.locationList = await locationAPI.findAllLocationByField(this.searchingLocation, pageStt, this.sl)
                } else {
                    this.locationList = await locationAPI.findLocationByRefId(this.currentId, pageStt, this.sl)
                }
            }
            this.indexUser = (pageStt - 1) * this.sl

            this.$nextTick(async () => {
                const locationDiv = document.getElementById('locationDiv');
                const locationTable = document.getElementById('locationTable');
                const locationDivStyle = locationDiv.style
                const divWidth = locationDiv.offsetWidth;
                const tableWidth = locationTable.offsetWidth;
                if(tableWidth <= divWidth) {
                    if(locationDivStyle.justifyContent == '') {
                        locationDivStyle.justifyContent = 'center'
                    }
                } else {
                    locationDivStyle.justifyContent = ''
                }
            })
        },
        async selectedLocationInfo(index, event) {
            event.stopPropagation();
            if(this.rowCurrent === '' || this.rowCurrent != index) {
                await this.selectRowLocation(index)
            }
            this.signShowLocation = true
            this.$nextTick(async () => {
                try {
                    await this.$refs.locationView.loadData()
                    await this.$refs.locationView.loadMapFirst()
                } catch(e) {
                    this.$message.error("Cannot load location data")
                }
            })
        },
        async backPageLocation() {
            if(this.optionLocation.mode == 'noSearch') {
                this.optionLocation.mode = 'search'
            } else if(this.optionLocation.mode == 'update') {
                this.optionLocation.mode = 'mode'
            }
            if(this.optionLocation.mode == 'mode') {
                let historyData = JSON.parse(JSON.stringify(this.historyLocationPage[this.historyLocationPage.length - 1]))
                let historyDataUser = JSON.parse(JSON.stringify(this.historyLocationPage[this.historyLocationPage.length - 2]))
                if(this.historyLocationPage.length == 2) {
                    this.locationList = await locationAPI.findAllLocationByCreatedAndCollab("location", historyData.currentPageLocation.current, this.sl)
                    this.countLocation = await locationAPI.countAllLocationByCreatedAndCollab("location")
                } else if(this.historyLocationPage.length > 2) {
                    this.locationList = await locationAPI.findLocationByRefId(historyDataUser.currentId, historyData.currentPageLocation.current, this.sl)
                    this.countLocation = await locationAPI.countLocationByRefId(historyDataUser.currentId)
                }
                
                this.pageLocation = JSON.parse(JSON.stringify(historyData.pageLocation))
                this.displayPageLocation = JSON.parse(JSON.stringify(historyData.displayPageLocation))
                this.pageLocationInstance = JSON.parse(JSON.stringify(historyData.pageLocationInstance))
                this.currentPageLocation = JSON.parse(JSON.stringify(historyData.currentPageLocation))
                this.currentId = JSON.parse(JSON.stringify(historyDataUser.currentId))
                this.signMode = JSON.parse(JSON.stringify(historyDataUser.signMode))
                this.historyLocationPage.pop()

                await this.pageAlignCalc(this.countLocation, this.pageLocation, this.displayPageLocation)
                if(this.currentPageLocation.nextP == 'second') {
                    this.$refs.LocationPageAlign.firstUserPage()
                } else if(this.currentPageLocation.nextP == 'third') {
                    this.$refs.LocationPageAlign.secondUser()
                } else if(this.currentPageLocation.nextP == 'dot') {
                    this.$refs.LocationPageAlign.thirdUser()
                } else if(this.currentPageLocation.nextP == '') {
                    this.$refs.LocationPageAlign.endUser()
                }

                this.$refs['tableLocation'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
                this.rowCurrent = ''
            } else {
                let historyData = JSON.parse(JSON.stringify(this.historyLocationPage[this.historyLocationPage.length - 1]))
                let historyDataUser = JSON.parse(JSON.stringify(this.historyLocationPage[this.historyLocationPage.length - 2]))

                if(this.historyLocationPage.length == 2) {
                    this.locationList = await locationAPI.findAllLocationByField(historyDataUser.currentId, historyData.currentPageLocation.current, this.sl)
                    this.countLocation = await locationAPI.countAllLocationByField(historyDataUser.currentId)
                } else if(this.historyLocationPage.length > 2) {
                    this.locationList = await locationAPI.findLocationByRefId(historyDataUser.currentId, historyData.currentPageLocation.current, this.sl)
                    this.countLocation = await locationAPI.countLocationByRefId(historyDataUser.currentId)
                }

                this.pageLocation = JSON.parse(JSON.stringify(historyData.pageLocation))
                this.displayPageLocation = JSON.parse(JSON.stringify(historyData.displayPageLocation))
                this.pageLocationInstance = JSON.parse(JSON.stringify(historyData.pageLocationInstance))
                this.currentPageLocation = JSON.parse(JSON.stringify(historyData.currentPageLocation))
                this.currentId = JSON.parse(JSON.stringify(historyDataUser.currentId))
                this.signMode = JSON.parse(JSON.stringify(historyDataUser.signMode))
                this.historyLocationPage.pop()

                await this.pageAlignCalc(this.countLocation, this.pageLocation, this.displayPageLocation)
                if(this.currentPageLocation.nextP == 'second') {
                    this.$refs.LocationPageAlign.firstUserPage()
                } else if(this.currentPageLocation.nextP == 'third') {
                    this.$refs.LocationPageAlign.secondUser()
                } else if(this.currentPageLocation.nextP == 'dot') {
                    this.$refs.LocationPageAlign.thirdUser()
                } else if(this.currentPageLocation.nextP == '') {
                    this.$refs.LocationPageAlign.endUser()
                }

                this.$refs['tableLocation'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
                this.rowCurrent = ''
            }
        },
        async upedateUserChosen(data) {
            this.userChosen = data
        },
        async searchingLocationData() {
            this.currentPageLocation = {
                nextP : '',
                previousP : '',
                current : 1
            }
            console.log(this.searchingLocation)
            this.countLocation = await locationAPI.countAllLocationByField(this.searchingLocation)
            this.locationList = await locationAPI.findAllLocationByField(this.searchingLocation, 1, this.sl)
            this.optionLocation.mode = 'search'
            this.pageLocation = {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            },
            this.displayPageLocation = {
                second : true,
                third : true,
                dot : true,
                end : true
            },
            this.pageLocationInstance = {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            }
            await this.pageAlignCalc(this.countLocation, this.pageLocation, this.displayPageLocation)
            if(this.$refs['tableLocation'] != undefined) {
                this.$refs['tableLocation'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
            }
            this.$refs.LocationPageAlign.firstUserPage();
            this.historyLocationPage = []
            this.signMode = 'first'
            this.currentId = JSON.parse(JSON.stringify(this.$store.state.user.user_id))
            this.historyLocationPage.push({
                currentId : JSON.parse(JSON.stringify(this.searchingLocation)),
                signMode : JSON.parse(JSON.stringify(this.signMode)),
            })
        },
        async openSearchLocation() {
            if(this.searchingLocation.option == false) {
                this.searchingLocation.option = true
            } else {
                this.searchingLocation.option = false
            }
        },
        async handleCloseLocation() {
            this.signShowLocation = false
        },
        async handleLocationConfirm() {
            this.$refs.locationView.saveData()
            this.signShowLocation = false
        },
        async updateData(data) {
            this.locationList[this.rowCurrent] = data
        },
        async handleCloseOwnerList() {
            // this.locationChosen.refId = ''
            // this.locationChosen.parentName = ''
            // this.locationChosen.mode = ''
            this.showOwnerData = false
        },
        async handleConfirmOwnerList() {
            if(this.location.mode != "location") {
                if(await this.typeToInt(this.location.mode) > await this.typeToInt(this.locationChosen.mode) ) {
                    this.location.refId = JSON.parse(JSON.stringify(this.locationChosen.refId))
                    this.location.parentName = JSON.parse(JSON.stringify(this.locationChosen.parentName + " - " + this.locationChosen.mode))
                    this.showOwnerData = false
                } else {
                    this.$message.error("Cannot set parent mode")
                }
            } else {
                this.location.refId = JSON.parse(JSON.stringify(this.locationChosen.refId))
                this.location.parentName = JSON.parse(JSON.stringify(this.locationChosen.parentName + " - " + this.locationChosen.mode))
                this.showOwnerData = false
            }
        },
        async openParentList() {
            if(this.location.mode != '') {
                this.showOwnerData = true
                this.$nextTick(async () => {
                    if(this.location.mode == "location") {
                        await this.$refs.ownerList.getAllOwner()
                        if(this.title == 'Edit Location') {
                            await this.$refs.ownerList.getCurrentOwner()
                        }
                    } else {
                        await this.$refs.locationListData.getAllLocation()
                        if(this.title == 'Edit Location') {
                            await this.$refs.locationListData.loadCurrentParent()
                        }
                    }
                })
            } else {
                this.$message.error("Type cannot be null!")
            }
        },
        async changeLocationList(data) {
            if(data != undefined) {
                this.locationChosen.refId = JSON.parse(JSON.stringify(data.id))
                this.locationChosen.parentName = JSON.parse(JSON.stringify(data.name))
                this.locationChosen.mode = JSON.parse(JSON.stringify(data.mode))
            }
        },
        async typeToInt(type) {
            if(type == "location") {
                return 1
            } else if(type == "voltage") {
                return 2
            } else if(type == "feeder") {
                return 3
            }
        },
        async changeLocationType() {
            this.location.parentName = ''
            this.location.refId = ''
        },
        async settingCollab() {
            if(this.rowCurrent !== '') {
                this.showCollab = true
                this.$nextTick(async () => {
                    await this.$refs.collabView.getCurrentCollab()
                })
            } else {
                this.$message.error("Row must be chosen")
            }
        },
        async handleCloseCollab() {
            this.showCollab = false
        },
        async handleCollabConfirm() {
            try {
                const rs  = await locationAPI.collab(this.locationList[this.rowCurrent].id,this.collabData)
                this.$message.success("Update collab successful")
                this.showCollab = false
            } catch(e) {
                console.log(e)
                this.$message.error("Update collab fail")
            }
        },
        async updateDataCollab(data) {
            this.collabData = data
        }
    }
}
</script>
<style>
.location-class {
    min-width: 1200px;
}
</style>
