<template>
    <div id="location">
        <el-row style="height: fit-content; width: 100%;" :gutter="20">
            <el-col :span="8" class="col-content">
                <el-form ref="ruleForm" :rules="rules" :model="properties" :inline-message="true" :label-width="labelWidth" size="mini" label-position="left">
                    <span class="bolder">Properties</span>
                    <el-divider class="thick-divider"></el-divider>
                    <el-form-item label="Name" prop="name">
                        <el-input v-model="properties.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Type" prop="mode">
                        <el-input v-model="properties.mode" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="Address">
                        <el-input v-model="properties.address"></el-input>
                    </el-form-item>
                    <el-form-item label="City">
                        <el-input v-model="properties.city"></el-input>
                    </el-form-item>
                    <el-form-item label="Country">
                        <el-select style="width: 100%;" filterable v-model="properties.country">
                            <el-option v-for="item in countryData" :key="item" :label="item" :value="item"> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Location system code">
                        <el-input v-model="properties.location_system_code"></el-input>
                    </el-form-item>
                    <el-form-item  label="Geo position x">
                        <el-select style="width: 60%;" @change="changeValueGeo" v-model="properties.x_position">
                            <el-option v-for="(item,index) in properties.positionPoints.x" :key="index" :value="index">
                                <div class="option-content">
                                    <span>
                                        {{ item.coor }}
                                    </span>
                                    <div class="icons">
                                        <i @click="editCoor(index)" class="fa-solid fa-pen-to-square" style="color: green"></i>
                                        <i @click="deleteCoor(index)" class="fa-solid fa-trash" style="color: red;"></i>
                                    </div>
                                </div>
                            </el-option>
                        </el-select>
                        <el-button @click="openAddGeo" type="primary" style="width:calc(40% - 10px); margin-left: 10px;"><i class="fa-solid fa-plus"></i></el-button>
                    </el-form-item>
                    <el-form-item label="Geo position y">
                        <el-select style="width: 60%;" @change="changeValueGeo" v-model="properties.y_position">
                            <el-option v-for="(item,index) in properties.positionPoints.y" :key="index" :value="index">
                                <div class="option-content">
                                    <span>
                                        {{ item.coor }}
                                    </span>
                                    <div class="icons">
                                        <i @click="editCoor(index)" class="fa-solid fa-pen-to-square" style="color: green"></i>
                                        <i @click="deleteCoor(index)" class="fa-solid fa-trash" style="color: red;"></i>
                                    </div>
                                </div>
                            </el-option>
                        </el-select>
                        <el-button @click="openAddGeo" type="primary" style="width:calc(40% - 10px); margin-left: 10px;"><i class="fa-solid fa-plus"></i></el-button>
                    </el-form-item>
                    <el-form-item label="Geo position z">
                        <el-select style="width: 60%;" @change="changeValueGeo" v-model="properties.z_position">
                            <el-option v-for="(item,index) in properties.positionPoints.z" :key="index" :value="index">
                                <div class="option-content">
                                    <span>
                                        {{ item.coor }}
                                    </span>
                                    <div class="icons">
                                        <i @click="editCoor(index)" class="fa-solid fa-pen-to-square" style="color: green"></i>
                                        <i @click="deleteCoor(index)" class="fa-solid fa-trash" style="color: red;"></i>
                                    </div>
                                </div>
                            </el-option>
                        </el-select>
                        <el-button @click="openAddGeo" type="primary" style="width:calc(40% - 10px); margin-left: 10px;"><i class="fa-solid fa-plus"></i></el-button>
                    </el-form-item>
                        <geo-map ref='geoMap' :locationGeo='{}'></geo-map>
                </el-form>
            </el-col>
            <el-col :span="8" class="col-content">
                <el-form :label-width="labelWidth" size="mini" label-position="left">
                    <span class="bolder">Contact person</span>
                    <el-divider></el-divider>
                    <el-form-item label="Name">
                        <el-input v-model="properties.person_name"></el-input>
                    </el-form-item>
                    <el-form-item label="Phone no.1">
                        <el-input type="number" v-model="properties.person_phone_no1"></el-input>
                    </el-form-item>
                    <el-form-item label="Phone no.2">
                        <el-input type="number" v-model="properties.person_phone_no2"></el-input>
                    </el-form-item>
                    <el-form-item label="Fax no">
                        <el-input type="number" v-model="properties.person_fax_no"></el-input>
                    </el-form-item>
                    <el-form-item label="Email">
                        <el-input v-model="properties.person_email"></el-input>
                    </el-form-item>
                    <el-form-item label="Department">
                        <el-input v-model="properties.person_department"></el-input>
                    </el-form-item>
                    <el-form-item label="Position">
                        <el-input v-model="properties.person_position"></el-input>
                    </el-form-item>
                    <name-plate ref="namePlate" :deleteList="deleteImage" @data-attachment="getDataNamePlate" :fileUrl.sync="this.fileUrlImage" :dataParent="this.properties"  :attachment_="this.attachmentDataImage" height="280px"></name-plate>
                </el-form>
            </el-col>
            <el-col :span="8" class="col-content">
                <el-form :label-width="labelWidth" size="mini" label-position="left">
                    <span class="bolder">Comment </span>
                    <el-divider></el-divider>
                    <el-input type="textarea" rows="5" v-model="properties.comment"></el-input>
                    <Attachment :dataParent="this.properties" :deleteList="deleteList" :attachment_="this.attachmentData" :fileUrl="this.fileUrl" title="location" height="120px" @data-attachment = "getDataAttachment"></Attachment>
                </el-form>
            </el-col>
        </el-row>
        <el-dialog
            :visible.sync="signAddGeo"
            :title="titleGeo"
            width="35%"
            align-center
            :before-close="handleCloseGeo"
            :modal="false"
        >
            <el-form :label-width="labelWidth" size="mini" label-position="left">
                <el-form-item label="Geographic coordinate x">
                    <el-input type="number" v-model="geoChosen.x"></el-input>
                </el-form-item>
                <el-form-item label="Geographic coordinate y">
                    <el-input type="number" v-model="geoChosen.y"></el-input>
                </el-form-item>
                <el-form-item label="Geographic coordinate z">
                    <el-input type="number" v-model="geoChosen.z"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="danger" @click="handleCloseGeo()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleConfirmGeo()" size="small">Confirm</el-button>
            </span>

        </el-dialog>
    </div>
</template>

<script>
/* eslint-disable */
import mixin from './mixin'
import Attachment from '@/views/common/Attachment.vue'
import namePlate from '@/views/common/NamePlate.vue'
import * as fileAPI from '@/api/fileAPI/fileUpload.js'
import * as attachmentAPI from '@/api/attachmentAPI/attachmentAPI.js'
import {country} from '../ConstantAsset/index'
import * as locationAPI from '@/api/locationAPI/locationAPI.js'
import geoMap from '@/views/common/GeoMap.vue'

export default {
    components: { 
        Attachment,
        namePlate,
        geoMap
    },
    name: 'LocationViewData',
    mixins: [mixin],
    props : {
        ownerData : {
            type : Object,
            required : true
        },
    },
    watch: {
    },
    data() {
        return {
            geoChosen : {
                x : '',
                y : '',
                z : ''
            },
            indexGeo : '',
            signAddGeo : false,
            titleGeo : 'Add coordinate',
            message : "",
            attachmentDataImage : {},
            fileUrlImage : '-1',
            mode: this.$constant.ADD,
            location_id: null,
            saved: false,
            labelWidth: `${200}px`,
            rules: {
                name: [{required: true, message: 'Please input location name', trigger: 'blur'}],
                mode: [{required: true, message: 'Please input location type', trigger: 'blur'}]
            },
            typeList : ["HV substation", "UHV substation", "Charging station", "Rooftop Solar", "Solar PP", "Wind PP", "Hydro PP", "Wind and solar PP", "Distribution substation",
                "Power Plant", "Cement Plant", "Steel Plant", "Contract number"],
            countryData : [],
            voltageList : ['500 kV', '220 kV', '110 kV', '35 kV', '26 kV', '22 kV', '21 kV', '15.75 kV', '13.8 kV', '10 kV', '6.6 kV', '0.4 kV'],
            deleteList : [],
            deleteImage : {}
        }
    },
    async beforeMount() {
        await this.loadData()
    },
    mounted() {
        this.countryData = country.default
    },
    methods: {
        getDataAttachment(rowData) {
            this.attachmentData = rowData
        },
        getDataNamePlate(rowData) {
            this.attachmentDataImage = rowData
        },
        async loadData() {
            try {
                this.$nextTick(async () => {
                    await this.$refs.namePlate.reload()
                })
                if(this.ownerData != undefined) {
                    this.properties = JSON.parse(JSON.stringify(this.ownerData))
                    this.attachmentData = []
                    this.attachmentDataImage = {}
                    this.fileUrlImage = '-1',
                    this.dataLoadAttachment = await attachmentAPI.getDataAttachment(this.properties.id)
                    if(this.dataLoadAttachment.length != 0) {
                        this.attachmentData = JSON.parse(this.dataLoadAttachment[0].name).filter(element => element.sign != 'nameplate').map(element => ({name : element.path}))
                        if(this.attachmentData.length == 0) {
                            this.attachmentData = []
                        }
                        let attachmentDataImageTemp = JSON.parse(this.dataLoadAttachment[0].name).filter(element => element.sign == 'nameplate')
                        if(attachmentDataImageTemp.length == 0) {
                            this.attachmentDataImage = {}
                        } else {
                            this.attachmentDataImage.name = attachmentDataImageTemp[0].path
                            try {
                                if(this.attachmentDataImage.name != undefined) {
                                    let base64String = await fileAPI.download(this.attachmentDataImage.name, this.properties.name, this.properties.id)
                                    if (base64String.startsWith('/9j/')) {
                                        let imageFormat = 'jpeg';
                                        this.fileUrlImage = `data:image/${imageFormat};base64,${base64String}`;
                                    } else if (base64String.startsWith('iVBORw0KGgo')) {
                                        let imageFormat = 'png';
                                        this.fileUrlImage = `data:image/${imageFormat};base64,${base64String}`;
                                    } else if (base64String.startsWith('R0lGODlh')) {
                                        let imageFormat = 'gif';
                                        this.fileUrlImage = `data:image/${imageFormat};base64,${base64String}`;
                                    } else if (base64String.startsWith('UklGR')) {
                                        let imageFormat = 'webp';
                                        this.fileUrlImage = `data:image/${imageFormat};base64,${base64String}`;
                                    } else {
                                        this.$message.error('Unsupported image nameplate format');
                                    }
                                }
                            } catch(e) {
                                this.$message.error("Download nameplate error!")
                            }
                        }
                    }
                    this.fileUrl = new Array(this.attachmentData.length)
                    this.fileUrl.fill(-1)
                    this.deleteList = []
                    this.deleteImage = {}
                }
            } catch(e) {
                console.log(e)
                this.$message.error("Cannot load location data")
            }
        },
        async saveData() {
            console.log(this.properties)
            // this.$refs.ruleForm.validate(async (valid) => {
            //     if(valid) {
            //         try {
            //             let addListData = this.attachmentData.filter(element => element.upload == 'new')
            //             if(this.attachmentDataImage.upload == 'new') {
            //                 addListData.push(this.attachmentDataImage)
            //             }
            //             let deleteListData = this.deleteList.map(element => element.name)
            //             deleteListData.push(this.deleteImage)
            //             let data = []
            //             for(let i in this.attachmentData) {
            //                 data.push({
            //                     path : this.attachmentData[i].name
            //                 })
            //             }
            //             if(this.attachmentDataImage.name != '' && this.attachmentDataImage != undefined) {
            //                 data.push({
            //                     sign : 'nameplate',
            //                     path : this.attachmentDataImage.name
                                
            //                 })
            //             }
            //             if(this.dataLoadAttachment.length != 0) {
            //                 this.dataLoadAttachment[0].name = JSON.stringify(data)
            //             } 
            //             else {
            //                 this.dataLoadAttachment.push(
            //                     {
            //                         id : this.$uuid.newUuid(),
            //                         id_foreign : this.properties.id,
            //                         name : JSON.stringify(data),
            //                         path : null,
            //                         type : this.properties.mode
            //                     }
            //                 )
            //             }
            //             let rs = await fileAPI.updateFile(deleteListData, addListData, this.properties.name, this.properties.id)
            //             if(rs == true) {
            //                 let rt = await attachmentAPI.upload(this.dataLoadAttachment)
            //                 if(rt == true) {
            //                     let rx = await locationAPI.updateLocation(this.properties)
            //                     if(rx != false) {
            //                         this.$message.success("Update successful")
            //                         this.$emit('update-data', this.properties)
            //                     } else {
            //                         this.$message.error("Update failed")
            //                     }
            //                 } else {
            //                     let rx = await locationAPI.updateLocation(this.properties)
            //                     if(rx != false) {
            //                         this.$message.success("Update successful without attachment")
            //                         this.$emit('update-data', this.properties)
            //                     } else {
            //                         this.$message.error("Update failed")
            //                     }
            //                 }
            //             } else {
            //                 let rx = await locationAPI.updateLocation(this.properties)
            //                 if(rx != false) {
            //                     this.$message.success("Update successful without attachment")
            //                     this.$emit('update-data', this.properties)
            //                 } else {
            //                     this.$message.error("Update failed")
            //                 }
            //             }
            //         } catch(e) {
            //             console.log(e)
            //             this.$message.error("Update failed")
            //         }
            //     } else {
            //         this.$message.error("Name and mode cannot be null")
            //         console.log('error submit!!')
            //         return false
            //     }
            // })
        },
        async changeValueGeo(index) {
            this.indexGeo = index
            this.properties.x_position = this.properties.positionPoints.x[index].coor
            this.properties.y_position = this.properties.positionPoints.y[index].coor
            this.properties.z_position = this.properties.positionPoints.z[index].coor
            try{
                await this.$refs.geoMap.loadMap(
                    {
                        x : this.properties.x_position,
                        y : this.properties.y_position,
                        z : this.properties.z_position
                    },
                    true
                )
            } catch(e) {
                console.log(e)
                this.$message.error('Cannot load location in map')
            }
        },
        async loadMapFirst() {
            try {
                await this.$refs.geoMap.loadMap(undefined, false)
            } catch(e) {
                console.log(e)
                this.$message.error('Cannot load location in map')
            }
        },
        async openAddGeo() {
            this.signAddGeo = true
            this.titleGeo = 'Add coordinate'
        },
        async handleCloseGeo() {
            this.signAddGeo = false
        },
        async handleConfirmGeo() {
            if(this.titleGeo == 'Add coordinate') {
                if(this.geoChosen.x == '' || this.geoChosen.y == '') {
                    this.$message.error("X or Y cannot be null or empty")
                } else {
                    try {
                        this.properties.positionPoints.x.push(
                            {
                                id : '',
                                coor : JSON.parse(JSON.stringify(this.geoChosen.x))
                            }
                        )
                        this.properties.positionPoints.y.push(
                            {
                                id : '',
                                coor : JSON.parse(JSON.stringify(this.geoChosen.y))
                            }
                        )
                        this.properties.positionPoints.z.push(
                            {
                                id : '',
                                coor : JSON.parse(JSON.stringify(this.geoChosen.z))
                            }
                        )
                        this.$message.success("Insert coordinate successful")
                        this.signAddGeo = false
                    } catch(e) {
                        this.$message.error("Cannot add coordinate")
                    }
                }
            } else {
                try {
                    this.properties.positionPoints.x[this.indexGeo].coor = JSON.parse(JSON.stringify(this.geoChosen.x))
                    this.properties.positionPoints.y[this.indexGeo].coor = JSON.parse(JSON.stringify(this.geoChosen.y))
                    this.properties.positionPoints.z[this.indexGeo].coor = JSON.parse(JSON.stringify(this.geoChosen.z))
                    this.$message.success("Update coordinate successful")
                    this.signAddGeo = false
                    await this.changeValueGeo(this.indexGeo)
                } catch(e) {
                    this.$message.error("Cannot update coordinate")
                }
            }
        },
        async editCoor(index) {
            this.signAddGeo = true
            this.indexGeo = index
            this.titleGeo = "Edit coordinate"
            this.geoChosen.x = this.properties.positionPoints.x[index].coor
            this.geoChosen.y = this.properties.positionPoints.y[index].coor
            this.geoChosen.z = this.properties.positionPoints.z[index].coor
        },
        async deleteCoor(index) {
            this.$confirm('Are you sure you want to delete this item?', 'Warning', {
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                type: 'warning',
            }).then(async () => {
                try {
                    this.properties.positionPoints.x.splice(index, 1);
                    this.properties.positionPoints.y.splice(index, 1);
                    this.properties.positionPoints.z.splice(index, 1);
                    this.$message({
                        type: 'success',
                        message: 'Delete completed!',
                    });
                    this.properties.x_position = ''
                    this.properties.y_position = ''
                    this.properties.z_position = ''
                    await this.loadMapFirst()
                } catch(e) {
                    this.$message.error("Cannot delete coordinate")
                }
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: 'Delete canceled',
                });
            });
        }
    },
}
</script>

<style lang="scss" scoped>
#location {
    width: 100%;
    height: 100%;
}

.col-content {
    height: 100%;
}

.last-right-parent {
    position: relative;
    float: right;
}
.option-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bolder {
    font-weight: bold;
}

.icons {
  display: flex;
  gap: 8px; /* Khoảng cách giữa các icon */
}
</style>
