<template>
    <div>
        <el-form label-width="100px" label-position="left" size="small">
            <el-form-item label="Type">
                <el-select :disabled = "disableType" style="width:100%" v-model="location.mode">
                    <el-option v-if="modeCheck.location" label="Location" value="location"> </el-option>
                    <el-option v-if="modeCheck.voltage" label="Voltage" value="voltage"> </el-option>
                    <el-option v-if="modeCheck.feeder" label="Feeder" value="feeder"> </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Parent">
                <el-button style="width: 100px;" type="primary">
                    Chosen <i class="el-icon-folder"></i>
                </el-button>
                <el-input :disabled="disableRef" v-model="location.parentName" style="width: calc(100% - 120px); padding-left: 20px" type="primary"></el-input>
            </el-form-item>
            <el-form-item label="Name">
                <el-input v-model="location.name"></el-input>
            </el-form-item>
            <el-form-item label="Address">
                <el-input v-model="location.address"></el-input>
            </el-form-item>
            <el-form-item label="State/Province">
                <el-input v-model="location.state_province"></el-input>
            </el-form-item>
            <el-form-item label="City">
                <el-input v-model="location.city"></el-input>
            </el-form-item>
            <el-form-item label="Country">
                <el-select style="width: 100%;" filterable v-model="location.country">
                    <el-option v-for="item in countryData" :key="item" :label="item" :value="item"> </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Phone no.">
                <el-input v-model="location.person_phone_no1"></el-input>
            </el-form-item>
            <el-form-item label="email">
                <el-input v-model="location.person_email"></el-input>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
import {country} from '../ConstantAsset/index'
import * as locationAPI from '@/api/locationAPI/locationAPI.js'

    export default {
        props : {
            dataParent : Object
        },
        watch : {
            location : {
                deep : true,
                immediate : true,
                handler() {
                    this.$emit('update-data-created', this.location)
                }
            }
        },
        name: 'LocationCreated',
        data() {
            return {
                countryData : [],
                location : {
                    refId : '',
                    parentName : '',
                    name : '',
                    address : '',
                    city : '', 
                    state : '',
                    country : '',
                    person_email : '',
                    person_phone_no1 : '',
                    user_id : '',
                    mode : '',
                },
                modeCheck : {
                    location : true,
                    voltage : true,
                    feeder : true
                },
                disableType : true,
                disableRef : true,
            }
        },
        mounted() {
            this.countryData = country.default
        },
        methods: {
            async loadData() {
                console.log(this.dataParent)
                if(this.dataParent.mode == 'location') {
                    this.modeCheck.location = false
                    this.modeCheck.voltage = true
                    this.modeCheck.feeder = true
                    this.location.mode = 'voltage'
                    this.disableType = false
                } else if(this.dataParent.mode == 'voltage') {
                    this.modeCheck.location = false
                    this.modeCheck.voltage = false
                    this.modeCheck.feeder = true
                    this.location.mode = 'feeder'
                    this.disableType = true
                } else if(this.dataParent.mode == 'feeder') {
                    this.modeCheck.location = false
                    this.modeCheck.voltage = false
                    this.modeCheck.feeder = false
                    this.location.mode = ''
                    this.disableType = true
                }
                this.location.refId = JSON.parse(JSON.stringify(this.dataParent.id))
                this.location.parentName = this.dataParent.name
            },
            async saveData() {
                if(this.location.name != '' && this.location.type != '' && this.location.refId != '') {
                    this.location.user_id = this.$store.state.user.user_id
                    this.location.id = ''
                    try {
                        const rs = await locationAPI.createLocation(this.location)
                        if(rs == null) {
                            this.$message.error("Create failed")
                        } else {
                            this.$message.success("Successful")
                            for(let i in Object.keys(this.location)) {
                                this.location[Object.keys(this.location)[i]] = ''
                            }
                        }
                    } catch(e) {
                        this.$message.error("Create failed")
                    }
                } else {
                    this.$message.error("Type, name, parent cannot be null or empty")
                }
            }
        }
    }
</script>
<style>
</style>