<template>
    <div id="asset">
        <div>
            <el-row id="main-content" style="padding: 0; z-index: 0;">
                <el-tabs type="card" class="w-100 h-100">
                    <el-tab-pane label="Power cable">
                        <div style="overflow: auto; height: 600px;">
                            <powerCableProperty @setUpdate="setUpdate" :updateNew='updateNew' :update="update" @editManu="editManu" :title="title" @createAdd="updateShowAdd" :manufact="manufacturerCustom" @reloadManu="reloadManu()" :properties.sync="powerCable.properties"></powerCableProperty>
                            <configs :layer.sync="powerCable.layerConstruction" :ratings.sync="powerCable.ratings" 
                            :configs.sync="powerCable.config" :other="powerCable.others" :datas="powerCable.data"></configs>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Assessories">
                        <div style="overflow: auto; height: 600px;">
                            <assessories :joint="assessories.joint" :terminal="assessories.terminal" 
                            :sheathLimit="assessories.sheath_limits"></assessories>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </el-row>
        </div>
        <manufacturerAdd :dataProperties="dataProperties" :showAdd.sync="showAdd" @backSign="backSign()" @backSignUpdate="backSignUpdate" :title="title" :modeManu="modeManu"></manufacturerAdd>
    </div>
</template>

<script>
import * as manuAPI from '@/api/manuAPI/manuAPI.js'
import powerCableProperty from './components/properties.vue'
import configs from './components/configs.vue'
import mixin from './mixin'
import assessories from './components/assessories.vue'
import ManufacturerAdd from '@/views/common/ManufacturerAdd.vue'

export default {
    name: 'powerCable',
    components: {
        powerCableProperty,
        configs,
        assessories,
        ManufacturerAdd
    },
    data() {
        return {
            mode: this.$constant.ADD,
            asset_id: null,
            saved: false,
            showAdd : false,
            title : 'powercable',
            manufacturerCustom : [],
            modeManu : 'insert',
            dataProperties : {},
            updateNew : '',
            update : false
        }
    },
    mounted() {},
    // async beforeMount() {
    //     let rs = await window.electronAPI.getManufacturerByType(this.title)
    //     if(rs.success) {
    //         this.manufacturerCustom = rs.data.map(e => e.name)
    //     }
    // },
    mixins : [mixin],
    methods: {
        
        updateShowAdd(sign) {
            this.showAdd = sign
        },
        async editManu(item) {
            try {
                let rs = await manuAPI.getManuByName(item.name)
                this.dataProperties = rs[0]
                this.showAdd = true
                this.modeManu = 'edit'
            } catch {
                this.$message.error("Cannot load manufacturer")
            }
            
        },
        async backSign(sign) {
            this.showAdd = sign
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
                this.modeManu = 'insert'
            } catch(e) {
                console.log(e)
                this.modeManu = 'insert'
                this.$message.error("Cannot load manufacturer")
            }
        },
        async backSignUpdate(dataUpdate) {
            this.showAdd = false
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
            } catch(e) {
                this.$message.error("Cannot load manufacturer")
            }
            this.modeManu = 'insert'
            this.update = true
            this.updateNew = dataUpdate
        },
        async setUpdate(check) {
            this.update = check
        },
        async reloadManu() {
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
            } catch(e) {
                this.$message.error("Cannot reload manufacturer")
            }
        },
    }
}
</script>

<style lang="scss" scoped>
#asset {
    width: 100%;
    height: 100%;
}

table,
td,
th {
    border: 1px solid;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    padding: 0px 10px;
    height: 30px;
}
</style>
