<template>
    <div id="asset">
        <div>
            <el-row :gutter="20" id="main-content" style="padding: 0; z-index: 0;">
                <el-tabs type="card" class="w-100 h-100">
                    <el-tab-pane label="Circuit breaker">
                        <div style="overflow: auto; height: 600px;">
                            <cirBreakProperty @setUpdate="setUpdate" :updateNew='updateNew' :update="update" @editManu="editManu" :title="title" :properties.sync="properties" @createAdd="updateShowAdd" :manufact="manufacturerCustom" @reloadManu="reloadManu()"></cirBreakProperty>
                            <circuitBreakering :properties="properties" :circuitBreakering.sync="circuitBreaker"></circuitBreakering>
                            <cirBreakRating :ratings.sync="ratings"></cirBreakRating>
                            <contactSystem :contactSys.sync="contactSys"></contactSystem>
                            <others :others="others"></others>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Operating mechanism">
                        <div style="overflow: auto; height: 600px;">
                            <operatingMechanism v-if="operating.table" :operating.sync="operating"></operatingMechanism>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Assessment limits">
                        <div style="overflow: auto; height: 600px;">
                            <AssessmentLimit :assessLimits.sync="assessmentLimits"></AssessmentLimit>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </el-row>
        </div>
        <manufacturerAdd :dataProperties="dataProperties" :showAdd.sync="showAdd" @backSign="backSign()" @backSignUpdate="backSignUpdate" :title="title" :modeManu="modeManu"></manufacturerAdd>
    </div>
</template>

<script>
import * as manuAPI from '@/api/manuAPI/manuAPI.js'
import mixin from '../CircuitBreaker/mixin'
import cirBreakProperty from '../CircuitBreaker/components/properties.vue'
import cirBreakRating from '../CircuitBreaker/components/ratings.vue'
import circuitBreakering from '../CircuitBreaker/components/circuitBreaker.vue'
import contactSystem from '../CircuitBreaker/components/contactSystem.vue'
import others from '../CircuitBreaker/components/others.vue'
import operatingMechanism from '../CircuitBreaker/components/operatingMechanism.vue'
import AssessmentLimit from '../CircuitBreaker/components/assessmentLimits.vue'
import ManufacturerAdd from '@/views/common/ManufacturerAdd.vue'

export default {
    name: 'circuitBreaker',
    components: {
        cirBreakProperty,
        cirBreakRating,
        circuitBreakering,
        contactSystem,
        others,
        operatingMechanism,
        AssessmentLimit,
        ManufacturerAdd
    },
    data() {
        return {
            mode: this.$constant.ADD,
            asset_id: null,
            saved: false,
            showAdd : false,
            title : 'circuit',
            manufacturerCustom : [],
            modeManu : 'insert',
            dataProperties : {},
            updateNew : '',
            update : false
        }
    },
    mixins : [mixin],
    methods: {
        updateShowAdd(sign) {
            this.showAdd = sign
        },
        async editManu(item) {
            try {
                let rs = await manuAPI.getManuByName(item.name)
                this.dataProperties = rs[0]
                this.showAdd = true
                this.modeManu = 'edit'
            } catch {
                this.$message.error("Cannot load manufacturer")
            }
            
        },
        async backSign(sign) {
            this.showAdd = sign
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
                this.modeManu = 'insert'
            } catch(e) {
                console.log(e)
                this.modeManu = 'insert'
                this.$message.error("Cannot load manufacturer")
            }
        },
        async backSignUpdate(dataUpdate) {
            this.showAdd = false
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
            } catch(e) {
                this.$message.error("Cannot load manufacturer")
            }
            this.modeManu = 'insert'
            this.update = true
            this.updateNew = dataUpdate
        },
        async setUpdate(check) {
            this.update = check
        },
        async reloadManu() {
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
            } catch(e) {
                this.$message.error("Cannot reload manufacturer")
            }
        },
    }
}
</script>

<style lang="scss" scoped>
#asset {
    width: 100%;
    height: 100%;
}

table,
td,
th {
    border: 1px solid;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    padding: 0px 10px;
    height: 30px;
}
</style>
