<template>
    <div>
        <div style="display: flex; justify-content: center;">
            <div>
                <el-button @click="backPageUser" v-if="historyUserPage.length != 1" size="mini" type="primary"><i class="fa-solid fa-arrow-left-long" style="margin-right: 10px"></i>Back</el-button>
                <el-button @click="getUser" size="mini" type="primary"><i class="fa-solid fa-arrows-rotate" style="margin-right: 10px"></i>Refesh</el-button>       
                <table class="styled-table">
                    <thead class="header">
                        <th>STT</th>
                        <th>User name</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Role</th>
                        <th>isDeleted</th>
                        <th>Checked
                            <i @click="openSearchUser" v-if="searchingUser.option == false" class="fa-solid fa-arrow-down"></i>
                            <i @click="openSearchUser" v-else class="fa-solid fa-arrow-up"></i>
                        </th>
                    </thead>
                    <tbody id="tbodylist">
                        <tr v-if="searchingUser.option">
                            <td>
                            </td>
                            <td @keyup.enter="searchingUserData()">
                                <el-input size="mini" type="primary" v-model="searchingUser.username"></el-input>
                            </td>
                            <td @keyup.enter="searchingUserData()">
                                <el-input size="mini" type="primary" v-model="searchingUser.firstName"></el-input>
                            </td>
                            <td @keyup.enter="searchingUserData()">
                                <el-input size="mini" type="primary" v-model="searchingUser.lastName"></el-input>
                            </td>
                            <td @keyup.enter="searchingUserData()">
                                <el-select size="mini" v-model="searchingUser.role">
                                    <el-option label="< Select >" value=""> </el-option>
                                    <el-option label="OWNER1" value="OWNER1"> </el-option>
                                    <el-option label="OWNER2" value="OWNER2"> </el-option>
                                    <el-option label="OWNER3" value="OWNER3"> </el-option>
                                    <el-option label="OWNER4" value="OWNER4"> </el-option>
                                    <el-option label="OWNER5" value="OWNER5"> </el-option>
                                    <el-option label="USER" value="USER"> </el-option>
                                </el-select>
                            </td>
                            <td @keyup.enter="searchingUserData()">
                                <el-select size="mini" v-model="searchingUser.delete">
                                    <el-option label="< Select >" value="null"> </el-option>
                                    <el-option label="False" value="false"> </el-option>
                                    <el-option label="True" value="true"> </el-option>
                                </el-select>
                            </td>
                        </tr>
                        <tr class="active-row" @click="selectRow(index)" v-for="(item, index) in userList" :key="index" @dblclick="getUserChild" ref="table">
                            <td>
                                {{ indexUser + index + 1}}
                            </td>
                            <td>
                                {{item.username}}
                            </td>
                            <td>
                                {{item.firstName}}
                            </td>
                            <td>
                                {{item.lastName}}
                            </td>
                            <td>
                                {{item.role}}
                            </td>
                            <td style="text-transform: capitalize;">
                                {{item.delete}}
                            </td>
                            <td>
                                <input type="checkbox" @click="selectChecked(index)" :checked="selectedCheckedIndex.includes(index)">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <PageAlign 
                    ref="UserPageAlign" 
                    :page-user.sync="this.pageUser" 
                    :display-page-user.sync="this.displayPageUser" 
                    :page-user-instance.sync="this.pageUserInstance" 
                    :current-page.sync="this.currentPage" 
                    title="User"
                    :option.sync="this.option"
                    @update-page="updatePage">
                </PageAlign>
                <div>
                    <div style="color: black; font-weight: bold; font-size: 20px;">Current user</div>
                    <table class="styled-table">
                        <thead class="header">
                            <th>User name</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Role</th>
                            <th>isDeleted</th>
                            <th>Checked</th>
                        </thead>
                        <tbody>
                            <tr class="active-row" v-for="(item, index) in chosenList" :key="index">
                                <td>
                                    {{item.username}}
                                </td>
                                <td>
                                    {{item.firstName}}
                                </td>
                                <td>
                                    {{item.lastName}}
                                </td>
                                <td>
                                    {{item.role}}
                                </td>
                                <td style="text-transform: capitalize;">
                                    {{item.delete}}
                                </td>
                                <td>
                                    <input type="checkbox" checked disabled>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
/* eslint-disable */
import * as ownerUserAPI from '@/api/ownerUserAPI/ownerUserAPI.js'
import * as userAPI from '@/api/userAPI/userAPI'
import PageAlign from '../pageAlign/PageAlign.vue'

export default {
    name : 'userView',
    components: {
        PageAlign
    },
    props : {
        ownerCurrent : Object
    },
    data() {
        return {
            sl : 5,
            userList : [],
            selectedCheckedIndex: [],
            searchingUser : {
                option : false,
                id : '',
                username : '',
                firstName : '',
                lastName : '',
                role : '',
                delete : '',
            },
            countSmall : {
                count : 0,
                sumOfPage : 0,
                remainder : 0
            },
            indexUser : 0,
            rowCurrent : '',
            currentId : '',
            count : '',
            userIdCurrent : '',
            option : {
                mode : ''
            },
            chosenList : [],
            pageUser : {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            },
            displayPageUser : {
                second : true,
                third : true,
                dot : true,
                end : true
            },
            pageUserInstance : {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            },
            currentPage : {
                nextP : '',
                previousP : '',
                current : 1,
            },
            historyUserPage : [],
        }
    },
    async beforeMount() {
        await this.getUser()
        this.chosenList = [await ownerUserAPI.findById(this.ownerCurrent.created_by)]
    },
    watch : {
        async ownerCurrent(newValue) {
            this.chosenList = [await ownerUserAPI.findById(newValue.created_by)]
        }
    },
    methods : {
        async getUser() {
            this.option.mode = "update"
            this.pageUser = {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            }
            this.displayPageUser = {
                second : true,
                third : true,
                dot : true,
                end : true
            }

            this.pageUserInstance = {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            }

            this.currentPage = {
                nextP : '',
                previousP : '',
                current : 1
            }
            this.userIdCurrent = JSON.parse(JSON.stringify(this.$store.state.user.user_id))
            let countUser = await userAPI.countUserByCreated(this.$store.state.user.user_id)
            let countOwner = await ownerUserAPI.countOwnerUserByCreated(this.$store.state.user.user_id)
            if(countUser > countOwner) {
                this.count = countUser
                this.countSmall.count = countOwner
            } else {
                this.count = countOwner
                this.countSmall.count = countUser
            }

            this.countSmall.sumOfPage = Math.floor(parseInt(this.countSmall.count) / this.sl)
            this.countSmall.remainder = parseInt(this.countSmall.count) % this.sl
            await this.pageAlignCalc(this.count, this.pageUser, this.displayPageUser)
            this.userList = await ownerUserAPI.findOwnerUserByCreated(this.$store.state.user.user_id, 1, this.sl)
            this.userList = this.userList.concat(await userAPI.findUserByCreated(this.$store.state.user.user_id, 1, this.sl))
            this.historyUserPage = []
            this.$refs.UserPageAlign.firstUserPage();
            this.historyUserPage.push({
                userId : JSON.parse(JSON.stringify(this.$store.state.user.user_id)),
                count : JSON.parse(JSON.stringify(this.count)),
                countSmall : JSON.parse(JSON.stringify(this.countSmall))
            })
        },
        async selectChecked(index) {
            if (this.selectedCheckedIndex.includes(index)) {
                this.selectedCheckedIndex = this.selectedCheckedIndex.filter(item => item !== index); // Bỏ chọn hàng nếu đã được chọn trước đó
            } else {
                this.selectedCheckedIndex = [index]; // Chọn hàng mới
            }
            this.$emit('update-user-owner', this.userList[this.selectedCheckedIndex])
        },
        async pageAlignCalc(count, pageUser, displayPageUser ) {
            let sumOfPage = Math.floor(parseInt(count) / this.sl)
            let remainder = parseInt(count) % this.sl
            if(remainder == 0) {
                if(sumOfPage < 4) {
                    displayPageUser.dot = false
                    displayPageUser.end = false
                    pageUser.end = sumOfPage
                    if(sumOfPage <3) {
                        displayPageUser.third = false
                    }
                    if(sumOfPage <2) {
                        displayPageUser.second = false
                    }
                } else if(sumOfPage == 4) {
                    displayPageUser.dot = false
                    pageUser.end = sumOfPage
                } else {
                    pageUser.end = sumOfPage
                }
            } else {
                if(sumOfPage < 3) {
                    if(sumOfPage <2) {
                        displayPageUser.third = false
                    }
                    if(sumOfPage <1) {
                        displayPageUser.second = false
                    }
                    displayPageUser.dot = false
                    displayPageUser.end = false
                    pageUser.end = sumOfPage + 1
                } else if(sumOfPage == 3) {
                    displayPageUser.dot = false
                    pageUser.end = sumOfPage + 1
                } else {
                    pageUser.end = sumOfPage + 1
                }
            }
        },
        async handleUserListConfirm() {
            let data = this.groupUserList[this.selectedCheckedIndex[0]]
            let dataOwner = JSON.parse(JSON.stringify(this.ownerList[this.rowCurrent]))
            if(data == undefined) {
                this.$message.error("Row must be chosen")
            } else {
                await ownerAPI.changeOwner(data.id, dataOwner.id)
                this.signUserList = false
                this.$message.success("Successful")
            }
        },
        async selectedOwnerInfo() {

        },
        async backPageUser() {
            if(this.option.mode == 'noSearch') {
                this.option.mode = 'search'
            } else if(this.option.mode == 'update') {
                this.option.mode = 'mode'
            }
            if(this.option.mode == 'mode') {
                let historyData = JSON.parse(JSON.stringify(this.historyUserPage[this.historyUserPage.length - 1]))
                let historyDataUser = JSON.parse(JSON.stringify(this.historyUserPage[this.historyUserPage.length - 2]))
                this.userList = await ownerUserAPI.findOwnerUserByCreated(historyDataUser.userId, historyData.currentPage.current, this.sl)
                this.userList = this.userList.concat(await userAPI.findUserByCreated(historyDataUser.userId, historyData.currentPage.current, this.sl))
                this.pageUser = JSON.parse(JSON.stringify(historyData.pageUser))
                this.displayPageUser = JSON.parse(JSON.stringify(historyData.displayPageUser))
                this.pageUserInstance = JSON.parse(JSON.stringify(historyData.pageUserInstance))
                this.currentPage = JSON.parse(JSON.stringify(historyData.currentPage))
                this.userIdCurrent = JSON.parse(JSON.stringify(historyDataUser.userId))
                this.count = JSON.parse(JSON.stringify(historyData.count))
                this.countSmall = JSON.parse(JSON.stringify(historyData.countSmall))
                this.historyUserPage.pop()
                await this.pageAlignCalc(this.count, this.pageUser, this.displayPageUser)
                if(this.currentPage.nextP == 'second') {
                    this.$refs.UserPageAlign.firstUser()
                } else if(this.currentPage.nextP == 'third') {
                    this.$refs.UserPageAlign.secondUser()
                } else if(this.currentPage.nextP == 'dot') {
                    this.$refs.UserPageAlign.thirdUser()
                } else if(this.currentPage.nextP == '') {
                    this.$refs.UserPageAlign.endUser()
                }

                this.$refs['table'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
                this.rowCurrent = ''
            } else if(this.option.mode == 'search') {
                if(this.historyUserPage.length == 2) {
                    let historyData = JSON.parse(JSON.stringify(this.historyUserPage[this.historyUserPage.length - 1]))
                    let historyDataUser = JSON.parse(JSON.stringify(this.historyUserPage[this.historyUserPage.length - 2]))
                    let dataOwner  = await ownerUserAPI.getDataByIncludes(historyDataUser.userId, historyData.currentPage.current, this.sl)
                    let dataUser = await userAPI.getDataByIncludes(historyDataUser.userId, historyData.currentPage.current, this.sl)
                    let countOwner = await ownerUserAPI.countDataByIncludes(historyDataUser.userId)
                    let countUser  = await userAPI.countDataByIncludes(historyDataUser.userId)
                    this.userList = JSON.parse(JSON.stringify(dataOwner.concat(dataUser)))
                    this.pageUser = JSON.parse(JSON.stringify(historyData.pageUser))
                    this.displayPageUser = JSON.parse(JSON.stringify(historyData.displayPageUser))
                    this.pageUserInstance = JSON.parse(JSON.stringify(historyData.pageUserInstance))
                    this.currentPage = JSON.parse(JSON.stringify(historyData.currentPage))
                    this.userIdCurrent = JSON.parse(JSON.stringify(historyDataUser.userId))
                    this.historyUserPage.pop()
                    if(countOwner >= countUser) {
                        this.count = countOwner
                        this.countSmall.count = countUser
                    } else {
                        this.count = countUser
                        this.countSmall.count = countOwner
                    }
                    this.countSmall.sumOfPage = Math.floor(parseInt(this.countSmall.count) / this.sl)
                    this.countSmall.remainder = parseInt(this.countSmall.count) % this.sl
                    await this.pageAlignCalc(this.count, this.pageUser, this.displayPageUser)
                    console.log(JSON.parse(JSON.stringify(this.currentPage)))
                    if(this.currentPage.nextP == 'second') {
                        this.$refs.UserPageAlign.firstUser()
                    } else if(this.currentPage.nextP == 'third') {
                        this.$refs.UserPageAlign.secondUser()
                    } else if(this.currentPage.nextP == 'dot') {
                        this.$refs.UserPageAlign.thirdUser()
                    } else if(this.currentPage.nextP == '') {
                        this.$refs.UserPageAlign.endPageUser()
                    }
                    this.$refs['table'].forEach((element) => {
                        element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                        element.style.color = 'black'
                    })
                    this.rowCurrent = ''

                } else if(this.historyUserPage.length > 2) {
                    this.option.mode = 'noSearch'
                    let historyData = JSON.parse(JSON.stringify(this.historyUserPage[this.historyUserPage.length - 1]))
                    let historyDataUser = JSON.parse(JSON.stringify(this.historyUserPage[this.historyUserPage.length - 2]))
                    this.userList = await ownerUserAPI.findOwnerUserByCreated(historyDataUser.userId, historyData.currentPage.current, this.sl)
                    this.userList = this.userList.concat(await userAPI.findUserByCreated(historyDataUser.userId, historyData.currentPage.current, this.sl))
                    this.pageUser = JSON.parse(JSON.stringify(historyData.pageUser))
                    this.displayPageUser = JSON.parse(JSON.stringify(historyData.displayPageUser))
                    this.pageUserInstance = JSON.parse(JSON.stringify(historyData.pageUserInstance))
                    this.currentPage = JSON.parse(JSON.stringify(historyData.currentPage))
                    this.userIdCurrent = JSON.parse(JSON.stringify(historyDataUser.userId))
                    this.historyUserPage.pop()
                    this.count = JSON.parse(JSON.stringify(historyData.count))
                    this.countSmall = JSON.parse(JSON.stringify(historyData.countSmall))
                    await this.pageAlignCalc(this.count, this.pageUser, this.displayPageUser)
                    if(this.currentPage.nextP == 'second') {
                        this.$refs.UserPageAlign.firstUser()
                    } else if(this.currentPage.nextP == 'third') {
                        this.$refs.UserPageAlign.secondUser()
                    } else if(this.currentPage.nextP == 'dot') {
                        this.$refs.UserPageAlign.thirdUser()
                    } else if(this.currentPage.nextP == '') {
                        this.$refs.UserPageAlign.endPageUser()
                    }

                    this.$refs['table'].forEach((element) => {
                        element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                        element.style.color = 'black'
                    })
                    this.rowCurrent = ''
                }
            }
        },
        async updatePage(pageStt) {
            if(this.option.mode == 'update') {
                this.userList = await ownerUserAPI.findOwnerUserByCreated(this.userIdCurrent, parseInt(pageStt), this.sl)
                this.userList = this.userList.concat(await userAPI.findUserByCreated(this.userIdCurrent, parseInt(pageStt), this.sl))
                if(this.currentPage.current <= this.countSmall.sumOfPage) {
                    this.indexUser = (this.currentPage.current - 1) * 2 * this.sl
                } else if(this.currentPage.current > this.countSmall.sumOfPage) {
                    this.indexUser = (this.currentPage.current -1) * this.sl + this.countSmall.sumOfPage * this.sl + this.countSmall.remainder
                }
            } else if(this.option.mode == 'search') {
                let dataOwner  = await ownerUserAPI.getDataByIncludes(this.searchingUser, parseInt(pageStt), this.sl)
                let dataUser = await userAPI.getDataByIncludes(this.searchingUser, parseInt(pageStt), this.sl)
                this.userList = JSON.parse(JSON.stringify(dataOwner.concat(dataUser)))
                if(this.currentPage.current <= this.countSmall.sumOfPage) {
                    this.indexUser = (this.currentPage.current - 1) * 2 * this.sl
                } else if(this.currentPage.current > this.countSmall.sumOfPage) {
                    this.indexUser = (this.currentPage.current - 1) * this.sl + this.countSmall.sumOfPage * this.sl + this.countSmall.remainder
                }
            }
        },
        async getUserChild() {
            let userId = this.userList[this.rowCurrent].id
            let data = await ownerUserAPI.findOwnerUserByCreated(this.userList[this.rowCurrent].id, 1, this.sl)
            data = data.concat(await userAPI.findUserByCreated(this.userList[this.rowCurrent].id, 1, this.sl))
            this.userIdCurrent = JSON.parse(JSON.stringify(userId))
            this.userList =JSON.parse(JSON.stringify(data))
            this.historyUserPage.push({
                pageUser : JSON.parse(JSON.stringify(this.pageUser)),
                displayPageUser : JSON.parse(JSON.stringify(this.displayPageUser)),
                pageUserInstance : JSON.parse(JSON.stringify(this.pageUserInstance)),
                currentPage : JSON.parse(JSON.stringify(this.currentPage)),
                userId : JSON.parse(JSON.stringify(userId)),
                count : JSON.parse(JSON.stringify(this.count)),
                countSmall : JSON.parse(JSON.stringify(this.countSmall))
            })
            let countUser = await userAPI.countUserByCreated(userId)
            let countOwner = await ownerUserAPI.countOwnerUserByCreated(userId)
            if(countUser > countOwner) {
                this.count = countUser
                this.countSmall.count = countOwner
            } else {
                this.count = countOwner
                this.countSmall.count = countUser
            }

            this.countSmall.sumOfPage = Math.floor(parseInt(this.countSmall.count) / this.sl)
            this.countSmall.remainder = parseInt(this.countSmall.count) % this.sl
            await this.pageAlignCalc(this.count, this.pageUser, this.displayPageUser)
            if(this.option.mode == 'update') {
                this.$refs.UserPageAlign.firstUserPageNoMode()
            } else if(this.option.mode == 'search') {
                this.$refs.UserPageAlign.firstUserPageNoSearch()
            }
        },
        async selectRow(x) {
            for(let key in this.$refs['table']) {
                let element = this.$refs['table'][key]
                element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                element.style.color = 'black'
            }
            let ref = this.$refs['table'][x]
            let myDivObjBgColor = window.getComputedStyle(ref).backgroundColor;
            if(myDivObjBgColor.toString() === 'rgba(0, 0, 0, 0)') {
                ref.style.backgroundColor = '#012596',
                ref.style.color = 'white'
                this.rowCurrent = x
            } else {
                ref.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                ref.style.color = 'black',
                this.rowCurrent = ''
            }
        },
        async searchingUserData() {
            this.currentPage = {
                nextP : '',
                previousP : '',
                current : 1
            }

            let dataOwner  = await ownerUserAPI.getDataByIncludes(this.searchingUser, 1, this.sl)
            let dataUser = await userAPI.getDataByIncludes(this.searchingUser, 1, this.sl)
            let countOwner = await ownerUserAPI.countDataByIncludes(this.searchingUser)
            let countUser  = await userAPI.countDataByIncludes(this.searchingUser)
            this.userList = JSON.parse(JSON.stringify(dataOwner.concat(dataUser)))
            this.option.mode = 'search'
            this.pageUser = {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            },
            this.displayPageUser = {
                second : true,
                third : true,
                dot : true,
                end : true
            },

            this.pageUserInstance = {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            },
            this.userIdCurrent = JSON.parse(JSON.stringify(this.$store.state.user.user_id))
            if(countOwner >= countUser) {
                this.count = countOwner
                this.countSmall.count = countUser
            } else {
                this.count = countUser
                this.countSmall.count = countOwner
            }
            this.countSmall.sumOfPage = Math.floor(parseInt(this.countSmall.count) / this.sl)
            this.countSmall.remainder = parseInt(this.countSmall.count) % this.sl

            let sumOfPage = Math.floor(parseInt(this.count) / this.sl)
            let remainder = parseInt(this.count) % this.sl
            if(remainder == 0) {
                if(sumOfPage < 4) {
                    this.displayPageUser.dot = false
                    this.displayPageUser.end = false
                    this.pageUser.end = sumOfPage
                    if(sumOfPage <3) {
                        this.displayPageUser.third = false
                    }
                    if(sumOfPage <2) {
                        this.displayPageUser.second = false
                    }
                } else if(sumOfPage == 4) {
                    this.displayPageUser.dot = false
                    this.pageUser.end = sumOfPage
                } else {
                    this.pageUser.end = sumOfPage
                }
            } else {
                if(sumOfPage < 3) {
                    if(sumOfPage <2) {
                        this.displayPageUser.third = false
                    }
                    if(sumOfPage <1) {
                        this.displayPageUser.second = false
                    }
                    this.displayPageUser.dot = false
                    this.displayPageUser.end = false
                    this.pageUser.end = sumOfPage + 1
                } else if(sumOfPage == 3) {
                    this.displayPageUser.dot = false
                    this.pageUser.end = sumOfPage + 1
                } else {
                    this.pageUser.end = sumOfPage + 1
                }
            }

            if(this.$refs['tableGroup'] != undefined) {
                this.$refs['tableGroup'].forEach((element) => {
                    if(element != undefined &&  element != null) {
                        if(element.style != undefined && element.style != null) {
                            element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                            element.style.color = 'black'
                        }
                    }
                })
            }
            await this.$refs.UserPageAlign.firstUserPage();
            this.historyUserPage = []
            this.historyUserPage.push({
                userId : JSON.parse(JSON.stringify(this.searchingUser)),
                count : JSON.parse(JSON.stringify(this.count)),
                countSmall : JSON.parse(JSON.stringify(this.countSmall))
            })
            this.indexUser = 0
            console.log(this.currentPage)
        },
        async openSearchUser() {
            if(this.searchingUser.option == false) {
                this.searchingUser.option = true
            } else {
                this.searchingUser.option = false
            }
        }
    }
}
</script>
<style scoped>
.header th {
    white-space: nowrap;
}
</style>
