<template>
    <div id="asset">
        <div>
            <el-row :gutter="20" id="main-content" style="padding: 0; z-index: 0;">
                <el-tabs type="card" class="w-100 h-100">
                    <!-- Transformer -->
                    <el-tab-pane :label="properties.asset">
                        <div style="overflow: auto; height: 600px;">
                        
                            <!-- Properties -->
                            <property @changeAssetType="changeAssetType" @setUpdate="setUpdate" :updateNew='updateNew' :update="update" @editManu="editManu" :title="title" @createAdd="updateShowAdd" :manufact="manufacturerCustom" @reloadManu="reloadManu()" :data="properties" :disabled="disabled"></property>

                            <!-- Winding configuration -->
                            <winding-configuration :data="winding_configuration" :properties="properties"></winding-configuration>

                            <!-- Ratings -->
                            <rating :data="ratings" :properties="properties"></rating>

                            <!-- Impedances -->
                            <impedance :data="impedances" :properties="properties" :tap-changers="tapChangers"></impedance>

                            <!-- Others -->
                            <other :data="others" :properties="properties"></other>
                        </div>
                    </el-tab-pane>

                    <!-- Bushings -->
                    <el-tab-pane label="Bushings">
                        <div style="overflow: auto; height: 500px;">
                            <bushing
                                :asset_type="properties.asset_type"
                                :asset_phase="winding_configuration.phases"
                                :asset_winding_config="winding_configuration.vector_group"
                                :asset_bushings_config="bushings_config"
                                @input-bushing="onInputBushing">
                            </bushing>
                        </div>
                    </el-tab-pane>

                    <!-- Tab changers -->
                    <el-tab-pane label="Tap changers">
                        <div style="overflow: auto; height: 500px;">
                            <tap-changer :properties="properties" :data="tapChangers"></tap-changer>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </el-row>
        </div>
        <manufacturerAdd :dataProperties="dataProperties" :showAdd.sync="showAdd" @backSign="backSign()" @backSignUpdate="backSignUpdate" :title="title" :modeManu="modeManu"></manufacturerAdd>

    </div>
</template>

<script>
/* eslint-disable */
import * as manuAPI from '@/api/manuAPI/manuAPI.js'
import WindingConfiguration from '@/views/AssetView/Transformer/components/WindingConfiguration/index.vue'
import Bushing from '@/views/AssetView/Transformer/components/Bushing/index.vue'
import TapChanger from '@/views/AssetView/Transformer/components/TapChanger/index.vue'
import Property from '@/views/AssetView/Transformer/components/Property/index.vue'
import Rating from '@/views/AssetView/Transformer/components/Rating/index.vue'
import Impedance from '@/views/AssetView/Transformer/components/Impedance/index.vue'
import Other from '@/views/AssetView/Transformer/components/Other/index.vue'
import mixin from './mixin'
import ManufacturerAdd from '@/views/common/ManufacturerAdd.vue'

export default {
    name: 'AssetView',
    components: {
        WindingConfiguration,
        Bushing,
        TapChanger,
        Property,
        Rating,
        Impedance,
        Other,
        ManufacturerAdd
    },
    mixins: [mixin],
    data() {
        return {
            mode: this.$constant.ADD,
            asset_id: null,
            saved: false,
            input1 : '',
            showAdd : false,
            title : 'transformer',
            manufacturerCustom : [],
            modeManu : 'insert',
            dataProperties : {},
            updateNew : '',
            update : false
        }
    },
    methods: {
        onInputBushing(bushings_config_arr) {
            this.bushings_config = bushings_config_arr
        },
        updateShowAdd(sign) {
            this.showAdd = sign
        },
        async editManu(item) {
            try {
                let rs = await manuAPI.getManuByName(item.name)
                this.dataProperties = rs[0]
                this.showAdd = true
                this.modeManu = 'edit'
            } catch {
                this.$message.error("Cannot load manufacturer")
            }
            
        },
        async backSign(sign) {
            this.showAdd = sign
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
                this.modeManu = 'insert'
            } catch(e) {
                console.log(e)
                this.modeManu = 'insert'
                this.$message.error("Cannot load manufacturer")
            }
        },
        async backSignUpdate(dataUpdate) {
            this.showAdd = false
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
            } catch(e) {
                this.$message.error("Cannot load manufacturer")
            }
            this.modeManu = 'insert'
            this.update = true
            this.updateNew = dataUpdate
        },
        async setUpdate(check) {
            this.update = check
        },
        async reloadManu() {
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
            } catch(e) {
                this.$message.error("Cannot reload manufacturer")
            }
        },
        async changeAssetType(data) {
            let keys = Object.keys(this.impedances.zero_sequence_impedance.zero_percent)
            for(let i in keys) {
                this.impedances.zero_sequence_impedance.zero_percent[keys[i]] = ''
            }
        }
    }
}
</script>

<style lang="scss" scoped>

table,
td,
th {
    border: 1px solid;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    padding: 0px 10px;
    height: 30px;
}
</style>
