<template>
    <div>
      <canvas ref="barChart"></canvas>
    </div>
  </template>
  
  <script>
  import { Chart, registerables } from 'chart.js';
  
  export default {
    name: "BarChart",
    props: {
      chartData: {
        type: Object,
        required: true
      },
      chartOptions: {
        type: Object,
        default: () => ({})
      }
    },
    mounted() {
      // Đăng ký các thành phần của Chart.js
      Chart.register(...registerables);
  
      // Tạo biểu đồ cột
      new Chart(this.$refs.barChart, {
        type: "bar",
        data: this.chartData,
        options: this.chartOptions
      });
    }
  };
  </script>