<template>
    <div style="width: 100%;" id="asset"> 
        <el-row :gutter="20" class="content">
            <el-col :span="12" class="col-content">
                <el-form :inline-message="true" :label-width="labelWidth" size="mini" label-position="left">
                    <span class="bolder">Properties</span>
                    <el-divider></el-divider>
                    <el-form-item label="Asset">
                        <el-select :disabled="titleAssetData == 'Edit Asset'"
                            style="width: 100%"
                            @change="changeAsset()"
                            v-model="propertiesData.asset"
                            placeholder="Select asset">
                            <el-option label="<Select asset>" value="<Select asset>"> </el-option>
                            <el-option label="Transformer" value="Transformer"> </el-option>
                            <el-option label="Circuit breaker" value="Circuit breaker"> </el-option>
                            <el-option label="Current transformer" value="Current transformer"> </el-option>
                            <el-option label="Voltage transformer" value="Voltage transformer"> </el-option>
                            <el-option label="Rotating machine" value="Rotating machine"> </el-option>
                            <el-option label="Disconnector" value="Disconnector"> </el-option>
                            <el-option label="Surge arrester" value="Surge arrester"> </el-option>
                            <el-option label="Capacitor" value="Capacitor"> </el-option>
                            <el-option label="Reactor" value="Reactor"> </el-option>
                            <el-option label="Power cable" value="Power cable"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Asset type">
                        <el-select
                            disabled
                            style="width: 100%"
                            v-model="propertiesData.asset_type"
                            placeholder="Select asset type">
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Serial no.">
                        <el-input v-model="propertiesData.serial_no"></el-input>
                    </el-form-item>
                    <el-form-item v-if="titleAssetData == 'Edit Asset'" label="Manufacturer">
                        <el-select @change="createNew(propertiesData.manufacturer)" style="width: 100%;" filterable v-model="propertiesData.manufacturer">
                            <el-option style="border-radius: 12px; background-color:#012596; margin: 10px; color: white;" value="Create new"><i class="fa-solid fa-square-plus" style="margin-right: 10px;"></i>&lt; Create new ></el-option>
                            <el-option v-for="item in manufacturerCustom" :key="item.name" :value=item.name> {{ item.name }} <i @click="deleteManu(item)" style="float: right; cursor: pointer; color: red;" class="fa-solid fa-trash"></i> <i @click="editManu(item)" style="float: right; margin-right: 10px; cursor: pointer; color: green;" class="fa-solid fa-pen-to-square"></i> </el-option>
                            <el-option v-for="item in manufacturerList" :label="item" :key="item" :value=item> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item v-else label="Manufacturer">
                        <el-input disabled v-model="propertiesData.manufacturer"></el-input>
                    </el-form-item>
                    <el-form-item label="Manufacturer type">
                        <el-input v-model="propertiesData.manufacturer_type"></el-input>
                    </el-form-item>
                    <el-form-item label="Manufacturing year">
                        <el-input v-model="propertiesData.manufacturing_year"></el-input>
                    </el-form-item>
                    <el-form-item label="Country of origin">
                        <el-select style="width: 100%;" filterable v-model="propertiesData.asset_system_code">
                            <el-option v-for="item in countryData" :key="item" :label="item" :value="item"> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Apparatus ID">
                        <el-input v-model="propertiesData.apparatus_id"></el-input>
                    </el-form-item>
                    <el-form-item label="Feeder">
                        <el-input v-model="propertiesData.feeder"></el-input>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="12" class="col-content">
                <el-form :label-width="labelWidth" size="mini" label-position="left">
                    <span class="bolder">Comment</span>
                    <el-divider></el-divider>
                    <el-input type="textarea" :rows="14" v-model="propertiesData.comment"></el-input>
                </el-form>
            </el-col>
        </el-row>
        <manufacturerAdd v-if="titleAssetData == 'Edit Asset'" :dataProperties="dataProperties" :showAdd.sync="showAdd" @backSign="backSign()" @backSignUpdate="backSignUpdate" :title="title" :modeManu="modeManu"></manufacturerAdd>
        <el-dialog
            :visible.sync="openAddAsset"
            :title="titleAsset"
            align-center
            :before-close="handleCloseAsset"
            custom-class="location-class"
            draggable
            :modal="false"
            :width="dialogWidth"
        >
            <transformer ref="transformer" v-if='propertiesData.asset == "Transformer"'></transformer>
            <circuitBreaker ref="circuitBreaker" v-else-if='propertiesData.asset == "Circuit breaker"'></circuitBreaker>
            <currentTransformer ref="currentTransformer" v-else-if='propertiesData.asset == "Current transformer"'></currentTransformer>
            <voltageTransformer ref="voltageTransformer" v-else-if='propertiesData.asset == "Voltage transformer"'></voltageTransformer>
            <surgeArrester ref="surgeArrester" v-else-if='propertiesData.asset == "Surge arrester"'></surgeArrester>
            <disconnector ref="disconnector" v-else-if='propertiesData.asset == "Disconnector"'></disconnector>
            <powerCable ref="powerCable" v-else-if='propertiesData.asset == "Power cable"'></powerCable>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="handleChosenLocation()" size="small">Chosen location</el-button>
                <el-button type="danger" @click="handleCloseAsset()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleConfirmAsset()" size="small">Confirm</el-button>
            </span>
        </el-dialog>

        <el-dialog
            :visible.sync="openLocationList"
            title="Chosen location parent"
            align-center
            :before-close="handleCloseLocationList"
            custom-class="location-class"
            draggable
            :modal="false"
            width="1000px"
        >
            <locationListNoCrudView @changeLocationList="changeLocationList" ref="locationListData"></locationListNoCrudView>
            <span slot="footer" class="dialog-footer">
                <el-button type="danger" @click="handleCloseLocationList()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleConfirmLocationList()" size="small">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
/* eslint-disable */
import {country} from '@/views/ConstantAsset/index'
import transformer from '@/views/AssetView/Transformer/index.vue'
import circuitBreaker from '@/views/AssetView/CircuitBreaker/index.vue'
import currentTransformer from '@/views/AssetView/CurrentTransformer/index.vue'
import voltageTransformer from '@/views/AssetView/VoltageTransformer/index.vue'
import surgeArrester from '@/views/AssetView/SurgeArrester/index.vue'
import disconnector from '@/views/AssetView/Disconnector/index.vue'
import powerCable from '@/views/AssetView/PowerCable/index.vue'
import * as transformerAPI from '@/api/transformerAPI/transformerAPI.js'
import * as bushingAPI from '@/api/transformerAPI/bushingAPI.js'
import * as tapchangerAPI from '@/api/transformerAPI/tapchangerAPI.js'
import * as circuitAPI from '@/api/circuit/circuit'
import * as currentAPI from '@/api/current/current'
import * as voltageAPI from '@/api/voltage/voltage'
import * as surgeAPI from '@/api/surge/surge'
import * as disconnectorAPI from '@/api/disconnector/disconnector'
import * as powerAPI from '@/api/power/power'
import locationListNoCrudView from '@/views/LocationView/locationListNoCrud.vue'
import ManufacturerAdd from '@/views/common/ManufacturerAdd.vue'
import * as manuAPI from '@/api/manuAPI/manuAPI.js'
export default {
    name: 'AssetChoosen',
    props : {
        titleAssetData : String,
    },
    components : {
        transformer,
        locationListNoCrudView,
        circuitBreaker,
        currentTransformer,
        voltageTransformer,
        surgeArrester,
        disconnector,
        powerCable,
        ManufacturerAdd
    },
    data() {
        return {
            dialogWidth : `1000px`,
            propertiesData: {
                asset : "<Select asset>",
                asset_type : "",
                serial_no : "",
                manufacturer : "",
                manufacturer_type : "",
                manufacturing_year : "",
                asset_system_code : "",
                apparatus_id : "",
                feeder : ""
            },
            modeManu : 'insert',
            labelWidth : `200px`,
            countryData : [],
            openAddAsset : false,
            openLocationList : false,
            titleAsset : '',
            locationData : {},
            dataProperties : {},
            showAdd : false,
            title : '',
            manufacturerPast : '',
            manufacturerList : ['ABB', 'ALSTOM', 'General Electric', 'Mitsubishi Electric', 'Schneider Electric', 'Siemens', 'Toshiba', 'Westinghouse'],
            manufacturerCurrent : '',
            sign : '',
            manufacturerPast : '',
            manufacturerCustom : [],
        }
    },

    mounted() {
        this.countryData = country.default
    },
    methods: {
        async loadAssetTitle(data) {
            if(data == 'Transformer') {
                return 'transformer'
            } else if(data == 'Circuit breaker') {
                return 'circuit'
            } else if(data == 'Current transformer') {
                return 'current'
            } else if(data == 'Voltage transformer') {
                return 'voltage'
            } else if(data == 'Disconnector') {
                return 'disconnector'
            } else if(data == 'Surge arrester') {
                return 'surge'
            } else if(data == 'Power cable') {
                return 'powercable'
            }
        },
        async changeAsset() {
            if(this.propertiesData.asset === "Transformer") {
                this.dialogWidth = `1000px`
                this.titleAsset = 'Add Transformer'
                this.openAddAsset = true
                this.$nextTick(async () => {
                    await this.$refs.transformer.loadData(JSON.parse(JSON.stringify(this.propertiesData)))
                })
            } else if(this.propertiesData.asset === "Circuit breaker") {
                this.dialogWidth = `1000px`
                this.titleAsset = 'Add Circuit breaker'
                this.openAddAsset = true
                this.$nextTick(async () => {
                    await this.$refs.circuitBreaker.loadData(JSON.parse(JSON.stringify(this.propertiesData)))
                })
            } else if(this.propertiesData.asset === "Current transformer") {
                this.dialogWidth = `1000px`
                this.titleAsset = 'Add Current transformer'
                this.openAddAsset = true
                this.$nextTick(async () => {
                    await this.$refs.currentTransformer.loadData(JSON.parse(JSON.stringify(this.propertiesData)))
                })
            } else if(this.propertiesData.asset === "Voltage transformer") {
                this.dialogWidth = `1000px`
                this.titleAsset = 'Add Voltage transformer'
                this.openAddAsset = true
                this.$nextTick(async () => {
                    await this.$refs.voltageTransformer.loadData(JSON.parse(JSON.stringify(this.propertiesData)))
                })
            } else if(this.propertiesData.asset === "Disconnector") {
                this.dialogWidth = `1000px`
                this.titleAsset = 'Add Disconnector'
                this.openAddAsset = true
                this.$nextTick(async () => {
                    await this.$refs.disconnector.loadData(JSON.parse(JSON.stringify(this.propertiesData)))
                })
            } else if(this.propertiesData.asset === "Surge arrester") {
                this.dialogWidth = `1000px`
                this.titleAsset = 'Add Surge arrester'
                this.openAddAsset = true
                this.$nextTick(async () => {
                    await this.$refs.surgeArrester.loadData(JSON.parse(JSON.stringify(this.propertiesData)))
                })
            } else if(this.propertiesData.asset === "Power cable") {
                this.titleAsset = 'Add Power cable'
                this.openAddAsset = true
                this.dialogWidth = `1300px`
                this.$nextTick(async () => {
                    await this.$refs.powerCable.loadData(JSON.parse(JSON.stringify(this.propertiesData)))
                })
            } 
        },
        async handleCloseAsset() {
            this.openAddAsset = false
        },
        async handleConfirmAsset() {
            if(this.locationData.id != '' && this.locationData.id != undefined) {
                if(this.propertiesData.asset == "Transformer") {
                    let data = await this.$refs.transformer.getData()
                    let mergeData = Object.assign({}, data.properties, data.winding_configuration, data.ratings, data.impedances, data.others)
                    let bushing = JSON.parse(JSON.stringify(data.bushings_config))
                    let tapChangers = JSON.parse(JSON.stringify(data.tapChangers))
                    checkSuccess = []
                    try {
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let asset = await transformerAPI.createdTransformer(mergeData)
                        checkSuccess.push(1)
                        try {
                            let keyBushing = Object.keys(bushing)
                            bushing.asset_id = asset.id
                            bushing.id = ''
                            for(let i in keyBushing) {
                                if(typeof bushing[keyBushing[i]] == 'object' ) {
                                    bushing[keyBushing[i]] = JSON.stringify(bushing[keyBushing[i]])
                                }
                            }
                            await bushingAPI.createBushing(bushing)
                            checkSuccess.push(1)
                        } catch(e) {
                            this.$message.error("Insert transformer but not bushing")
                            checkSuccess.push(0)
                        }
                        try {
                            let keyTapChangers = Object.keys(tapChangers)
                            tapChangers.asset_id = asset.id
                            tapChangers.id = ''
                            for(let i in keyTapChangers) {
                                if(typeof tapChangers[keyTapChangers[i]] == 'object' ) {
                                    tapChangers[keyTapChangers[i]] = JSON.stringify(tapChangers[keyTapChangers[i]])
                                }
                            }
                            await tapchangerAPI.createTapChanger(tapChangers)
                            checkSuccess.push(1)
                        } catch(e) {
                            this.$message.error("Insert transformer but not tapchanger")
                            checkSuccess.push(0)
                        }
                        if(checkSuccess[1] ==1 && checkSuccess[2] == 1) {
                            if(checkSuccess[2] == 1) {
                                this.$message.success("Insert transformer successful")
                                this.openAddAsset = false
                            } else {
                                this.$message.warning("Insert transformer successful but no tapchanger")
                            }
                        } else {
                            if(checkSuccess[1] == 0) {
                                if(checkSuccess[2] == 1) {
                                    this.$message.warning("Insert transformer successful but no bushing")
                                } else {
                                    this.$message.warning("Insert transformer successful but no bushing and tapchanger")
                                }
                            } 
                        }
                        
                    } catch(e) {
                        this.$message.error("Cannot insert transformer")
                    }
                } else if(this.propertiesData.asset == "Circuit breaker") {
                    try {
                        var checkSuccess = 0
                        let data = await this.$refs.circuitBreaker.getData()
                        let mergeData = Object.assign({}, data, data.properties)
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let rs = await circuitAPI.save([mergeData])
                        this.$message.success("Insert circuit breaker successful")
                        this.openAddAsset = false
                    } catch(e) {
                        console.log(e)
                        this.$message.error("Cannot insert circuit breaker")
                    }
                } else if(this.propertiesData.asset == "Current transformer") {
                    try {
                        let data = await this.$refs.currentTransformer.getData()
                        let mergeData = Object.assign({}, data, data.properties)
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let rs = await currentAPI.save([mergeData])
                        this.$message.success("Insert current transformer successful")
                        this.openAddAsset = false
                    } catch(e) {
                        console.log(e)
                        this.$message.error("Cannot insert current transformer")
                    }
                } else if(this.propertiesData.asset == "Voltage transformer") {
                    try {
                        let data = await this.$refs.voltageTransformer.getData()
                        let mergeData = Object.assign({}, data, data.properties)
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let rs = await voltageAPI.save([mergeData])
                        this.$message.success("Insert voltage transformer successful")
                        this.openAddAsset = false
                    } catch(e) {
                        console.log(e)
                        this.$message.error("Cannot insert voltage transformer")
                    }
                } else if(this.propertiesData.asset == "Surge arrester") {
                    try {
                        let data = await this.$refs.surgeArrester.getData()
                        let mergeData = Object.assign({}, data, data.properties)
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let rs = await surgeAPI.save([mergeData])
                        this.$message.success("Insert surge arrester successful")
                        this.openAddAsset = false
                    } catch(e) {
                        console.log(e)
                        this.$message.error("Cannot insert surge arrester")
                    }
                } else if(this.propertiesData.asset == "Disconnector") {
                    try {
                        let data = await this.$refs.disconnector.getData()
                        let mergeData = Object.assign({}, data, data.properties)
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let rs = await disconnectorAPI.save([mergeData])
                        this.$message.success("Insert disconnector successful")
                        this.openAddAsset = false
                    } catch(e) {
                        console.log(e)
                        this.$message.error("Cannot insert disconnector")
                    }
                } else if(this.propertiesData.asset == "Power cable") {
                    try {
                        let data = await this.$refs.powerCable.getData()
                        let mergeData = Object.assign({}, data, data.properties)
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let rs = await powerAPI.save([mergeData])
                        this.$message.success("Insert power cable")
                        this.openAddAsset = false
                    } catch(e) {
                        console.log(e)
                        this.$message.error("Cannot insert power cable")
                    }
                }
            } else {
                this.$message.error("Location must be chosen")
            }
            this.locationData = {}
        },
        async handleCloseLocationList() {
            this.locationData = {}
            this.openLocationList = false
            let keys = Object.keys(this.propertiesData)
            for(let i in keys) {
                this.propertiesData[keys[i]] = ''
            }
            this.propertiesData.asset = "<Select asset>"
        },
        async handleChosenLocation() {
            this.openLocationList = true
            this.$nextTick(async () => {
                await this.$refs.locationListData.getAllLocation()
            })
        },
        async handleConfirmLocationList() {
            this.openLocationList = false
        },
        async changeLocationList(data) {
            this.locationData = data
        },
        async loadDataEdit(data) {
            if(data != undefined) {
                this.propertiesData = JSON.parse(JSON.stringify(data))
                this.title = await this.loadAssetTitle(this.propertiesData.asset)
            }
        },
        async backSign(sign) {
            this.showAdd = sign
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
                this.modeManu = 'insert'
            } catch(e) {
                this.modeManu = 'insert'
                this.$message.error("Cannot load manufacturer")
            }
        },
        async backSignUpdate(dataUpdate) {
            this.showAdd = false
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
            } catch(e) {
                this.$message.error("Cannot load manufacturer")
            }
            this.modeManu = 'insert'
            this.update = true
            this.updateNew = dataUpdate
        },
        createNew(data) {
            if(data == 'Create new') {
                this.propertiesData.manufacturer = JSON.parse(JSON.stringify(this.manufacturerCurrent))
                this.updateShowAdd(true)
            }
            if(this.sign == "past") {
                this.propertiesData.manufacturer = JSON.parse(JSON.stringify(this.manufacturerPast))
                this.sign = ''
            }
        },
        deleteManu(item) {
            this.sign ='past'
            this.$confirm('This will delete this manufacturer. Continue?', 'Warning', {
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(async () => {
                try {
                    let rs = await manuAPI.getManuByName(item.name)
                    if(rs.length > 0) {
                        var dataType = rs[0].type.split(',')
                        if(dataType.includes(this.title)) {
                            if(dataType.length == 1) {
                                try {
                                    const rt = await manuAPI.deleteManu([item.id])
                                    this.$message.success("Delete completed")
                                    if(this.propertiesData.manufacturer == item) {
                                        this.propertiesData.manufacturer = ''
                                        this.sign = '' 
                                    }
                                } catch(e) {
                                    this.$message.error("Delete cannot be done")
                                }
                            } else {
                                this.$message.error("Delete cannot be done")
                            }
                        }
                    } else {
                        this.$message.error("Cannot find manufacturer")
                    }
                    await this.reloadManu()
                } catch(e) {
                    this.$message.error("Cannot delete manufacturer")
                }
                
            }).catch(() => {
                return
            })
        },
        updateShowAdd(sign) {
            this.showAdd = sign
        },
        async reloadManu() {
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
            } catch(e) {
                this.$message.error("Cannot reload manufacturer")
            }
        },
        async editManu(item) {
            try {
                let rs = await manuAPI.getManuByName(item.name)
                this.dataProperties = rs[0]
                this.showAdd = true
                this.modeManu = 'edit'
            } catch {
                this.$message.error("Cannot load manufacturer")
            }
            
        },
        async getData() {
            return this.propertiesData
        }
    }
}
</script>

<style lang="scss" scoped>
#asset {
    width: 100%;
    height: 100%;
}


table,
td,
th {
    border: 1px solid;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    padding: 0px 10px;
    height: 30px;
}
.bolder {
    font-weight: bold;
}
</style>
