<template>
    <div>
        <div style="margin-bottom: 20px; justify-content: center; align-items: center; display: flex">
            <el-row>
                <el-col>
                    <el-button size="mini" type="primary" class="btn-action" @click="addAsset"> <i class="fa-solid fa-plus" style="padding-right:5px"></i> Add asset </el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="editAsset"> <i class="fa-solid fa-pen" style="padding-right:5px"></i> Edit asset</el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="changeLockAsset"> <i class="fa-solid fa-key" style="padding-right:5px"></i> Lock/Unlock </el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="deleteAsset"> <i class="fa-solid fa-eraser" style="padding-right:5px"></i>Remove asset</el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="getAllAsset"> <i class="fa-solid fa-rotate-right" style="padding-right:5px"></i> Refresh</el-button>
                    <el-button size="mini" type="primary" class="btn-action" @click="settingCollab"> <i class="fa-solid fa-address-card" style="padding-right:5px"></i> Collab</el-button>
                </el-col>
            </el-row>
        </div>
        <div style=" height: 73vh; overflow-y: auto;; width: 100%;">
            <div style="margin-left: 1%;">
                <el-select @change="getAllAssetByType" size="mini" v-model="assetChosen">
                    <el-option label="<Select asset>" value=""> </el-option>
                    <el-option label="Transformer" value="Transformer"> </el-option>
                    <el-option label="Circuit breaker" value="Circuit breaker"> </el-option>
                    <el-option label="Current transformer" value="Current transformer"> </el-option>
                    <el-option label="Voltage transformer" value="Voltage transformer"> </el-option>
                    <el-option label="Rotating machine" value="Rotating machine"> </el-option>
                    <el-option label="Disconnector" value="Disconnector"> </el-option>
                    <el-option label="Surge arrester" value="Surge arrester"> </el-option>
                    <el-option label="Capacitor" value="Capacitor"> </el-option>
                    <el-option label="Reactor" value="Reactor"> </el-option>
                    <el-option label="Power cable" value="Power cable"></el-option>
                </el-select>
            </div>
            <div style="overflow: auto; margin-bottom: 100px; width: 100%;">
                <div style="width: 98%; margin-left: 1%; margin-right: 1%;">
                    <table class="styled-table" style="width: 100%;">
                        <thead class="header">
                            <th style="width: 30px;">STT</th>
                            <th>Asset</th>
                            <th>Asset type</th>
                            <th>Serial number</th>
                            <th>Manufacturer</th>
                            <th>Manufacturing year</th>
                            <th>Country of origin</th>
                            <th>Feeder</th>
                            <th>Lock/Unlock</th>
                            <th>Option
                                <i @click="openSearchAsset" v-if="searchingAsset.option == false" class="fa-solid fa-arrow-down"></i>
                                <i @click="openSearchAsset" v-else class="fa-solid fa-arrow-up"></i>
                            </th>
                        </thead>
                        <tbody>
                            <tr v-if="searchingAsset.option">
                                <td>
                                </td>
                                <td @keyup.enter="searchingAssetData()">
                                    <el-select size="mini" v-model="searchingAsset.asset">
                                        <el-option label="<Select asset>" value=""> </el-option>
                                        <el-option label="Transformer" value="Transformer"> </el-option>
                                        <el-option label="Circuit breaker" value="Circuit breaker"> </el-option>
                                        <el-option label="Current transformer" value="Current transformer"> </el-option>
                                        <el-option label="Voltage transformer" value="Voltage transformer"> </el-option>
                                        <el-option label="Rotating machine" value="Rotating machine"> </el-option>
                                        <el-option label="Disconnector" value="Disconnector"> </el-option>
                                        <el-option label="Surge arrester" value="Surge arrester"> </el-option>
                                        <el-option label="Capacitor" value="Capacitor"> </el-option>
                                        <el-option label="Reactor" value="Reactor"> </el-option>
                                        <el-option label="Power cable" value="Power cable"></el-option>
                                    </el-select>
                                </td>
                                <td @keyup.enter="searchingAssetData()">
                                    <el-input size="mini" type="primary" v-model="searchingAsset.asset_type"></el-input>
                                </td>
                                <td @keyup.enter="searchingAssetData()">
                                    <el-input size="mini" type="primary" v-model="searchingAsset.serial_no"></el-input>
                                </td>
                                <td @keyup.enter="searchingAssetData()">
                                    <el-input size="mini" type="primary" v-model="searchingAsset.manufacturer"></el-input>
                                </td>
                                <td @keyup.enter="searchingAssetData()">
                                    <el-input size="mini" type="primary" v-model="searchingAsset.manufacturing_year"></el-input>
                                </td>
                                <td @keyup.enter="searchingAssetData()">
                                    <el-select size="mini" style="width: 100%;" filterable v-model="searchingAsset.asset_system_code">
                                        <el-option v-for="item in countryData" :key="item" :label="item" :value="item"> </el-option>
                                    </el-select>
                                </td>
                                <td @keyup.enter="searchingAssetData()">
                                    <el-input size="mini" type="primary" v-model="searchingAsset.feeder"></el-input>
                                </td>
                            </tr>
                            <tr @dblclick="getAssetChild()" @click="selectRowAsset(index)" class="active-row AssetTable" v-for="(item, index) in assetList" :key="index" ref="tableAsset">
                                <td>
                                    {{ indexUser + index + 1}}
                                </td>
                                <td>
                                    {{item.asset}}
                                </td>
                                <td>
                                    {{item.asset_type}}
                                </td>
                                <td>
                                    {{item.serial_no}}
                                </td>
                                <td>
                                    {{item.manufacturer}}
                                </td>
                                <td>
                                    {{item.manufacturing_year}}
                                </td>
                                <td>
                                    {{item.asset_system_code}}
                                </td>
                                <td>
                                    {{item.feeder}}
                                </td>
                                <td v-if="item.locked">
                                    <i style="color: red" class="fa-solid fa-lock"></i>
                                </td>
                                <td v-else>
                                    <i style="color: green;" class="fa-solid fa-lock-open"></i>
                                </td>
                                <td @click="selectedAssetInfo(index)" style="cursor: pointer;">
                                    <i class="fa-solid fa-window-maximize"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <PageAlign 
                        ref="AssetPageAlign" 
                        :page-user="this.pageAsset" 
                        :display-page-user="this.displayPageAsset" 
                        :page-user-instance="this.pageAssetInstance" 
                        :current-page="this.currentPageAsset" 
                        title="AssetPageAlign"
                        :option.sync="this.optionAsset"
                        @update-page="updateAssetPage">
                    </PageAlign>
                </div>
            </div>
        </div>
        <el-dialog
            :visible.sync="signProperties"
            title="Add Asset"
            align-center
            :before-close="handleCloseProperty"
            width="1000px"
            draggable
        >
            <property-main :titleAssetData="titleAsset" ref="assetProperties"></property-main>
            <span v-if="titleAsset == 'Edit Asset'" slot="footer" class="dialog-footer">
                <el-button type="danger" @click="handleCloseAsset()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleConfirmAsset()" size="small">Confirm</el-button>
            </span>
        </el-dialog>
        
        <manufacturerAdd :dataProperties="dataProperties" :showAdd.sync="showAdd" @backSign="backSign()" @backSignUpdate="backSignUpdate" :title="title" :modeManu="modeManu"></manufacturerAdd>
        <el-dialog
            :visible.sync="openAddAsset"
            :title="titleAssetEdit"
            align-center
            :before-close="handleCloseAssetEdit"
            custom-class="location-class"
            draggable
            :width="dialogWidth"
        >
            <transformer ref="transformer" v-if='propertiesData.asset == "Transformer"'></transformer>
            <circuitBreaker ref="circuitBreaker" v-else-if='propertiesData.asset == "Circuit breaker"'></circuitBreaker>
            <currentTransformer ref="currentTransformer" v-else-if='propertiesData.asset == "Current transformer"'></currentTransformer>
            <voltageTransformer ref="voltageTransformer" v-else-if='propertiesData.asset == "Voltage transformer"'></voltageTransformer>
            <surgeArrester ref="surgeArrester" v-else-if='propertiesData.asset == "Surge arrester"'></surgeArrester>
            <disconnector ref="disconnector" v-else-if='propertiesData.asset == "Disconnector"'></disconnector>
            <powerCable ref="powerCable" v-else-if='propertiesData.asset == "Power cable"'></powerCable>
            <span slot="footer" class="dialog-footer">
                <el-button type="danger" @click="handleCloseAssetEdit()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleConfirmAssetEdit()" size="small">Confirm</el-button>
            </span>
        </el-dialog>
        <el-dialog
            :visible.sync="openLocationList"
            title="Chosen location parent"
            align-center
            :before-close="handleCloseLocationList"
            custom-class="location-class"
            draggable
            :modal="false"
            width="1000px"
        >
            <locationListNoCrudView @changeLocationList="changeLocationList" ref="locationListData"></locationListNoCrudView>
            <span slot="footer" class="dialog-footer">
                <el-button type="danger" @click="handleCloseLocationList()" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleConfirmLocationList()" size="small">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
/* eslint-disable */
import propertyMain from './Property/propertyMain.vue';
import {country} from '../ConstantAsset/index'
import PageAlign from '../pageAlign/PageAlign.vue'
import * as transformerAPI from '@/api/transformerAPI/transformerAPI.js'
import * as bushingAPI from '@/api/transformerAPI/bushingAPI.js'
import * as tapchangerAPI from '@/api/transformerAPI/tapchangerAPI.js'
import * as circuitAPI from '@/api/circuit/circuit'
import * as currentAPI from '@/api/current/current'
import * as voltageAPI from '@/api/voltage/voltage'
import * as surgeAPI from '@/api/surge/surge'
import * as disconnectorAPI from '@/api/disconnector/disconnector'
import * as powerAPI from '@/api/power/power'
import * as assetCommonAPI from '@/api/assetCommonAPI/assetCommonAPI'
import * as shareIdAPI from '@/api/shareId/shareIdAPI'
import locationListNoCrudView from '@/views/LocationView/locationListNoCrud.vue'
import ManufacturerAdd from '@/views/common/ManufacturerAdd.vue'
import transformer from '@/views/AssetView/Transformer/index.vue'
import circuitBreaker from '@/views/AssetView/CircuitBreaker/index.vue'
import currentTransformer from '@/views/AssetView/CurrentTransformer/index.vue'
import voltageTransformer from '@/views/AssetView/VoltageTransformer/index.vue'
import surgeArrester from '@/views/AssetView/SurgeArrester/index.vue'
import disconnector from '@/views/AssetView/Disconnector/index.vue'
import powerCable from '@/views/AssetView/PowerCable/index.vue'
import * as manuAPI from '@/api/manuAPI/manuAPI.js'
export default {
    components: {
        propertyMain,
        PageAlign,
        ManufacturerAdd,
        locationListNoCrudView,
        transformer,
        circuitBreaker,
        currentTransformer,
        voltageTransformer,
        surgeArrester,
        disconnector,
        powerCable
    },
    data() {
        return {
            locationData : {},
            titleAssetEdit : '',
            openLocationList : false,
            dialogWidth : `1000px`,
            modeManu : "insert",
            showAdd : false,
            dataProperties : {},
            manufacturerCustom : [],
            title : '',
            openAddAsset : false,
            propertiesData : {},
            titleAsset : "Add Asset",
            assetChosen : '',
            assetList : [],
            countryData : [],
            countAsset : '',
            signProperties : false,
            rowCurrent : '',
            countData : {},
            count : 0,
            pageAsset : {
                first : 1,
                second : 2,
                third : 3,
                dot : "...",
                end : 10,
            },
            displayPageAsset : {
                second : true,
                third : true,
                dot : true,
                end : true
            },
            pageAssetInstance : {
                first : "",
                second : "",
                third : "",
                dot : "",
                end : "",
            },
            currentPageAsset : {
                nextP : '',
                previousP : '',
                current : 1,
            },
            optionAsset : {
                mode : ''
            },
            historyAssetPage : [],
            sl : 5,
            keysData : ['Transformer', 'Circuit breaker', 'Current transformer', 'Voltage transformer', 'Disconnector', 'Surge arrester', 'Power cable'],
            indexUser : 0,
            searchingAsset : {
                option : '',
                asset : "",
                asset_type : "",
                serial_no : "",
                manufacturer : "",
                manufacturer_type : "",
                manufacturing_year : "",
                asset_system_code : "",
                apparatus_id : "",
                feeder : ""
            },
            
        }
    },
    async beforeMount() {
        this.roleInformation = localStorage.getItem('role')
        this.countryData = country.default
    },
    methods : {
        async addAsset() {
            this.titleAsset = "Add Asset"
            this.signProperties = true
        },
        async editAsset() {
            if(this.rowCurrent !== '') {
                this.titleAsset = "Edit Asset"
                this.signProperties = true
                this.$nextTick(async () => {
                    await this.$refs.assetProperties.loadDataEdit(JSON.parse(JSON.stringify(this.assetList[this.rowCurrent])))
                    await this.$refs.assetProperties.reloadManu()
                })
            } else {
                this.$message.error("Row must be chosen")
            }
        },
        async changeLockAsset() {
        },
        async deleteAsset() {

        },
        async getAllAsset() {
            try {
                await shareIdAPI.generateShareId()
                this.rowCurrent = ''
                this.countData = JSON.parse(await assetCommonAPI.countAsset())
                this.countAsset = this.countData.All
                this.pageAsset = {
                    first : 1,
                    second : 2,
                    third : 3,
                    dot : "...",
                    end : 10,
                }
                this.displayPageAsset = {
                    second : true,
                    third : true,
                    dot : true,
                    end : true
                }

                this.pageAssetInstance = {
                    first : "",
                    second : "",
                    third : "",
                    dot : "",
                    end : "",
                }

                this.currentPageAsset = {
                    nextP : '',
                    previousP : '',
                    current : 1
                }

                let sumOfPage = Math.floor(parseInt(this.countAsset) / this.sl)
                let remainder = parseInt(this.countAsset) % this.sl
                if(remainder == 0) {
                    if(sumOfPage < 4) {
                        this.displayPageAsset.dot = false
                        this.displayPageAsset.end = false
                        this.pageAsset.end = sumOfPage
                        if(sumOfPage <3) {
                            this.displayPageAsset.third = false
                        }
                        if(sumOfPage <2) {
                            this.displayPageAsset.second = false
                        }
                    } else if(sumOfPage == 4) {
                        this.displayPageAsset.dot = false
                        this.pageAsset.end = sumOfPage
                    } else {
                        this.pageAsset.end = sumOfPage
                    }
                } else {
                    if(sumOfPage < 3) {
                        if(sumOfPage <2) {
                            this.displayPageAsset.third = false
                        }
                        if(sumOfPage <1) {
                            this.displayPageAsset.second = false
                        }
                        this.displayPageAsset.dot = false
                        this.displayPageAsset.end = false
                        this.pageAsset.end = sumOfPage + 1
                    } else if(sumOfPage == 3) {
                        this.displayPageAsset.dot = false
                        this.pageAsset.end = sumOfPage + 1
                    } else {
                        this.pageAsset.end = sumOfPage + 1
                    }
                }
                this.optionAsset.mode = 'update'

                if(this.$refs['tableAsset'] != undefined) {
                    this.$refs['tableAsset'].forEach((element) => {
                        element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                        element.style.color = 'black'
                    })
                }
                await this.$refs.AssetPageAlign.firstUserPage();
            } catch(e) {
                this.$message.error("Cannot load asset data")
            }
            this.indexUser = 0
        },
        async getAllAssetByType() {
            try {
                if(this.assetChosen != '') {
                    this.rowCurrent = ''
                    this.count = await this.apiFilterCountOverPage(this.assetChosen)
                    this.countData = {}
                    this.countAsset = ''
                    this.pageAsset = {
                        first : 1,
                        second : 2,
                        third : 3,
                        dot : "...",
                        end : 10,
                    }
                    this.displayPageAsset = {
                        second : true,
                        third : true,
                        dot : true,
                        end : true
                    }

                    this.pageAssetInstance = {
                        first : "",
                        second : "",
                        third : "",
                        dot : "",
                        end : "",
                    }

                    this.currentPageAsset = {
                        nextP : '',
                        previousP : '',
                        current : 1
                    }

                    let sumOfPage = Math.floor(parseInt(this.count) / this.sl)
                    let remainder = parseInt(this.count) % this.sl
                    if(remainder == 0) {
                        if(sumOfPage < 4) {
                            this.displayPageAsset.dot = false
                            this.displayPageAsset.end = false
                            this.pageAsset.end = sumOfPage
                            if(sumOfPage <3) {
                                this.displayPageAsset.third = false
                            }
                            if(sumOfPage <2) {
                                this.displayPageAsset.second = false
                            }
                        } else if(sumOfPage == 4) {
                            this.displayPageAsset.dot = false
                            this.pageAsset.end = sumOfPage
                        } else {
                            this.pageAsset.end = sumOfPage
                        }
                    } else {
                        if(sumOfPage < 3) {
                            if(sumOfPage <2) {
                                this.displayPageAsset.third = false
                            }
                            if(sumOfPage <1) {
                                this.displayPageAsset.second = false
                            }
                            this.displayPageAsset.dot = false
                            this.displayPageAsset.end = false
                            this.pageAsset.end = sumOfPage + 1
                        } else if(sumOfPage == 3) {
                            this.displayPageAsset.dot = false
                            this.pageAsset.end = sumOfPage + 1
                        } else {
                            this.pageAsset.end = sumOfPage + 1
                        }
                    }
                    this.optionAsset.mode = 'update'
                    await this.$refs.AssetPageAlign.firstUserPage();
                } else {
                    await this.getAllAsset()
                }
            } catch(e) {
                this.$message.error("Cannot load asset data")
            }
        },
        async settingCollab() {
        },
        async backPageAsset() {
        },
        async handleCloseProperty() {
            this.signProperties = false
        },
        async openSearchAsset() {
            this.searchingAsset.option = !this.searchingAsset.option
        }, 
        async searchingAssetData() {
            try {
                this.rowCurrent = ''
                this.optionAsset.mode = "search"
                this.countData = JSON.parse(await assetCommonAPI.countAllAssetByField(this.searchingAsset, 1, this.sl))
                if(this.searchingAsset.asset == "") {
                    this.countAsset = this.countData.All
                } else {
                    this.countAsset = this.countData[this.searchingAsset.asset]
                }
                this.pageAsset = {
                    first : 1,
                    second : 2,
                    third : 3,
                    dot : "...",
                    end : 10,
                }
                this.displayPageAsset = {
                    second : true,
                    third : true,
                    dot : true,
                    end : true
                }

                this.pageAssetInstance = {
                    first : "",
                    second : "",
                    third : "",
                    dot : "",
                    end : "",
                }

                this.currentPageAsset = {
                    nextP : '',
                    previousP : '',
                    current : 1
                }
                let sumOfPage = Math.floor(parseInt(this.countAsset) / this.sl)
                let remainder = parseInt(this.countAsset) % this.sl
                if(remainder == 0) {
                    if(sumOfPage < 4) {
                        this.displayPageAsset.dot = false
                        this.displayPageAsset.end = false
                        this.pageAsset.end = sumOfPage
                        if(sumOfPage <3) {
                            this.displayPageAsset.third = false
                        }
                        if(sumOfPage <2) {
                            this.displayPageAsset.second = false
                        }
                    } else if(sumOfPage == 4) {
                        this.displayPageAsset.dot = false
                        this.pageAsset.end = sumOfPage
                    } else {
                        this.pageAsset.end = sumOfPage
                    }
                } else {
                    if(sumOfPage < 3) {
                        if(sumOfPage <2) {
                            this.displayPageAsset.third = false
                        }
                        if(sumOfPage <1) {
                            this.displayPageAsset.second = false
                        }
                        this.displayPageAsset.dot = false
                        this.displayPageAsset.end = false
                        this.pageAsset.end = sumOfPage + 1
                    } else if(sumOfPage == 3) {
                        this.displayPageAsset.dot = false
                        this.pageAsset.end = sumOfPage + 1
                    } else {
                        this.pageAsset.end = sumOfPage + 1
                    }
                }
                await this.$refs.AssetPageAlign.firstUserPage();
            } catch(e) {
                this.$message.error("Cannot find asset data")
            }
        },
        async getAssetChild() {
        },
        async selectRowAsset(index) {
            if(index != undefined) {
                let ref = this.$refs['tableAsset'][index]
                let myDivObjBgColor = JSON.parse(JSON.stringify(window.getComputedStyle(ref).backgroundColor))
                this.$refs['tableAsset'].forEach((element) => {
                    element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    element.style.color = 'black'
                })
                if(myDivObjBgColor.toString() === 'rgba(0, 0, 0, 0)' || myDivObjBgColor.toString() === 'rgb(243, 243, 243)') {
                    ref.style.backgroundColor = '#012596',
                    ref.style.color = 'white'
                    this.rowCurrent = index
                } else {
                    ref.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                    ref.style.color = 'black',
                    this.rowCurrent = ''
                }
            } else {
                if(this.$refs['tableAsset'] != undefined) {
                    this.$refs['tableAsset'].forEach((element) => {
                        element.style.backgroundColor = 'rgba(0, 0, 0, 0)',
                        element.style.color = 'black'
                    })
                }
                this.rowCurrent = ''
            }
        },
        async selectedAssetInfo(index) {
            if(index !== '' && index != undefined) {
                let asset = this.assetList[index].asset
                let id = this.assetList[index].id
                this.propertiesData = this.assetList[index]
                if(asset === "Transformer") {
                    this.dialogWidth = `1000px`
                    this.titleAssetEdit = 'Edit Transformer'
                    let data = await this.loadAsset(asset, id)
                    this.openAddAsset = true
                    this.$nextTick(async () => {
                        if(this.$refs.transformer != undefined)
                            await this.$refs.transformer.loadDataEdit(JSON.parse(JSON.stringify(data)))
                    })
                } else if(asset === "Circuit breaker") {
                    this.dialogWidth = `1000px`
                    this.titleAssetEdit = 'Edit Circuit breaker'
                    let data = await this.loadAsset(asset, id)
                    this.openAddAsset = true
                    this.$nextTick(async () => {
                        if(this.$refs.circuitBreaker != undefined)
                            await this.$refs.circuitBreaker.loadData(JSON.parse(JSON.stringify(data)))
                    })
                } else if(asset === "Current transformer") {
                    this.dialogWidth = `1000px`
                    this.titleAssetEdit = 'Edit Current transformer'
                    let data = await this.loadAsset(asset, id)
                    this.openAddAsset = true
                    this.$nextTick(async () => {
                        if(this.$refs.currentTransformer != undefined)
                            await this.$refs.currentTransformer.loadData(JSON.parse(JSON.stringify(data)))
                    })
                } else if(asset === "Voltage transformer") {
                    this.dialogWidth = `1000px`
                    this.titleAssetEdit = 'Edit Voltage transformer'
                    let data = await this.loadAsset(asset, id)
                    this.openAddAsset = true
                    this.$nextTick(async () => {
                        if(this.$refs.voltageTransformer != undefined)
                            await this.$refs.voltageTransformer.loadData(JSON.parse(JSON.stringify(data)))
                    })
                } else if(asset === "Disconnector") {
                    this.dialogWidth = `1000px`
                    this.titleAssetEdit = 'Edit Disconnector'
                    let data = await this.loadAsset(asset, id)
                    this.openAddAsset = true
                    this.$nextTick(async () => {
                        if(this.$refs.disconnector != undefined)
                            await this.$refs.disconnector.loadData(JSON.parse(JSON.stringify(data)))
                    })
                } else if(asset === "Surge arrester") {
                    this.dialogWidth = `1000px`
                    this.titleAssetEdit = 'Edit Surge arrester'
                    let data = await this.loadAsset(asset, id)
                    this.openAddAsset = true
                    this.$nextTick(async () => {
                        if(this.$refs.surgeArrester != undefined)
                            await this.$refs.surgeArrester.loadData(JSON.parse(JSON.stringify(data)))
                    })
                } else if(asset === "Power cable") {
                    this.titleAssetEdit = 'Edit Power cable'
                    this.dialogWidth = `1300px`
                    let data = await this.loadAsset(asset, id)
                    this.openAddAsset = true
                    this.$nextTick(async () => {
                        if(this.$refs.powerCable != undefined)
                            await this.$refs.powerCable.loadData(JSON.parse(JSON.stringify(data)))
                    })
                }
            }
        },
        async updateAssetPage(pageStt) {
            let countDataTemp = JSON.parse(JSON.stringify(this.countData))
            let check = this.sl * pageStt
            var z = 0;
            if(this.optionAsset.mode == 'update') {
                if(this.countData.All != undefined) {
                    for(let i in this.keysData) {
                        z = z + this.countData[this.keysData[i]]
                        if(z >= check) {
                            if(i == 0) {
                                this.assetList = await this.apiFilter("Transformer", check - 5, this.sl)
                            } else {
                                let assetListData = []
                                let ppast = JSON.parse(JSON.stringify(check))
                                let remain = JSON.parse(JSON.stringify(z))
                                let slData = JSON.parse(JSON.stringify(this.sl))
                                countDataTemp[this.keysData[i]] = countDataTemp[this.keysData[i]] - (remain - ppast)
                                for(let j = i; j >= 0; j --) {
                                    if(slData > 0) {
                                        if(countDataTemp[this.keysData[j]] > slData) {
                                            var assetTemp = await this.apiFilter(this.keysData[j], countDataTemp[this.keysData[j]] - slData, slData)
                                        } else {
                                            var assetTemp = await this.apiFilter(this.keysData[j], 0, countDataTemp[this.keysData[j]])
                                        }
                                        assetListData = assetListData.concat(assetTemp)
                                        slData = slData - assetTemp.length
                                    } else {
                                        break
                                    }
                                }
                                this.assetList = assetListData
                            }
                            break
                        } else {
                            if(i == (this.keysData.length - 1)) {
                                let assetListData = []
                                let remain = z - (check - this.sl)
                                let slData = z - (check - this.sl)
                                for(let j = i; j >= 0; j --) {
                                    if(remain > 0) {
                                        let currentData = this.countData[this.keysData[j]] - this.sl
                                        let assetTemp = await this.apiFilter(this.keysData[j], currentData < 0 ? 0 : currentData, remain)
                                        assetListData = assetListData.concat(assetTemp)
                                        if(assetListData.length >= slData) {
                                            break
                                        } else {
                                            remain = remain - assetTemp.length
                                        }
                                    } else {
                                        break
                                    }
                                }
                                this.assetList = assetListData
                            }
                        }
                    }
                } else {
                    if(this.assetChosen != '') {
                        this.assetList = await this.apiFilterOverPage(this.assetChosen, pageStt, this.sl)
                    }
                }
            } else if(this.optionAsset.mode == 'search') {
                if(this.searchingAsset.asset != "") {
                    this.assetList = await assetCommonAPI.findAllAssetByField(this.searchingAsset, (pageStt - 1) * this.sl, this.sl)
                } else {
                    if(this.countData.All != undefined) {
                        for(let i in this.keysData) {
                            z = z + this.countData[this.keysData[i]]
                            if(z >= check) {
                                if(i == 0) {
                                    let assetData = JSON.parse(JSON.stringify(this.searchingAsset))
                                    assetData.asset = "Transformer"
                                    this.assetList = await assetCommonAPI.findAllAssetByField(assetData, (pageStt - 1) * this.sl, this.sl)
                                } else {
                                    let assetListData = []
                                    let ppast = JSON.parse(JSON.stringify(check))
                                    let remain = JSON.parse(JSON.stringify(z))
                                    let slData = JSON.parse(JSON.stringify(this.sl))
                                    countDataTemp[this.keysData[i]] = countDataTemp[this.keysData[i]] - (remain - ppast)
                                    console.log(this.countData)
                                    for(let j = i; j >= 0; j --) {
                                        if(slData > 0) {
                                            let assetData = JSON.parse(JSON.stringify(this.searchingAsset))
                                            assetData.asset = this.keysData[j]
                                            if(countDataTemp[this.keysData[j]] > slData) {
                                                var assetTemp = await assetCommonAPI.findAllAssetByField(assetData, countDataTemp[this.keysData[j]] - slData, slData)
                                            } else {
                                                var assetTemp = await assetCommonAPI.findAllAssetByField(assetData, 0, countDataTemp[this.keysData[j]])
                                            }
                                            assetListData = assetListData.concat(assetTemp)
                                            slData = slData - assetTemp.length
                                        } else {
                                            break
                                        }
                                    }
                                    this.assetList = assetListData
                                }
                                break
                            } else {
                                if(i == (this.keysData.length - 1)) {
                                    let assetListData = []
                                    let remain = z - (check - this.sl)
                                    let slData = z - (check - this.sl)
                                    for(let j = i; j >= 0; j --) {
                                        if(remain > 0) {
                                            let currentData = this.countData[this.keysData[j]] - this.sl
                                            let assetData = JSON.parse(JSON.stringify(this.searchingAsset))
                                            assetData.asset = this.keysData[j]
                                            let assetTemp = await assetCommonAPI.findAllAssetByField(assetData, currentData < 0 ? 0 : currentData, remain)
                                            assetListData = assetListData.concat(assetTemp)
                                            if(assetListData.length >= slData) {
                                                break
                                            } else {
                                                remain = remain - assetTemp.length
                                            }
                                        } else {
                                            break
                                        }
                                    }
                                    this.assetList = assetListData
                                }
                            }
                        }
                    }
                }
            }
            this.selectRowAsset()
            this.indexUser = (pageStt - 1) * this.sl  
        },
        async apiFilter(data, stt, sl) {
            if(data == 'Transformer') {
                let temp = await transformerAPI.findAssetListOffset(stt, sl)
                return temp
            } else if(data == 'Circuit breaker') {
                let temp = await circuitAPI.findAssetListOffset(stt, sl)
                return temp
            } else if(data == 'Current transformer') {
                let temp = await currentAPI.findAssetListOffset(stt, sl)
                return temp
            } else if(data == 'Voltage transformer') {
                let temp = await voltageAPI.findAssetListOffset(stt, sl)
                return temp
            } else if(data == 'Disconnector') {
                let temp = await disconnectorAPI.findAssetListOffset(stt, sl)
                return temp
            } else if(data == 'Surge arrester') {
                let temp = await surgeAPI.findAssetListOffset(stt, sl)
                return temp
            } else if(data == 'Power cable') {
                let temp = await powerAPI.findAssetListOffset(stt, sl)
                return temp
            }
        },
        async apiFilterOverPage(data, stt, sl) {
            if(data == 'Transformer') {
                let temp = await transformerAPI.findAssetList(stt, sl)
                return temp
            } else if(data == 'Circuit breaker') {
                let temp = await circuitAPI.findAssetList(stt, sl)
                return temp
            } else if(data == 'Current transformer') {
                let temp = await currentAPI.findAssetList(stt, sl)
                return temp
            } else if(data == 'Voltage transformer') {
                let temp = await voltageAPI.findAssetList(stt, sl)
                return temp
            } else if(data == 'Disconnector') {
                let temp = await disconnectorAPI.findAssetList(stt, sl)
                return temp
            } else if(data == 'Surge arrester') {
                let temp = await surgeAPI.findAssetList(stt, sl)
                return temp
            } else if(data == 'Power cable') {
                let temp = await powerAPI.findAssetList(stt, sl)
                return temp
            }
        },
        async apiFilterCountOverPage(data) {
            if(data == 'Transformer') {
                let temp = await transformerAPI.countAssetList()
                return temp
            } else if(data == 'Circuit breaker') {
                let temp = await circuitAPI.countAssetList()
                return temp
            } else if(data == 'Current transformer') {
                let temp = await currentAPI.countAssetList()
                return temp
            } else if(data == 'Voltage transformer') {
                let temp = await voltageAPI.countAssetList()
                return temp
            } else if(data == 'Disconnector') {
                let temp = await disconnectorAPI.countAssetList()
                return temp
            } else if(data == 'Surge arrester') {
                let temp = await surgeAPI.countAssetList()
                return temp
            } else if(data == 'Power cable') {
                let temp = await powerAPI.countAssetList()
                return temp
            }
        },
        async handleCloseAsset() {
            this.signProperties = false
        },
        async handleConfirmAsset() {
            try {
                let data = await this.$refs.assetProperties.getData()
                if(data.asset == "Transformer") {
                    let check = await transformerAPI.updateAssetLite(data, data.id)
                    if(check == undefined) {
                        this.$message.error("Update fail")
                    } else {
                        this.signProperties = false
                        await this.updateLite(data)
                        this.$message.success("Update success")
                    }
                } else if(data.asset == "Circuit breaker") {
                    let check = await circuitAPI.updateAssetLite(data, data.id)
                    if(check == undefined) {
                        this.$message.error("Update fail")
                    } else {
                        this.signProperties = false
                        await this.updateLite(data)
                        this.$message.success("Update success")
                    }
                } else if(data.asset == "Current transformer") {
                    let check = await currentAPI.updateAssetLite(data, data.id)
                    if(check == undefined) {
                        this.$message.error("Update fail")
                    } else {
                        this.signProperties = false
                        await this.updateLite(data)
                        this.$message.success("Update success")
                    }
                } else if(data.asset == "Voltage transformer") {
                    let check = await voltageAPI.updateAssetLite(data, data.id)
                    if(check == undefined) {
                        this.$message.error("Update fail")
                    } else {
                        this.signProperties = false
                        await this.updateLite(data)
                        this.$message.success("Update success")
                    }
                } else if(data.asset == "Surge arrester") {
                    let check = await surgeAPI.updateAssetLite(data, data.id)
                    if(check == undefined) {
                        this.$message.error("Update fail")
                    } else {
                        this.signProperties = false
                        await this.updateLite(data)
                        this.$message.success("Update success")
                    }
                } else if(data.asset == "Disconnector") {
                    let check = await disconnectorAPI.updateAssetLite(data, data.id)
                    if(check == undefined) {
                        this.$message.error("Update fail")
                    } else {
                        this.signProperties = false
                        await this.updateLite(data)
                        this.$message.success("Update success")
                    }
                } else if(data.asset == "Power cable") {
                    let check = await powerAPI.updateAssetLite(data, data.id)
                    if(check == undefined) {
                        this.$message.error("Update fail")
                    } else {
                        this.signProperties = false
                        await this.updateLite(data)
                        this.$message.success("Update success")
                    }
                }
            } catch(e) {
                console.log(e)
                this.$message.error("Update asset failed")
            }
        },
        async handleConfirmAssetEdit() {
            try {
                if(this.propertiesData.asset == "Transformer") {
                    let data = await this.$refs.transformer.getData()
                    let mergeData = Object.assign({}, data.properties, data.winding_configuration, data.ratings, data.impedances, data.others)
                    let bushing = JSON.parse(JSON.stringify(data.bushings_config))
                    let tapChangers = JSON.parse(JSON.stringify(data.tapChangers))
                    console.log(mergeData)
                    // try {
                    //     mergeData.location_id = this.locationData.id
                    //     let keysAsset = Object.keys(mergeData)
                    //     for(let i in keysAsset) {
                    //         if(typeof mergeData[keysAsset[i]] == 'object' ) {
                    //             mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                    //         }
                    //     }
                    //     let asset = await transformerAPI.createdTransformer(mergeData)
                    //     try {
                    //         let keyBushing = Object.keys(bushing)
                    //         bushing.asset_id = asset.id
                    //         bushing.id = ''
                    //         for(let i in keyBushing) {
                    //             if(typeof bushing[keyBushing[i]] == 'object' ) {
                    //                 bushing[keyBushing[i]] = JSON.stringify(bushing[keyBushing[i]])
                    //             }
                    //         }
                    //         await bushingAPI.createBushing(bushing)
                    //     } catch(e) {
                    //         this.$message.error("Insert transformer but not bushing")
                    //     }
                    //     try {
                    //         let keyTapChangers = Object.keys(tapChangers)
                    //         tapChangers.asset_id = asset.id
                    //         tapChangers.id = ''
                    //         for(let i in keyTapChangers) {
                    //             if(typeof tapChangers[keyTapChangers[i]] == 'object' ) {
                    //                 tapChangers[keyTapChangers[i]] = JSON.stringify(tapChangers[keyTapChangers[i]])
                    //             }
                    //         }
                    //         await tapchangerAPI.createTapChanger(tapChangers)
                    //     } catch(e) {
                    //         this.$message.error("Insert transformer but not tapchanger")
                    //     }
                        
                    // } catch(e) {
                    //     this.$message.error("Cannot insert transformer")
                    // }
                } else if(this.propertiesData.asset == "Circuit breaker") {
                    try {
                        let data = await this.$refs.circuitBreaker.getData()
                        let mergeData = Object.assign({}, data, data.properties)
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let rs = await circuitAPI.save([mergeData])
                        this.$message.success("Insert circuit breaker successful")
                        this.openAddAsset = false
                    } catch(e) {
                        console.log(e)
                        this.$message.error("Cannot insert circuit breaker")
                    }
                } else if(this.propertiesData.asset == "Current transformer") {
                    try {
                        let data = await this.$refs.currentTransformer.getData()
                        let mergeData = Object.assign({}, data, data.properties)
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let rs = await currentAPI.save([mergeData])
                        this.$message.success("Insert current transformer successful")
                        this.openAddAsset = false
                    } catch(e) {
                        console.log(e)
                        this.$message.error("Cannot insert current transformer")
                    }
                } else if(this.propertiesData.asset == "Voltage transformer") {
                    try {
                        let data = await this.$refs.voltageTransformer.getData()
                        let mergeData = Object.assign({}, data, data.properties)
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let rs = await voltageAPI.save([mergeData])
                        this.$message.success("Insert voltage transformer successful")
                        this.openAddAsset = false
                    } catch(e) {
                        console.log(e)
                        this.$message.error("Cannot insert voltage transformer")
                    }
                } else if(this.propertiesData.asset == "Surge arrester") {
                    try {
                        let data = await this.$refs.surgeArrester.getData()
                        let mergeData = Object.assign({}, data, data.properties)
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let rs = await surgeAPI.save([mergeData])
                        this.$message.success("Insert surge arrester successful")
                        this.openAddAsset = false
                    } catch(e) {
                        console.log(e)
                        this.$message.error("Cannot insert surge arrester")
                    }
                } else if(this.propertiesData.asset == "Disconnector") {
                    try {
                        let data = await this.$refs.disconnector.getData()
                        let mergeData = Object.assign({}, data, data.properties)
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let rs = await disconnectorAPI.save([mergeData])
                        this.$message.success("Insert disconnector successful")
                        this.openAddAsset = false
                    } catch(e) {
                        console.log(e)
                        this.$message.error("Cannot insert disconnector")
                    }
                } else if(this.propertiesData.asset == "Power cable") {
                    try {
                        let data = await this.$refs.powerCable.getData()
                        let mergeData = Object.assign({}, data, data.properties)
                        mergeData.location_id = this.locationData.id
                        let keysAsset = Object.keys(mergeData)
                        for(let i in keysAsset) {
                            if(typeof mergeData[keysAsset[i]] == 'object' ) {
                                mergeData[keysAsset[i]] = JSON.stringify(mergeData[keysAsset[i]])
                            }
                        }
                        let rs = await powerAPI.save([mergeData])
                        this.$message.success("Insert power cable")
                        this.openAddAsset = false
                    } catch(e) {
                        console.log(e)
                        this.$message.error("Cannot insert power cable")
                    }
                }
            } catch (e) {
                console.log(e)
                this.$message.error("Update failed")
            }
        },
        async updateLite(data) {
            this.assetList[this.rowCurrent].serial_no = data.serial_no
            this.assetList[this.rowCurrent].manufacturer = data.manufacturer
            this.assetList[this.rowCurrent].manufacturer_type = data.manufacturer_type
            this.assetList[this.rowCurrent].manufacturing_year = data.manufacturing_year
            this.assetList[this.rowCurrent].asset_system_code = data.asset_system_code
            this.assetList[this.rowCurrent].apparatus_id = data.apparatus_id
            this.assetList[this.rowCurrent].feeder = data.feeder
        },
        async backSign(sign) {
            this.showAdd = sign
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
                this.modeManu = 'insert'
            } catch(e) {
                this.modeManu = 'insert'
                this.$message.error("Cannot load manufacturer")
            }
        },
        async backSignUpdate(dataUpdate) {
            this.showAdd = false
            try {
                let rs = await manuAPI.getManuByType(this.title)
                this.manufacturerCustom = rs
            } catch(e) {
                this.$message.error("Cannot load manufacturer")
            }
            this.modeManu = 'insert'
            this.update = true
            this.updateNew = dataUpdate
        },
        async editManu(item) {
            try {
                let rs = await manuAPI.getManuByName(item.name)
                this.dataProperties = rs[0]
                this.showAdd = true
                this.modeManu = 'edit'
            } catch {
                this.$message.error("Cannot load manufacturer")
            }
            
        },
        async handleCloseLocationList() {
            this.locationData = {}
            this.openLocationList = false
        },
        async changeLocationList(data) {
            this.locationData = data
        },
        async handleCloseAssetEdit() {
            this.openAddAsset = false
        },
        async handleChosenLocation() {
            this.openLocationList = true
            this.$nextTick(async () => {
                await this.$refs.locationListData.getAllLocation()
            })
        },
        async handleConfirmLocationList() {
            this.openLocationList = false
        },
        async loadAsset(type, id) {
            try {
                if(type === "Transformer") {
                    let data = await transformerAPI.getAssetById(id);
                    if(data != null && data != undefined) {
                        return data
                    } else {
                        return null
                    }
                } else if(type === "Circuit breaker") {
                    let data = await circuitAPI.getAssetById(id);
                    if(data != null && data != undefined) {
                        return data
                    } else {
                        return null
                    }
                } else if(type === "Current transformer") {
                    let data = await currentAPI.getAssetById(id);
                    if(data != null && data != undefined) {
                        return data
                    } else {
                        return null
                    }
                } else if(type === "Voltage transformer") {
                    let data = await voltageAPI.getAssetById(id);
                    if(data != null && data != undefined) {
                        return data
                    } else {
                        return null
                    }
                } else if(type === "Disconnector") {
                    let data = await disconnectorAPI.getAssetById(id);
                    if(data != null && data != undefined) {
                        return data
                    } else {
                        return null
                    }
                } else if(type === "Surge arrester") {
                    let data = await surgeAPI.getAssetById(id);
                    if(data != null && data != undefined) {
                        return data
                    } else {
                        return null
                    }
                } else if(type === "Power cable") {
                    let data = await powerAPI.getAssetById(id);
                    if(data != null && data != undefined) {
                        return data
                    } else {
                        return null
                    }
                }
            } catch(e) {
                this.$message.error("Cannot load asset")
            }
        }
    }
}
</script>
<style lang="scss" scoped>
    .styled-table th {
        word-wrap: break-word; /* Ngắt dòng khi nội dung dài */
        word-break: break-word;
    }
</style>