<template>
  <div id="app">
      <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
}
</script>

<style>
@charset "utf-8";
#app {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 14px;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  /* color: #2c3e50; */
  margin-top: 60px;
}
html, body {
  overflow: hidden; /* Tắt overflow cho toàn bộ trang */
}
.el-message-box {
  font-family: Arial, Helvetica, sans-serif !important;
}

.el-divider--horizontal {
  height: 2px !important;
}

.el-divider {
  background-color : black !important;
}

.el-select-dropdown__item {
  font-family: Arial, Helvetica, sans-serif !important;
}

.el-textarea__inner {
  font-family: Arial, Helvetica, sans-serif !important;
}
.header-toggle {
  background: #99a9bf;
  padding: 5px 15px;
  margin-bottom: 5px;
}
.pointer {
  cursor: pointer;
}
table.table-strip-input-data {
    border-spacing: 0;
    width: 100%;
    /* border: 1px solid #ddd; */
    border-collapse: collapse;
}

table.table-strip-input-data th,
td {
    padding: 1px 10px;
    height: 30px;
}

table.table-strip-input-data tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    text-align: left;
}

table.table-strip-input-data > thead {
    background-color: #dbdbdb;
}

table.table-strip-input-data > thead > tr > th {
    border: thin solid #fff;
    text-align: center;
}

table.table-strip-input-data > tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}
.bolder {
  font-weight: bold;
}
</style>
