<template>
    <div :id="windowsClass">
        <top-bar :waitingChat="waitingChat" @chatSign="chatSign" ref="top-bar"></top-bar>
        <section id="main-windows">
            <router-view @waitingMessage="waitingMessage" @updateMessage="updateMessage" :chatSign="chatSignData"></router-view>
        </section>
    </div>
</template>

<script>
/* eslint-disable */
import TopBar from '@/components/TopBar'

export default {
    name : 'Layout',
    components: {
        TopBar
    },
    data() {
        return {
            chatSignData : false,
            waitingChat : []
        }
    },
    computed: {
    // Kiểm tra nếu route không phải 'login' thì thêm padding-top
        windowsClass() {
            return this.$route.name != 'login' ? 'windows' : 'windowsNoPadding';
        },
    },
    methods:{
        chatSign(value) {
            this.chatSignData = value
        },
        async updateMessage(data) {
            if(this.$refs["top-bar"] != null) {
                await this.$refs["top-bar"].reloadChat(data)
            }
        },
        async waitingMessage(data) {
            if(data != null && data.length != 0) {
                this.waitingChat = data
            }
        }
    }
}
</script>

<style lang="scss" scoped>
#windows {
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;

    #main-windows {
        width: 100%;
        height: calc(100% - 38px);
    }
}

#windowsNoPadding {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    #main-windows {
        width: 100%;
        height: calc(100%);
        transform: translateY(-30px)
    }
}

</style>
