<template>
    <div id="ratings" class="mgy-5">
        <el-row>
            <el-col :span="24">
                <div style="font-weight: bold;" class="header-toggle pointer" @click="openOthers = !openOthers">
                    <i v-if="openOthers" class="fa-solid fa-caret-up"></i>
                    <i v-else class="fa-solid fa-caret-down"></i>
                    Others
                </div>
            </el-col>
        </el-row>
        <div class="content-toggle" v-if="openOthers">
            <el-row class="content">
                <el-col :span="12" class="col-content">
                    <el-form :inline-message="true" :label-width="labelWidth" size="mini" label-position="left">
                        <el-form-item label="Total Weight with gas">
                            <el-input v-model="othersData.totalWithgas">
                                <div style="width: 15px;" slot="append">kg</div>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Weight of gas">
                            <el-input v-model="othersData.weightGas">
                                <div style="width: 15px;" slot="append">kg</div>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Volume of gas">
                            <el-input v-model="othersData.VolumeGas">
                                <div style="width: 15px;" slot="append">l</div>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Rated gas pressure">
                            <div style="width: 100%;">
                                <el-col style="width: 45%;">
                                    <el-input style="width: 100%;" v-model="othersData.pa">
                                        <div style="width: 15px;" slot="append">Pa</div>
                                    </el-input>
                                </el-col>
                                <el-col style="width: 10%;">
                                    <div style="text-align: center;">@</div>
                                </el-col>
                                <el-col style="width: 45%;">
                                    <el-input v-model="othersData.Celsius">
                                        <div style="width: 15px;" slot="append">°C</div>
                                    </el-input>
                                </el-col>
                            </div>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
export default {
    name : "others",
    props : {
        others : {
            type : Object,
            require : true,
        }
    },
    data() {
        return {
            openOthers : "true",
            labelWidth : `300px`
        }
    },
    computed: {
        othersData() {
            return this.others
        }
    }
}
</script>