<template>
    <div id="ratings" class="mgy-5">
        <el-row>
            <el-col :span="24">
                <div style="font-weight: bold;" class="header-toggle pointer" @click="openRatings = !openRatings">
                    <i v-if="openRatings" class="fa-solid fa-caret-up"></i>
                    <i v-else class="fa-solid fa-caret-down"></i>
                    Ratings
                </div>
            </el-col>
        </el-row>
        <div class="content-toggle" v-if="openRatings">
            <el-row class="content">
                <el-col :span="12" class="col-content">
                    <el-form :inline-message="true" :label-width="labelWidth" size="mini" label-position="left">
                        <el-form-item label="Rated frequency">
                            <el-col style="width: calc(50% - 5px);" class="pdl-0">
                                <el-select v-model="ratingsData.rated_frequency">
                                    <el-option label="Custom" value="Custom"></el-option>
                                    <el-option label="60Hz" value="60"></el-option>
                                    <el-option label="50Hz" value="50"></el-option>
                                    <el-option label="16.7Hz" value="16.7"></el-option>
                                </el-select>
                            </el-col>
                            <el-col style="margin-left: 10px; width: calc(50% - 5px);" class="pdr-0" v-if="ratingsData.rated_frequency === 'Custom'">
                                <el-input v-model="ratingsData.rated_frequency_custom">
                                    <template slot="append">Hz</template>
                                </el-input>
                            </el-col>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
            <el-row class="content">
                <el-col :span="12" class="col-content">
                    <el-form :inline-message="true" :label-width="labelWidth" size="mini" label-position="left">
                        <el-form-item label="Rated voltage L-L">
                            <el-input v-model="ratingsData.rated_voltage_ll">
                                <div style="width: 15px;" slot="append">kV</div>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Rated current">
                            <el-input v-model="ratingsData.rated_current">
                                <div style="width: 15px;" slot="append">A</div>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Rated short-circuit breaking current">
                            <el-input v-model="ratingsData.rated_shortcircuit">
                                <div style="width: 15px;" slot="append">kA</div>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Short-circuit nominal duration">
                            <el-input v-model="ratingsData.shortcircuit_nominal">
                                <div style="width: 15px;" slot="append">s</div>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Rated insulation level (BIL)">
                            <el-input v-model="ratingsData.rated_insulation">
                                <div style="width: 15px;" slot="append">kV</div>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Rated interrupting time">
                            <el-input v-model="ratingsData.rated_interrupt">
                                <div style="width: 15px;" slot="append">ms</div>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="interrupting duty cycle">
                            <el-input style="width: 100%;" v-model="ratingsData.interrupt_duty"></el-input>
                        </el-form-item>
                        <el-form-item label="Rated power at closing">
                            <el-input v-model="ratingsData.rated_power_closing">
                                <div style="width: 15px;" slot="append">W</div>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Rated power at opening">
                            <el-input v-model="ratingsData.rated_power_open">
                                <div style="width: 15px;" slot="append">W</div>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Rated power at motor charge">
                            <el-input v-model="ratingsData.rated_power_charge">
                                <div style="width: 15px;" slot="append">W</div>
                            </el-input>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
export default {
    name : "cirBreakRating",
    props : {
        ratings : {
            type : Object,
            require : true,
        }
    },
    data() {
        return {
            openRatings : "true",
            labelWidth : `300px`
        }
    },
    computed: {
        ratingsData() {
            return this.ratings
        }
    }
}
</script>
